@font-face {
	font-family:UbuntuTitling;
	src: url('../images/UbuntuTitling.ttf'); /* IE9+ */
}
body,html { width: 100%; overflow-x: hidden;}
body {font: 86% Microsoft YaHei ; font-weight:normal; background:url(../images/bg.png) repeat; background-size: 50%; color:#fff; }
.now{ width: 100%;font-size: 3.4vw; text-align: center;}
.now:before,.now:after { content: '-';color: #cba99a;margin:0 1vw; }
main { margin-bottom: 26vw; margin-top: 85vw; }
/*上部*/
header:before,.inside_header:before { content: ''; display: block; width: 100%; height: 9vw; position:fixed; top: 0; background: url(../images/topbar_bg.png) bottom center; background-size: 101% auto; }
header {margin-top: 9vw; width: 100%; font-size:4vw; min-height:68vw; position:relative; position: fixed; z-index: 88; left: 0;top: 0; background:url(../images/bg.png) repeat; background-size: 50%; }
	header nav { padding:3vw 3.5vw 3.5vw; border-bottom:1px solid rgba(168, 119, 99, .5); position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; }
	header nav .leftbox,header nav .ff28_tit, header nav .ff28_smenu, header .ff28_number .ff28_numbertxt, header .ff28_number .ff28_numbercon ul, header .ff28_number .ff28_numbercon ol { display:flex; align-items:center; }
	header nav .leftbox, header nav .ff28_smenu, header nav .leftbox { flex:1 1 0%; }
	header nav .ff28_tit { font-size: 5vw; letter-spacing: 1px; }
	header nav .ff28_smenu > img { width:10vw; top:1.5vw; right:3.5vw; z-index:1; }
	header nav .ff28_smenucon { font-size: 3.5vw; display:none; position:absolute; top:14vw;width: 92%; left: 4%; z-index:9999;background:linear-gradient(to top, #d5bca9, #ecd9ca 85%); border-radius:5px; box-shadow:0 0 14px 5px rgba(0, 0, 0, 0.8);}
	header nav .ff28_smenucon p { background: rgba(187,148,117,.5); color: #22201e; z-index: 5; width: 97%; position: absolute; margin: 1.5%;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-align: center; height:8vw; line-height: 8vw; }
	header nav .ff28_smenucon p span { padding-right: 1vw; color: #b83c28; }
	header nav .ff28_smenucon ul { font-size:3.5vw;  color:#3d251c; padding:0 1vw 3.5vw;  display:flex; margin-top: 9.50vw; }
	header nav .ff28_smenucon ul::before{ content:""; background:#ecd9ca; width:6.5vw; height:6.5vw; transform:rotate(225deg); margin-top:-2vw; position:absolute; top:0; right:3vw; z-index:4; }
	header nav .ff28_smenucon ul li {  text-align:center;width: 23.4vw; display:flex; flex-direction:column; position:relative;}
	header nav .ff28_smenucon ul li::after { content:"..."; font-size:8vw; color:#ae826f; transform:rotate(90deg); position:absolute; top:5vw; right:-5.5vw; z-index:4; }
	header nav .ff28_smenucon ul li:last-child::after { content:""; }
	header nav .ff28_smenucon ul li div:first-child { height:14vw; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	header nav .ff28_smenucon ul li div.pad_t1 { padding-top:5px; }
	header nav .ff28_smenucon ul li div.pad_l1 { padding-left:6px; }
	header nav .ff28_smenucon ul li a { text-decoration: none;  color: #3d251c; }
	header nav .ff28_smenucon ul li img { width:10vw;  position:relative; z-index:4; }
	header nav .leftbox > img { width:10vw; z-index:1; margin-top:1.5vw;margin-left: 1vw;}
	header nav .volume { position: absolute; left: 16vw; top: 0; }
	header nav .volume img { width:10vw;  z-index:1;padding-top: 1.5vw;}
	header nav .volume img:last-child { display: none; }
	header img { width:100%; position:absolute; top:0; z-index:-2; }
	
	header .ff28_number { font-family:UbuntuTitling; font-size:3vw; padding:3vw 4.5vw; border-top:1px solid rgba(65, 38, 28, .5); display:flex; justify-content:space-between; }
	header .ff28_number .ff28_numbercon ul, header .ff28_number .ff28_numbercon ol { padding-top:1.5vw; }
	header .ff28_number .ff28_numbercon .ff28_jend, header .ff28_number .ff28_numbercon ol { justify-content:flex-end; }
	header .ff28_number .ff28_numbercon ul li, header .ff28_number .ff28_numbercon ol li { font-size:6vw; font-weight:bold; color:#2c1b13; width:9vw; height:9vw; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	header .ff28_number .ff28_numbercon ol li { color:#fff; border-radius:7px; text-shadow:0px 3px 6px rgba(39, 29, 26, 0.8); width:6vw; height:8vw; margin:0 1% 0; }
	header .ff28_number .ff28_numbercon ul li img { width:9vw; position:absolute; top:0; left:0; z-index:-1; }
	header .ff28_number .ff28_numbercon ol li:nth-child(1), header .ff28_number .ff28_numbercon ol li:nth-child(2) , header .ff28_number .ff28_numbercon ol li:nth-child(3) { background:rgba(15,10,9,.3); padding:2px 0 0 2px; box-shadow:0px 1px 1px 0 rgba(200, 154, 128, 0.2), inset 0px 2px 6px 0 #352117; }
	header .ff28_number .ff28_numbercon ol li:nth-child(4) { font-size:3.8vw; font-weight:normal; margin:0 -5px 0 0; box-shadow:none; }
	header .ff28_number .ff28_numbercon .ff28_numbertxt img { width:9%; padding-right:3px; position:relative; z-index:1; }
	header .ff28_number .ff28_numbercon ul li+li { margin-left: 1vw;}
	header .ff28_number .ff28_numbercon ul li+li:before {color: #3d251c; content: '+';font-size:4vw; display:flex; position: absolute; left: -1.5vw; }
	header .ff28_number .ff28_numbercon ul li:last-child { width: 13.5vw; color: #fcefe6;margin-left: 1.5vw; }
	header .ff28_number .ff28_numbercon ul li:last-child img{width:100%;}
	header .ff28_number .ff28_numbercon ul li:last-child:before {content: '=';}


/*下注數*/
.ff28_note_left {font-size: 3vw; line-height: 4.5vw;width:29vw; padding:0 4.3vw; position: absolute; bottom: 1.5vw; }
	.ff28_note_left p {padding:0 1vw; }
	.ff28_note_left span { color:#cba99a; padding:0 2px; }
	.ff28_note_left img { width: 5vw; z-index: 1; top: -6vw; margin-left: 0.5vw;}

/*下注數*/
.ff28_note_right {font-size: 3vw; line-height: 4.5vw;width:29vw;  position: absolute; bottom: 1.5vw; right: 4.3vw; text-align: right; }
	.ff28_note_right span { color:#cba99a; padding:0 2px; }

/*list共用*/
.ff28_kind { width: 90%; margin:12px auto; border-radius: 6px; background:rgba(0,0,0,0.7);box-shadow: 0px 2px 5px 0 rgba(120, 120, 120, 0.8), inset 0px 3px 1px 1px rgba(11, 11, 11, 0.5); padding: 1% 0; }
.ff28_kind h2 { font-weight: bold;  background: url(../images/list_title_bg.png) top center no-repeat;background-size:100% auto;font-size:4.2vw;color:#bc9a80; text-align:center; position:relative; padding: 5% 0 3%; margin:0 .5%; }
.ff28_kind h2 span { font-size:3.2vw; font-weight:200; position:absolute; top:5vw; left:2vw; }
.ff28_kind .ff28_btn_box { margin:0 1%; display:flex; }
.ff28_kind .ff28_btn_box > div {  min-height:14vw;  margin:.7% .5%;border-radius: 6px; background:  url(../images/btn_bg.png); background-size:100% 100%; border-top: 1px solid rgba(124,124,124,.9);box-shadow: inset 0px 1px 2px 0 rgba(90, 90, 90, 0.4), inset 0 0 2px 0 rgba(255, 255, 255, 0.4);  position:relative; display:flex; flex:1 1 0%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center;}
.ff28_kind .ff28_btn_box > div.active { background:  url(../images/btn_bg_active.png); background-size:100% 100%; border-image-source: url(../images/btn_bg_active_border.png); border-image-slice:22; border-image-width:1.2vw; border-image-repeat: stretch;border-radius:1.2vw; }
	/*混合*/
	.mix_con h6{ font-size:5vw; font-weight: normal;  }
	.mix_con h5 {position: absolute;font-size:2.6vw; color:#bc9a80; top:1vw; left:1vw; font-weight: normal; }
	.mix_con p {position: absolute;font-size:2.2vw; right:1.2vw; bottom:1vw; }

	/*數字*/
	.ff28_kind .ff28_btn_box div span {display: block; color: #232120; font-weight: bold;  text-align: center; background: url(../images/num_bg.png) top center no-repeat;background-size:100% 100%; }
	.ff28_kind .ff28_btn_box div.active span { background: url(../images/num_bg_active.png) top center no-repeat;background-size:100% 100%; }
		.ff28_kind .ff28_btn_box.onecon div span{ width: 10vw; line-height:10vw;  font-size: 5vw;}
		.ff28_kind .ff28_btn_box.twocon div span{ width: 6.5vw; line-height: 6.5vw;  font-size: 4vw;}
		.ff28_kind .ff28_btn_box.twosamecon div span{ width: 7.8vw; line-height: 7.8vw;  font-size: 4.8vw;}
		.ff28_kind .ff28_btn_box.threecon div span{ width: 5.4vw; line-height: 5.4vw;  font-size: 3.8vw;}
	/*和值*/
	.ff28_kind .ff28_btn_box > div.sum_con{ text-align: center;flex-direction: column;}   
	.sum_con h6{ font-size:6vw; font-weight: normal;}
	.sum_con h5 {font-size:2.8vw; color:#bc9a80; line-height: 5vw; font-weight: normal; }

	/*混合*/
	.divided_con h6{ font-size:6vw; font-weight: normal; line-height: 6vw;  }

/*Footer*/
footer { position: fixed; bottom: 0; width: 100%; background: url(../images/bottom_bg.png); -webkit-background-size: 100% 100%;z-index: 90; background-size: 100% 100%;padding-bottom: 3vw; }
footer .bottom_btnbox { display: flex; align-items: center; padding: 1% 3%; padding-top: 1.5%;}
footer button { flex: 1 1 0; margin:1vw 0.5vw; font-size: 3vw; line-height:6.5vw; padding:2vw 0 1vw; color: #cdbab0; position: relative;border-radius: 8px;box-shadow: 0px 1px 1px 0 rgba(200, 154, 128, 0.2); background-color:rgba(48,27,17,.5); border: 0; display: flex; align-items: center;justify-content: center; flex-direction: column;}
footer button > img { width:auto; height: 4.8vw; display: block; vertical-align: middle; }
footer button:last-child {flex: 1 1 4%;  background: url(../images/bot_btn_bg.png) center; background-size:102% 109%; color: #3a2a24; }
footer button:first-child {flex: 1 1 4%;  background: url(../images/bot_btn_bg1.png) center; background-size:102% 109%; color: #3a2a24; }
footer button:first-child span { position: absolute; top:0.8vw; right: 2.5vw;opacity: 1; animation:star 1s infinite;-webkit-animation:star 1s infinite; transform: rotate(0deg); }
footer button:first-child span img { width: 3vw; }
@keyframes star{
    0%{
        top: 1vw;opacity: 1;transform: rotate(0deg);
    }
    50%{
        top: 1.3vw;opacity: 0.8;transform: rotate(90deg);
    }
    100%{
    	top: 0.9vw;opacity: 1;transform: rotate(0deg);
    }
}
/*投注倍率*/
.bot_menu_popup { position: fixed; bottom: 18vw; left: 2%; width: 96%; height: auto; background: url(../images/bottom_popup_bg.png) top center;background-size:100% 100% ; padding: 2% 0; z-index: 90}
.bot_menu_popup .bot_menu_input:after { content: ''; width:9vw; height: 9vw; background:url(../images/bottom_popup_bg_a.png) bottom center no-repeat; background-size: 100% auto; position: fixed; bottom:16vw; left: 28vw; }
.bot_menu_popup .bot_menu_btn { display:flex; align-items: center; text-align: center;padding:4% 3% 0; }
.bot_menu_popup .bot_menu_btn div { font-family:UbuntuTitling;flex: 1 1 0;font-size: 3vw; width: 14%; height: 14vw; line-height: 14vw; color: #3d251c; background: url(../images/num_btn_bg.png); background-size: cover; margin:0 1%;}
.bot_menu_popup .bot_menu_btn div.active{background: url(../images/num_btn_bg_active.png); background-size: cover; color: #d9c4b7;}
.bot_menu_input {display: flex; align-items: center; padding: 0 5%;font-size: 4vw;line-height: 10vw; height: 10vw; margin-bottom: 6vw; margin-top: 2vw; }
.bot_menu_input input { font-size: 5vw; text-align: center; height: 100%; width: 35%; border: 0;box-shadow: inset 0 0 13.6px 2.4px rgba(61, 39, 31, 0.28); color: #fff; background-color: #1f130d;padding: 0; }
.bot_menu_input button {position: relative; font-size: 5vw; width: 15%; height: 100%; padding: 0; border: 0; background-image: linear-gradient(to bottom, #302019, #302019), linear-gradient(to left, #bb876a, #513424); color: #fff;}
.bot_menu_input button:last-child:before { content: ''; display: block; width: 5px; height: 100%; background: #1f130d;position: absolute; left: -5px; top: 0; }
.bot_menu_input button:first-child:before { content: ''; display: block; width: 5px; height: 100%; background: #1f130d;position: absolute; right: -5px; top: 0; }
.bot_menu_input button:first-child {margin-left: 10px; border-top-left-radius: 5vw;border-bottom-left-radius: 5vw; }
.bot_menu_input button:last-child {border-top-right-radius: 5vw;border-bottom-right-radius: 5vw; }
	.bot_menu_input button svg {width: 5vw; margin-top: 1.5vw;}
	.bot_menu_input button svg path{  color: #fff; }
.window_bg { width: 100%; height: 100%; background: rgba(0,0,0,0);position: fixed; top: 0; left: 0;z-index: 89; }

/*跳窗*/
.window_con {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center;top: 0; left: 0;}
.window_con .window_box { position: relative; z-index:99;width: 80%; margin: 0 auto;}
.window_con .window_box > div { display: none; text-align: center; border-radius:8px; box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.5); background-image: linear-gradient(to top, #d5bca9, #ecd9ca 85%); padding-bottom: 8vw;}
.window_con .window_box > div h4 { background-image: linear-gradient(to bottom, #65483a, #65483a), linear-gradient(to top, #694532, #956851); font-size: 5vw; font-weight: normal; word-wrap: 1px;color: #d5b0a1;padding: 1vw 0; border-top-left-radius: 6px; border-top-right-radius: 6px; text-align: center;line-height: 8vw;}
.window_con .window_box > div h6 { font-size: 7vw;  color: #000000;line-height: 7vw; padding-top: 5vw; color: #9c4d35; font-weight: bold; } 
.window_con .window_box > div p { font-size: 4vw;  color: #000000; line-height: 10vw; padding: 3vw 0; }
.window_con .window_box > div button { width: 60%; color: #fff; font-size: 4vw; padding: 2vw 0;  border-radius: 4px; box-shadow: 0px 1px 0px 0 rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0 rgba(83, 45, 30, 0.69); border: 0; background-image: linear-gradient(to top, #5a3523 0%, #854e32);}
.window_success dl dt,.window_success dl dd{ display: flex;align-items: center; }
.window_success dl dt{  background-color: #ba997d; }
.window_success dl dd{ border-bottom: .2vw solid #ba997d; margin-bottom: 3vw; }
.window_success dl dd div+div { border-left: .2vw solid #ba997d; }
.window_success div { flex: 1 1 0;font-size: 4vw;  color: #000000; line-height: 8vw; }
.window_clear div ,.window_rules div ,.window_check div{ display: flex; align-items: center; width: 90%; margin: 0 auto;}
.window_clear div button,.window_rules div button,.window_check div button { flex: 1 1 auto;padding:0; margin: 0 3px; }
.window_clear div button:first-child,.window_rules div button:last-child {background-image: linear-gradient(to top, #854d30, #b1704e);}
.window_con .window_box > div.window_rules p { padding:5vw; }
.window_con_bg {width: 100%; height: 100%;background: rgba(0,0,0,.7); position: fixed; top: 0; left: 0;}


/* 玩法介紹 */

.inside_header {  margin-top: 9vw;  width: 100%; position: fixed; top: 0; font-size: 4vw; text-align: center; padding:3vw 0 3.5vw; border-bottom:1px solid rgba(168, 119, 99, .5); -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; background: url(../images/header_bg.png) top center no-repeat; background-size: 100% auto; }
	.inside_header .ff28_back { text-decoration: none; color: #fff; position: absolute; left: 5vw; }
	.inside_header .ff28_back span img { width:2.1vw;  margin-right:8px; display:inline-block; position:relative; z-index:4; }
	.inside_header .ff28_tit { text-align: center; font-size: 5vw; letter-spacing: 1px; line-height: 6vw;}
	.rules_con > div { width: 90%; margin: 0 auto; }
	.howtoplay dt{background: #7b5845; height:30px;display: flex;align-items: center;}
	.howtoplay dd{display: flex; color: #fff; align-items: center;border-bottom: 1px solid #aa7e66;}
		.howtoplay dd div{padding: 10px 0; }
		.howtoplay dd div+div{ border-left: 1px solid #aa7e66; }

	.lottery_rules{padding-top: 20vw;width: 90%;margin: 0 auto;font-size: 3.2vw; line-height: 5vw;padding-bottom: 20px;}	
		.lottery_rules h3 { line-height: 40px;padding: 7px 0; font-size: 5vw; color: #ad8169; display: flex; align-items: center; }
		.lottery_rules h3::before { content: '';margin-right: 5px;display: inline-block;width: 20px;height: 20px; background: url(../images/header_disc.png);-webkit-background-size: contain;background-size: contain; }
		.lottery_rules .introduction h3::after,.howtoplay h3::after { font-weight: 200; margin-left: 7px; color: #aa7e66;}
		.lottery_rules .introduction h3::after{ content: 'Introduction';}	
		.lottery_rules .howtoplay h3::after{ content: 'How to Play'; }
		.lottery_rules .introduction { border-bottom: 1px dotted #aa7e66; padding-bottom: 20px; }
		.lottery_rules .introduction p { line-height: 6vw; }	
			.howtoplay dl{ border: 1px solid #aa7e66; border-bottom: 0; }
			.howtoplay div{ flex: 1 0 70%; align-items: center;box-sizing: border-box; padding: 10px 3px; }
			.howtoplay div:first-child{flex: 1 0 30%; text-align: center;}
			.howtoplay dd div{box-sizing: border-box; padding: 6px 3px; }
			.howtoplay dt div{ text-align: center; }

/*投注纪录*/
	.ffc_my_bets{ width: 92%; margin: 0 auto;border: 1px solid #aa7e66; margin-top: 24vw; border-bottom: 0;}
	.ffc_my_bets dt{background: rgba(54,38,30,.5); color: #aa7e66; border-bottom: 1px solid #aa7e66;display: flex;align-items: center;}
	.ffc_my_bets dd{display: flex; color: #fff; align-items: center;border-bottom: 1px solid #aa7e66;}
		.ffc_my_bets div{font-size: 3.5vw; line-height: 9vw; flex: 1 1 32%; text-align: center;align-items: center;}
		.ffc_my_bets dd div+div{ border-left: 1px solid #aa7e66; }
		.ffc_my_bets dd:nth-of-type(even){ background: rgba(54,38,30,.7); }

/*走勢圖*/
.chart { width: 92%;margin: 0 auto;border: 1px solid #aa7e66;border-bottom: 0; background:rgba(54,38,30,.5); color:#aa7e66; margin-top:23vw; margin-bottom:4vw; }
	.chart h2 { display:none; }
	.chart ul { font-size:4vw; padding:1.5vw 10px 2vw; display:flex; }
	.chart ul li { color:#aa7e66; text-align:center; padding:1vw 4px 1.2vw; margin:5px; border:1px solid #aa7e66; border-radius:3px; flex:1 1 0%; }
	.chart ul li.active { background:#52352c; color:#fff; border:1px solid #aa7e66; }
	.chart .chart_tit { border-top:1px solid #aa7e66; border-bottom:1px solid #aa7e66; display:flex; }
	.chart .chart_tit dt, .chart .chart_tit dd, .chart .chart_list dt, .chart .chart_list dd { font-size:3vw; text-align:center; padding:3.6% 0.5%; border-right:1px solid #aa7e66; flex:1 1 0%; }
	.chart .chart_tit dt, .chart .chart_tit dd { border-right:1px solid rgba(170,126,102,0); }
	.chart .chart_tit dt, .chart .chart_list dt { padding:3.6% 2%; flex:1 1 10%; }
	.chart .chart_tit dd { flex-direction:column; justify-content:space-evenly; align-items:center; }
	.chart .chart_tit dd:last-child, .chart .chart_list dd:last-child { border-right:none; }
	.chart .chart_tit dd span, .chart .chart_list dd span { }
	.chart .chart_list { color:#fff; border-bottom:1px solid #aa7e66; display:flex; }
	.chart .chart_red { color:#ff3f3f; }
	.chart .chart_list dd span.brown { background:#b49789;display: block; width: 4.5vw; height: 4.5vw; margin: 0 auto; line-height: 4.5vw; color:#000; border-radius:4vw; }
.bg_brown { background:rgba(54,38,30,.7); }

/*新手教學視窗*/
.new_window  {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.new_window .new_menubox {z-index: 101; width: 94%; margin: 0 auto; position: relative; border: 2px solid #8a6759;}
.new_window .new_menubox .new_menu_title { background: url(../images/header_bg.png) top center no-repeat;  background-size: 100% auto; height: 10vw; line-height: 8.6vw; font-size: 4.5vw;color: #fff;letter-spacing: 2px;font-weight: bold; text-align: center; margin-bottom: 2vw; }
.new_window .new_menubox .new_menu_title img { width: 3.5vw; margin-right: 1.5vw; }
.new_window .new_menubox .new_menu_title span { display: inline-block; border-radius: 30px;    background-color: #fdd82f; padding:0 3vw; line-height: 7vw; font-size: 5vw;}
.new_window .new_menubox > button { position: absolute; right: 2vw; top:0.7vw;border: 0; background: rgba(0,0,0,0); }
.new_window .new_menubox > button img { width: 9vw;  }
.new_window .new_menubox .new_menu_list { -webkit-overflow-scrolling: touch; height: 110vw; overflow-y: auto; background:rgba(0,0,0,0.8); background-size: 100% 100%; text-align: center; z-index: 300; }
.new_window .new_menubox .new_menu_list h6 {font-size: 5vw; font-family:UbuntuTitling; display: block;color:#ad8e7d; width: 91%; letter-spacing:0.2vw; text-align: center; line-height: 9vw;font-weight: normal;  margin: 0 auto; background: rgba(35,35,35,0.8);}
.new_window .new_menubox .new_menu_list p {font-size: 3.5vw; line-height: 8vw; padding-top: 1vw; color: #fff; letter-spacing: 0.1vw; width: 88%;margin: 0 auto; text-align: center; }
.new_window .new_menubox .new_menu_list img { width: 80%; margin: 2vw auto 4vw; }
.new_window .new_menubox .new_menu_list .step div { display: flex; flex:1 1 0; justify-content: center; }
.new_window .new_menubox .new_menu_list .step div span { display: block; width: 50%; }
.new_window .new_menubox .new_menu_list .step div img { width: 100%; height: auto; }
.new_window .new_menubox .new_menu_list .step div ol { padding-top: 1vw; }
.new_window .new_menubox .new_menu_list .step div li { font-size: 2.8vw; padding-left: 3vw; text-align: left; line-height: 4.5vw; }
.new_window .new_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }

/*loader*/
.loader_page{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999; display:flex; flex-direction: column; justify-content: center;align-items: center;background:url(../images/bg.png) repeat; background-size: 50%; -webkit-animation: loader_page 0.5s forwards ; animation: loader_page 0.5s forwards ;animation-delay:3s;-webkit-animation-delay:2s;}
.loader_page .loader{ width: 76%;height: 8px; padding:2px; background: rgba(0,0,0,0.2); border-radius: 6px; box-shadow: inset 0 0 6px rgba(0,0,0,0.9),0 0 4px rgba(162,162,162,0.4); }
.loader_page .loader:before { content: ''; display: block; width: 100%; height: 100%; 
background: #6a4f45; background: -moz-linear-gradient(left, #6a4f45 0%, #e5b08f 50%, #6a4f45 99%); background: -webkit-linear-gradient(left, #6a4f45 0%,#e5b08f 50%,#6a4f45 99%); 
background: linear-gradient(to right, #6a4f45 0%,#e5b08f 50%,#6a4f45 99%);  border-radius: 4px;  -webkit-animation: loader 2s linear; animation: loader 2s linear; }

@-webkit-keyframes loader {
  0% { width: 0%; }
  100% { width: 100%; }
}
@-webkit-keyframes loader_page{
  0% { opacity: 1; width: 100%; height: 100%; }
  80% { opacity: 0; width: 100%; height: 100%; }
  100% {opacity: 0; width: 0; height: 0; }
}

/*投注詳情*/
#detail{ width: 100%; height: 100%; background: rgba(0,0,0,1); position: fixed;	top: 0;	z-index: 9999;left: 100%;background: url(../images/bg.png) repeat;background-size: 100%;color: #fff;overflow-y: scroll;-webkit-overflow-scrolling: touch;}
#detail .inside_header {  margin-top: 9vw;  width: 100%; position: fixed; top: 0; font-size: 4vw; text-align: center; padding:3vw 0 3.5vw; border-bottom:1px solid rgba(168, 119, 99, .5); -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; background: url(../images/header_bg.png) top center no-repeat; background-size: 100% auto; left: 0; z-index: 999; }
#detail .inside_header .ff28_back { text-decoration: none; color: #fff; position: absolute; left: 5vw; }
#detail .inside_header .ff28_back span img { width:2.1vw;  margin-right:8px; display:inline-block; position:relative; z-index:4; }
#detail .inside_header .title { text-align: center; font-size: 5vw; letter-spacing: 1px; line-height: 6vw;}
	
.detail{ margin: 0 auto;margin-top: 25vw;}
.detail dl{ width: 90%; margin: 0 auto; margin-bottom: 3vw; }
.detail dd{display: flex; color: #fff;}
.detail dl:first-child dd div:first-child,.detail dl:last-child dd div:first-child { color: #aa7e66; }
.detail dl:first-child dd,.detail dl:last-child dd{color: #fff;}
.detail dl:nth-child(n+2) dd{border: 1px solid #aa7e66;border-bottom: 0;}
.detail dl:nth-child(n+2) dd:last-child{border-bottom: 1px solid #aa7e66;;}
.detail dl:nth-child(n+2) dd > div:nth-child(2){border-left: 1px solid #aa7e66;}
.detail div{ font-size: 3.5vw; line-height: 8vw; flex:1 1 25%;padding:0 1vw; display: flex; align-items: center;}
.detail dl:nth-child(n+2) dd > div:nth-child(1) { text-align: center; justify-content: center;}
.detail dd > div:nth-child(2) {flex:1 1 75%;display: flex;}
.detail dl {background: rgba(54,38,30,.5);}
.detail dl:last-child,.detail dl:first-child{background:rgba(0,0,0,0);}
.detail dd.tit{background:#aa7e66;color:rgba(0,0,0,0.7); font-weight: bold;}
.detail dl:last-child{background:rgba(0,0,0,0);}
.detail dl:last-child dd,.detail dl:last-child dd div:nth-child(2),.detail dl:last-child dd:last-child{border: none;}
.detail dl:first-child dd+dd{ border-top: 1px dotted rgba(210,148,90,.4) }
.detail dl:last-child dd{ border-bottom: 1px dotted rgba(210,148,90,.4) }
span.gray_sta,.green_sta,.red_sta{padding:0.2vw 2vw; color: #fff; margin: 1vw; margin-left: 0; border-radius: 1vw;line-height: 5vw; }
.gray_sta{background:#9a9a9a;}
.green_sta{background: #369619;}
.red_sta{background: #f13029;}
.bets_note { margin-left: 2%; color: #fff; line-height: 8vw; font-size: 3.7vw; }
