html,body, #__next {
    height: 100%;
}

#loadOverlay {
    display: none !important;
}

.window_con .window_box > div {
    display: block;
}

.bot_menu_popup {
    display: none;
    position: absolute;
}

.bot_menu_popup.active {
    display: block;
}

.animation_frame{
    position: absolute;
    left: 0;
    top: 19vw;
    z-index: -1;
    width: 100%;
}

.animation_loading {
    text-align: center;
    z-index: 99999;
    position: relative;
    transform: translateY(19vw);
}
@keyframes expandWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.meter {
    width: 100px;
    border-radius: 25px;
    padding: 2px;
    height: 8px;
    display: inline-block;
    background: rgba(113, 113, 113, 0.23);
}
.meter span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: #7f0001;
    position: relative;
    overflow: hidden;
    animation-name: expandWidth;
    animation-timing-function: ease-out;
    animation-duration: 3s;
}

html {
    position: fixed;
}

.window_con .window_box > div p {
    word-break: break-word;
}

article .play_number {
    margin-bottom: unset;
}

header {
    position: relative !important;
}

footer {
    position: relative !important;
}

main {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    background: url(../images/bottom_bg.png) no-repeat 100%;
}

.popupbg{
    width: 100%;
    font-size: 3.4vw;
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.popupbg:before,.popupbg:after {
    content: '・';
    color: #e3c864;
    margin:0 1vw;
}

.now{
    width: unset;
    font-size: unset;
    position: unset;
    top: unset;
    text-align: unset;
}

.now:before, .now:after {
    display: none;
}

.detail_container {
    background: url(../images/bg.jpg) repeat-y top center / 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 23vw);
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    /* right: 0; */
    width: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.detail_container.active {
    transform: translateX(0);
}

.detail_container .topborder {
    background: url(../images/titlebg.jpg) no-repeat top center / 100%;
    width: calc(100% - 14vw);
    margin: auto;
    height: 11.2vw;
    padding: 5vw 3vw 1vw 3vw;
}


.detail {
    width: 80%;
    flex: 1;
    overflow: auto;
    position: relative;
    margin-top: 0;
}

.detail:before {
    margin-top: unset;
    background-size: 97% auto;
}

.detail:after {
    background-size: 97% auto;
    position: fixed;
    bottom: 0;
    /* position: absolute;
    bottom: 0; */
}

.lhc_my_bets dd > div:nth-child(2) div:last-child {
    position: relative;
}

.lhc_my_bets div {
    flex: 1 1 25%;
}

.lhc_my_bets dd > div:nth-child(2),.lhc_my_bets dt > div:nth-child(2) {
    flex: 1 1 40%;
}

.lhc_my_bets dd > div:nth-child(3), .lhc_my_bets dt > div:nth-child(3){
    flex: 1 1 10%;
}

.inside_header {
    height: 23vw;
}

.introduction {
    font-weight: 700;
}

button.type {
    top: 50vw;
    position: absolute;
    right: 5px;
    margin: 0;
}

.detail div {
    flex: 1 1 30%;
}

body {
    background-color: #000000;
}

section.left-select {
    width: 24vw;
    height: calc(100% - 50vw);
    z-index: 1;
    position: fixed;
    top: 61vw;
}

.window_con .window_box > div h4 {
    background-size: 100% auto;
    font-weight: unset;
    letter-spacing: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    text-align: center;


    line-height: 17vw;
    background: url(../images/popbgtop.png) no-repeat top center / 100%;
    color: #fff;
    font-size: 3.8vw;
    padding: 0 4vw;
    margin-bottom: 5vw;
}

.button-container {
    background: url(../images/popbgbot.png) no-repeat bottom center / 100%;
    padding-bottom: 6vw;
}

.lhc_kind2 .lhc_btn_box {
    justify-content: center;
}

.lhc_kind2 .lhc_btn_box:last-child > div {
    flex: unset;
    width: 26vw;
}

.window_danger, .window_success {
    position: relative;
}

.window_danger::after, .window_success::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -6vw;
    left: 0;
    background: url(../images/popbgbot.png) no-repeat bottom center / 100%;
    padding-bottom: 6vw;
}

.lottery_rules {
    margin-bottom: 10vw;
}