@font-face {
	font-family: Cambria;
	src: url('../images/cambriab.ttf');
}
body,html { width: 100%; overflow-x: hidden;}
body {font: 86% Microsoft YaHei ; font-weight:normal; color:#fff;}
main { margin-bottom: 24vw; margin-top: 62.8vw;background: url(../images/bg.jpg) repeat-y top center / 100%;}
main.inside{margin-top: 23vw; margin-bottom: 0;}
.main_number > h2{width: calc(100% - 32vw); min-height: 14.88vw; margin:auto;font-weight: normal;background: url(../images/nownumbg.jpg) no-repeat top center /100%; display: flex; align-items: center;font-size: 3vw;padding: 3vw 3vw 1vw 21vw;color: #fadcb0;}
.main_number2 > h2{width: calc(100% - 14vw); min-height: 14.88vw; margin:auto;font-weight: normal;background: url(../images/nownumbg.jpg) no-repeat top center /100%; display: flex; align-items: center;font-size: 3vw;padding: 3vw 3vw 1vw;color: #fadcb0;}

header { width: calc(100% - 14vw); height: 58.8vw; position: fixed; z-index: 1; background: url(../images/header_bg.jpg) no-repeat top center / 100%;padding: 4vw 7vw 0;}
	header img { position:absolute; top:0;}
	header nav { height: 12vw; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; }
	header nav .smenu-icon, header .winning-info .winning-number ul{ display:flex; align-items:center; }
	header nav .smenu-icon, header nav .left-menu,header nav .right-menu{ flex:1 1 0%; z-index: 3;}
	header nav .left-menu img{ width: 16vw;left: -2vw;}
	header nav .title { font-size: 4.5vw; flex: 1 1 0%; text-align: center; color: #f2e0bd; font-weight: bold; text-shadow: 0 2px 5px #000; letter-spacing: 0.5vw;}
	header nav .topbtn { width: 6.2vw;	height: 6.2vw; margin-top: 15vw;text-align: center;	background: url(../images/topbtn.png)no-repeat top center / 100%;}
	header nav .topbtn img{ width: 100%;position: initial;margin-top: 0.2vw;}
	header nav .dropmenu{width: 100%; height: 100.4vw; z-index: 2;display:none; position:absolute; top:20.6vw; right:0; background:url(../images/dropmenu_bg.png) top center no-repeat;  background-size: 100% 100%; }
	header nav .right-menu{display: flex;}
	header nav .right-menu > img{right: 14vw;}
	header nav .smenu-icon > img { width: 16vw;right: -2vw;}
	header nav .smenu { width: 93.12vw; height: 34.96vw;display:none; position:absolute; top:15vw; right:-3.5vw; z-index:9999; background:url(../images/smenu_bg.png) top center no-repeat;  background-size: 100% 100%; }
	header nav .smenu p {font-size:4vw ; text-align: center; padding-top: 2vw; height: 10vw; line-height: 10vw; font-family: "Microsoft YaHei"; font-weight: bold;}
	header nav .smenu p span { color: #fff; padding-right: 1vw; font-weight: normal;}
	header nav .smenu ul { font-size:3.5vw;  padding:4vw 4vw 0; display:flex;}
	header nav .smenu ul li { text-align:center; flex: 1 1 0%;}
	header nav .smenu ul li a {font-size: 3vw; text-decoration: none;  color:#46291a; font-family: "Microsoft YaHei";font-weight: bold; }
	header nav .smenu ul li div:nth-child(1) { line-height: 0;}
	header nav .smenu ul li img { width:11.04vw; height:11.04vw; position:relative; z-index:4;}
	header .winning-info{ font-size:2.9vw; padding:0 2.8vw;margin-top: 3.2vw; display:flex; justify-content:space-between; }
	header .winning-info > div >div:first-child { font-family: 'Microsoft YaHei'; }
	header .winning-number{position: absolute; left: 0;	font-size: 3vw; padding-left: 7vw;}
	header .winning-countdown{position: absolute; right: 7vw;}
	header .winning-countdown .period{font-size: 3vw;}
    header .winning-countdown ol { margin-top: 0.3vw; background: url(../images/timebg.png) no-repeat center / 100%;   position: absolute; width: 21.04vw; padding-left:2vw;right: 0;}
	header .winning-countdown ol li {font-size:4vw; text-align: center; display: flex; margin-left: 1.5vw; align-items: center; }
	header .winning-countdown ol li span {font-size:5vw; font-weight:bold;letter-spacing: 1vw; color: #ffc81e; }
	header .animation { margin-top: -2vw;}
/*左邊select*/
section.left-select{width:24vw;height: calc(100% - 61vw);  z-index: 1; position: fixed; top: 61vw;}
.left-select .left-select-title,.left-select .left-select-bottom{line-height: 0;}
section.left-select .left-select-title img,section.left-select .left-select-bottom img{width: 100%;}
.left-select ul{ display: flex; flex-direction: column; height: calc(100% - 40vw);background: url(../images/left-selectbg.jpg)repeat-y top center / 100% 100%; }
section.left-select li{width:20.16vw; margin: 0.5vw auto; color: #dfc4af; font-weight:bold;  background: url(../images/select-btn.png)no-repeat center /100% 100%; display: flex; flex: 1 1 0%; align-items: center; justify-content: center;}
section.left-select li.active{background: url(../images/select-btna.png)no-repeat center /100% 100%; color: #33160b;}

/*下注數*/
.note {color: #fff; font-size: 2.6vw; position: absolute; z-index: 1; bottom:4vw; }
	.note img{width: 4vw;top: 0.25vw;}
	.note span { color:#ffb841;}
	.note > div{ padding-left:5vw;}
.nownum {z-index:-1;color: #fff; font-weight: bold;font-size: 3vw; position: absolute; bottom:-3.7vw; width: 100%;height: 6.5vw; line-height: 6.5vw; background: url(../images/nownumbg.png) no-repeat top center /49.93vw 100%;text-align: center;left: 0;}

/*臣座*/
.lhc_kind:after { content: '';display: block; padding: 5vw 3vw 1vw 21vw;  width: calc(100% - 32vw); height: 14.8vw; margin: auto;margin-top: -10vw;background: url(../images/bottombg.jpg) no-repeat top center / 100%;}
	.lhc_kind .topborder { background: url(../images/titlebg.jpg) no-repeat top center / 100%;width: calc(100% - 32vw); margin: auto;height: 11.2vw;padding: 5vw 3vw 1vw 21vw;}
	.lhc_kind .lhc_btn_box,.lhc_kind .lhc_btn_title{padding: 0 10vw 2vw; display:flex;}
	.lhc_kind .lhc_btn_title span{ width: 44vw; height: 9.6vw; line-height: 9.6vw; background: url(../images/titlebg.png) no-repeat top center /100%; text-align: center; font-weight: bold; font-size:5vw; margin: auto; text-shadow: 0 0 5px #d39b53;}
	.lhc_kind .lhc_btn_box{ padding: 5vw 3vw 1vw 21vw;  width: calc(100% - 32vw); margin: auto; flex-wrap: wrap;}
	.lhc_kind .lhc_btn_box > div {width:14.4vw; height: 14.4vw; background:  url(../images/numbg.png); background-size:100% 100%; display:flex; justify-content:center; align-items:center; margin: 0 1.3vw 1vw; font-family: 'Cambria'; font-weight: bold; font-size: 6vw;text-shadow: 0 0.6vw 0 #ffe6bc;}
	.lhc_kind .lhc_btn_box > div.active{text-shadow: 0 2px 5px #000;}
	.lhc_kind .lhc_btn_box > div.rcon{ color: #a50000;}
	.lhc_kind .lhc_btn_box > div.bcon{ color: #1b3c9e;}
	.lhc_kind .lhc_btn_box > div.gcon{ color: #0e680b;}
	.lhc_kind .lhc_btn_box > div.rcon.active{ background:  url(../images/numbg-r.png);background-size:100% 100%;color: #fff2e0;}
	.lhc_kind .lhc_btn_box > div.bcon.active{ background:  url(../images/numbg-b.png);background-size:100% 100%;color: #fff2e0;}
	.lhc_kind .lhc_btn_box > div.gcon.active{ background:  url(../images/numbg-g.png);background-size:100% 100%;color: #fff2e0;}
/* 生肖 */
.lhc_kind .lhc_btn_box2,.lhc_kind .lhc_btn_title{padding: 0 10vw 2vw; display:flex;}
	.lhc_kind .lhc_btn_box2{ padding: 5vw 3vw 1vw 21vw;  width: calc(100% - 32vw); margin: auto; flex-wrap: wrap;}
	.lhc_kind .lhc_btn_box2 > div {width:20vw; height: 17.5vw; color: #521414; background:  url(../images/numbg.png); background-size:100% 100%; margin: 0 1.3vw 1vw; font-family: 'Microsoft YaHei'; font-weight: bold; font-size: 4vw;text-shadow: 0 0.6vw 0 #ffe6bc;text-align: center; line-height: 1vw; padding-top: 2.5vw;overflow: hidden;}
	.lhc_kind .lhc_btn_box2 > div.active{text-shadow: 0 2px 5px #000;background:  url(../images/numbg-r.png);background-size:100% 100%;color: #fff2e0;}
	.lhc_kind .lhc_btn_box2 > div img{width: 10.4vw; height: 10.4vw;margin-bottom: 1.5vw;}
	.change-color{-webkit-filter: drop-shadow(14vw 0 0 #fff2e0);filter: drop-shadow(14vw 0 0 #fff2e0); position: relative; left: -14vw;}
/*場景*/
.lhc_kind2:after { content: '';display: block; width: calc(100% - 8vw); height: 20.8vw; margin: auto;margin-top: -10vw;background: url(../images/bottombg.jpg) no-repeat top center / 100%;}
	.lhc_kind2{font-family: 'Microsoft YaHei';}
	.lhc_kind2 .topborder { background: url(../images/titlebg.jpg) no-repeat top center / 100%;width: calc(100% - 14vw); margin: auto;height: 11.2vw;padding: 5vw 3vw 1vw 3vw;}
	.lhc_kind2 .lhc_btn_box,.lhc_kind2 .lhc_btn_title,.lhc_kind2 .lhc_btn_stit{padding: 0 10vw 2vw; display:flex;}
	.lhc_kind2 .lhc_btn_title span{ width: 44vw; height: 9.6vw; line-height: 9.6vw; background: url(../images/titlebg.png) no-repeat top center /100%; text-align: center; font-weight: bold; font-size:5vw; margin: auto; text-shadow: 0 0 5px #d39b53;}
	.lhc_kind2 .lhc_btn_box,.lhc_kind2 .lhc_btn_stit{ padding: 1vw 3vw;  width: calc(100% - 14vw); margin: auto; flex-wrap: wrap;}
	.lhc_kind2 .topborder + .lhc_btn_box{ padding-top: 5vw;}
	.lhc_kind2 .lhc_btn_box > div {flex:1 1 0%; padding-top:4vw;height: 11.2vw;line-height: 4vw; color: #521414; background:  url(../images/numbg.png); background-size:100% 100%; text-align: center; margin: 0 1.3vw 1vw; font-weight: bold; font-size: 5vw;text-shadow: 0 0.2vw 0 #ffe6bc;}
	.lhc_kind2 .lhc_btn_box > div span{color: #c40909; font-size: 3vw;}
	.lhc_kind2 .lhc_btn_box > div.active,.lhc_kind2 .lhc_btn_box > div.active span{text-shadow: 0 2px 5px #000;color: #fff2e0;}
	.lhc_kind2 .lhc_btn_box > div.rcon.active{ background:  url(../images/numbg-r.png);background-size:100% 100%;}
	.lhc_kind2 .lhc_btn_box > div.bcon.active{ background:  url(../images/numbg-b.png);background-size:100% 100%;}
	.lhc_kind2 .lhc_btn_box > div.gcon.active{ background:  url(../images/numbg-g.png);background-size:100% 100%;}
	.lhc_kind2 .lhc_btn_stit > div {flex:1 1 0%; padding:2vw 0;height: 5.6vw; text-align: center; margin: 2vw 1.3vw 1vw; font-weight: bold; font-size: 4vw;text-shadow: 0 2px 5px #000;color: #fff2e0;}
	.lhc_kind2 .lhc_btn_stit > div.rcon{ background:  url(../images/numbg-r.png);background-size:100% 100%;}
	.lhc_kind2 .lhc_btn_stit > div.bcon{ background:  url(../images/numbg-b.png);background-size:100% 100%;}
	.lhc_kind2 .lhc_btn_stit > div.gcon{ background:  url(../images/numbg-g.png);background-size:100% 100%;}
/*肖數*/
.lhc_kind2 .lhc_btn_box2{padding: 1vw 3vw; width: calc(100% - 14vw); margin:auto auto 25vw; display:flex; flex-wrap: wrap;justify-content: center;}
.lhc_kind2 .lhc_btn_box2 > div {width: 26vw; padding-top:4vw;height: 11.2vw;line-height: 4vw; color: #521414; background:  url(../images/numbg.png); background-size:100% 100%; text-align: center; margin: 0 1.3vw 1vw; font-weight: bold; font-size: 5vw;text-shadow: 0 0.2vw 0 #ffe6bc;}
.lhc_kind2 .lhc_btn_box2 > div span{color: #c40909; font-size: 3vw;}
.lhc_kind2 .lhc_btn_box2 > div.active,.lhc_kind2 .lhc_btn_box2 > div.active span{text-shadow: 0 2px 5px #000;color: #fff2e0;}
.lhc_kind2 .lhc_btn_box2 > div.rcon.active{ background:  url(../images/numbg-r.png);background-size:100% 100%;}

/*footer*/
footer { display: flex; align-items: center; padding: 0 7vw; height: 30.1vw; position: fixed; bottom: 0; width: calc(100% - 14VW); background: url(../images/bottom_bg.png) no-repeat top center / 100%;z-index: 2; }
footer button { background: transparent; border: none;color: #fff; font-family: "Microsoft YaHei"; font-size: 4vw; padding: 0;margin:0;}
footer button img{width: 17.44vw;}
footer button span{margin-top: -3vw; display: block;}
footer button:last-child img{width: 34.4vw;}
/*投注倍率*/
.bot_menu_popup { position: fixed; bottom: 25vw; width: 81.3vw; height: 45vw; background: url(../images/bottom_popup_bg.png) top center;background-size:100% 100% ; z-index: 90;right: 3.5vw; padding: 0 6vw;}
.bot_menu_popup .bot_menu_btn { clear: both; display:flex; align-items: center; text-align: center;padding-top:2vw; }
.bot_menu_popup .bot_menu_btn div {width: 13.44vw; height: 13.44vw; color: #71351f; background: url(../images/num_btn_bg.png) no-repeat top center /100%; margin:auto;display: flex; justify-content: center;align-items: center; color: #fff; font-weight: bold; font-size: 4vw;}
.bot_menu_popup .bot_menu_btn div.active{background: url(../images/num_btn_bg_active.png)no-repeat top center /100%;color: #06193b; text-shadow: 0 1px 5px #2cdaff;}
.bot_menu_input {display: flex; align-items: center; font-size: 4vw;height: 9.6vw; margin:2.5vw 0;}
.bot_menu_input input { border-radius: 0;font-size: 5vw; text-align: center; height: 100%; width:45%; border: 0;font-weight: bold; color:#06193b; background:#ebf2ff;padding: 0; }
.bot_menu_input button { position: relative; width: 17.44vw; height: 100%; border: 0; padding: 0; background: url(../images/bot_menu.jpg); }
.bot_menu_input button:last-child {margin-left: 2vw;background: url(../images/resetbg.png) center / 100%; font-weight: bold; font-family: "Microsoft YaHei"; font-size: 4vw;color: rgba(255,255,255,.9); width: 30vw; height: 100%;}
	.bot_menu_input button svg {width: 5vw;filter: drop-shadow(1px 1px 1px rgba(0,0,0,.8));}
	.bot_menu_input button svg path{  color: #ebf2ff; }
.bot_menu_click{display: flex;}
.bot_menu_click button{border: 0; line-height: 0; padding: 0;}
.bot_menu_click button:nth-child(1){margin-right:4vw;}
.bot_menu_click button img{width: 38.24vw;height: 11.36vw;}
.window_bg { width: 100%; height: 100%; background: rgba(0,0,0,0);position: fixed; top: 0; left: 0;z-index: 89; }
.bot_popuptxt{ display: flex;padding: 3vw 0;font-size: 4vw;}
.bot_popuptxt > div{ flex: 1 1 0%;  color: #fff;align-items: center; display: flex;}
.bot_popuptxt > div:nth-child(2){ color: #fff044;justify-content: flex-end;}
/*跳窗*/
.window_con {position: fixed; z-index: 2;width: 100%; height: 100%; display: flex;align-items: center;top: 0; left: 0;}
.window_con .window_box { position: relative; z-index:99;width: 75vw;  padding: 3vw 0; margin: 0 auto; height: 37.8vw;font-weight: bold; color: #fff;}
.window_con .window_box > div { display: none; text-align: center;line-height: 0;}
.window_con .window_box > div dl{width: 90%; margin:2vw auto 4vw auto;}
.window_con .window_box > div dt{background: #675045;color: #decdb3;display: flex;border-radius: 7px 7px 0 0; }
.window_con .window_box > div h4 {background:url(../images/popupbg.png); background-size: 100% auto; font-size: 4vw; font-weight: bold; color: #004c5e; letter-spacing: 2px; padding: 1vw 0; border-top-left-radius: 3px; border-top-right-radius: 3px; text-align: center;line-height: 8vw;}
.window_con .window_box > div h6 { font-size: 6vw;  color: #5b8600;line-height: 7vw; padding-top: 5vw; color: #9c4d35; font-weight: bold; }
.window_con .window_box > div p { font-size: 3.8vw;  line-height: 8vw; padding: 0 4vw;margin-bottom: 5vw; }
.window_con .window_box > div p.poptit{line-height: 17vw; background: url(../images/popbgtop.png) no-repeat top center / 100%; color: #fff;}
.window_con .window_box > div button { width: 32vw; height: 12vw; line-height: 12vw; color: #f5e0df; font-size: 4vw; background: url(../images/buttonbg.png) no-repeat; background-size: 100%; border: none; font-family: "Microsoft YaHei"; font-weight: bold;}
.window_con .window_box > div dt div:first-child{border-right: 1px solid #000;}
.window_con .window_box > div dd div:first-child{border-right: 1px solid #6a4639;}
.window_con .window_box > div dd{background: #ad9784;color: #000;display: flex;border-radius: 0 0 7px 7px ;border: 1px solid #6a4639;}
.window_success div { flex: 1 1 0;font-weight: normal;line-height: 4vw;padding: 1vw;}
.window_clear div button,.window_rules div button,.window_success button,.window_check button { flex: 1 1 auto;padding:0;}
.window_con .window_box > div.window_rules p{padding-top: 5vw;}
.window_rules p{ background: url(../images/popbgtop2.png) no-repeat top center / 100%; padding: 30px 4vw 0;}
.window_con_bg {width: 100%; height: 100%;background: rgba(0,0,0,.7); position: fixed; top: 0; left: 0;}
.window_success > img,.window_danger > img,.window_clear > img,.window_rules > img,.window_check > img{width: 100%;}
.window_success,.window_danger,.window_clear,.window_rules,.window_check{background:url(../images/popbg.jpg); background-size: 100% auto;}
.inside_header { width: 100%; position: fixed; top: 0; font-size: 4vw; height: 31.36vw; justify-content:center; align-items:center; box-sizing:border-box; background: url(../images/indise_header_bg.jpg) top center no-repeat; background-size: 100% auto; }
	.rules_con > div { width: 90%; margin: 0 auto; }
	/* 玩法介紹 */
	.howtoplay dt{background: #8d5b26; height:30px;display: flex;align-items: center; color:#fff;border-bottom: 2px solid #85511c;}
	.howtoplay dd{display: flex;color: #000; align-items: center;border-bottom: 2px solid #85511c;}
		.howtoplay dd div{box-sizing: border-box; padding: 6px 3px;  }
		.howtoplay dd div+div{ border-left: 2px solid #85511c; }

	.lottery_rules{padding:0 7vw; margin: 0 auto;font-size: 3.2vw; line-height: 5vw; color: #000;width: calc(100% - 20vw);}
		.lottery_rules .introduction > span{ font-weight: bold; font-size: 4vw; color: #b00303;line-height: 6vw;}
		.lottery_rules .introduction {padding: 20px 0; }
		.lottery_rules .lhc_btn_title{color: #fff;}
		.lottery_rules .howtoplay dd.ddtit { background: #a47039;color: #fff; font-weight: bold; font-size: 4vw;}
			.howtoplay dl{ border: 2px solid #85511c; border-bottom: 0; margin-top: 2vw;}
			.howtoplay div{ flex: 1 0 70%; align-items: center;box-sizing: border-box; padding: 10px 3px; }
			.howtoplay div:first-child{flex: 1 0 30%; text-align: center;}
			.howtoplay dt div{ border-right: 2px solid #85511c;height: 100%; display: flex; justify-content: center;  }
			.howtoplay dt div:last-child{ border-right: 0;}
			.howtoplay dd.other{align-items: normal;}
			.howtoplay dd.other div:last-child{display: flex; align-items: center;}
			.inside .lhc_kind2:after { margin-top: 0vw;}
/*投注记录*/
	.lhc_my_bets{width: calc(100% - 14vw); margin: 0 auto; color: #000;margin-top: 3vw;min-height: 144vw;margin-bottom: 10vw;}
	.lhc_my_bets dt{background: #a47039; color: #fff; display: flex;align-items: center;border-bottom: 2px solid #85511c;}
	.lhc_my_bets dt div{border-right: 2px solid #85511c;}
	.lhc_my_bets dt div:last-child{border-right: 0;}
	.lhc_my_bets dd{display: flex;  align-items: center;border-bottom: 2px solid #85511c;}
	.lhc_my_bets dd:last-child{border-bottom: 0;}
		.lhc_my_bets div{ font-size: 3.5vw; line-height: 9vw; text-align: center;align-items: center; flex:1 1 26%;}
		.lhc_my_bets dl{border: 2px solid #85511c;}
		.lhc_my_bets dd:nth-of-type(even){ background:rgba(255,227,189,0.5); }
		.lhc_my_bets dd > div:nth-child(2) { flex:1 1 49%;display: flex; align-items: center; justify-content: center; text-align: center; border-left: 2px solid #85511c;border-right: 2px solid #85511c;}
		.lhc_my_bets dt > div:nth-child(2) { flex:1 1 49%;}
		.lhc_my_bets dd > div:nth-child(3),.lhc_my_bets dt > div:nth-child(3){flex:1 1 15%;}
			.lhc_my_bets dd > div:nth-child(2) div {line-height:4vw; font-size: 3vw;flex: 1 1 0%; padding: 1.5vw 0;}
			.lhc_my_bets dd > div:nth-child(2) div:last-child { margin-left: 1vw; }
			.lhc_my_bets dd > div:nth-child(2) div:last-child:before { content: '+'; position: absolute; margin-left: -2.5vw; }
			.lhc_my_bets dd > div:nth-child(2) div span {  display:inline-block; border-radius: 50%; font-size: 2.7vw; width:4.2vw; height:4.2vw; text-align: center; margin-bottom: 1vw; color: #fff; }
			.lhc_my_bets dd > div:nth-child(2) div.num_red span { background: #a50000; }
			.lhc_my_bets dd > div:nth-child(2) div.num_blue span { background:#1b3c9e; }
			.lhc_my_bets dd > div:nth-child(2) div.num_green span { background: #0e680b; }

/*走勢圖*/
.lhc_my_bets.chart dt > div:nth-child(2),.lhc_my_bets.chart dd > div:nth-child(2){flex: 1 1 33%;}
.lhc_my_bets.chart dd > div:nth-child(3),.lhc_my_bets.chart dt > div:nth-child(3){flex:1 1 10%;}
.lhc_my_bets.chart dd > div:nth-child(3){border-right: 2px solid #85511c;}
.lhc_my_bets.chart dd > div:nth-child(4),.lhc_my_bets.chart dt > div:nth-child(4){flex:1 1 18%;}
.lhc_my_bets.chart dd > div > .red{background: #a50000; padding: 1vw 2.5vw; color: #fff; border-radius: 2vw;}
.lhc_my_bets.chart dd > div > .green{background: #0e680b; padding: 1vw 2.5vw; color: #fff; border-radius: 2vw;}
.lhc_my_bets.chart dd > div > .blue{background: #1b3c9e; padding: 1vw 2.5vw; color: #fff; border-radius: 2vw;}
/*投注记录*/
.lhc_my_bets.mybet div{ flex:1 1 0;}
.lhc_my_bets.mybet dd > div:nth-child(2),.lhc_my_bets.mybet dt > div:nth-child(2){flex: 1 1 0;}
.lhc_my_bets.mybet dd > div:nth-child(3),.lhc_my_bets.mybet dt > div:nth-child(3){flex:1 1 0;}
.lhc_my_bets.mybet dd > div:nth-child(4),.lhc_my_bets.mybet dt > div:nth-child(4){flex:1 1 0;}

/*玩法選單*/
.window_list{width: 67.6vw; height: 73.2vw;position: absolute; z-index: 99;text-align: center;padding: 7.6vw; background: url(../images/listbg.jpg) no-repeat center / 100%;left: 50%;  margin-left: -41.4vw;}
.window_list p{margin-bottom: 5.5vw;}
.window_list button{width: 55.5vw; height: 13.44vw; border: 0; margin-bottom: 2vw;line-height: 0; background: url(../images/wl-btnbg.png)no-repeat center / 100%; color: #ffe5e5;text-shadow: 0 2px 5px #4b0000; font-family: 'Microsoft YaHei'; font-weight: bold; font-size: 5vw;}
.window_list button.active{background: url(../images/wl-btnbga.png)no-repeat center / 100%;color: #8f0000;text-shadow: 0 2px 5px #ffea5e;}
.window_list .list-close{width: 16vw;height: 16vw;position: absolute; top: -7vw; right: 2vw;}
.window_con2 {position: fixed; z-index: 2;width: 100%; height: 100%; display: flex;align-items: center;top: 0; left: 0;}
.window_con_bg2 {width: 100%; height: 100%;background: rgba(0,0,0,.7); position: fixed; top: 0; left: 0;}

.demo{position: absolute; left: 5vw;z-index: -1; width: calc(100% - 10vw); margin-top: 1vw;}
.demo img{ width: 70vw;margin-top:5vw;position: initial;}

button.type{ width: 20vw; height: 20vw; margin-right: -3vw;	margin-top: 30vw; border: 0;	padding: 0;	float: right; background: transparent;}
button.type img{width: 100%; position: initial;}
/*投注詳情*/
#detail{  -webkit-overflow-scrolling:touch;width: 100%; height: 100%; background: rgba(0,0,0,1); position: fixed;	top: 0;	z-index: 9999;left: 100%;background: url(../images/bg.jpg) repeat;background-size: 100%;color: #fff;overflow-y: scroll;}
#detail .inside_header{ width: 100%; position: fixed; top: 0; left: 0; font-size: 4vw; height: 31.36vw; justify-content: center; align-items: center; box-sizing: border-box; background: url(../images/indise_header_bg.jpg) top center no-repeat; background-size: 100% auto;padding: 4vw 7vw 0;}
#detail .inside_header img { position:absolute; top:0;}
#detail .inside_header nav { height: 12vw; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; }
#detail .inside_header nav .right-menu{ flex:1 1 0%; z-index: 3;}
#detail .inside_header nav .left-menu{flex: 1 1 0%; z-index: 3;}
#detail .inside_header nav .left-menu img{ width: 16vw; left: -2vw}
#detail .inside_header nav .title { font-size: 5vw; flex: 1 1 0%; text-align: center; color: #f2e0bd; font-weight: bold; text-shadow: 0 2px 5px #000; letter-spacing: 0.5vw;}
#detail .inside_header nav .right-menu{display: flex;}
#detail .inside_header nav .right-menu > img{right: 14vw;}
#detail .topborder { background: url(../images/titlebg.jpg) no-repeat top center / 100%; width: calc(100% - 14vw); margin: auto; height: 11.2vw; padding: 5vw 3vw 1vw 3vw;margin-top: 23vw;}
.detail{padding-bottom: 5vw; width: 84%; margin: 0 auto;}
.detail dl{margin-bottom: 2vw;}
.detail dl:nth-child(1) dd{ font-weight: bold;}
.detail dd{display: flex; color: #000;}
.detail dl:nth-child(n+2) dd:nth-of-type(even){background: rgba(255,227,189,0.5);}
.detail dl:nth-child(n+2) dd{border: 1px solid #85511c;border-bottom: 0;}
.detail dl:nth-child(n+2) dd:last-child{border-bottom: 1px solid #85511c;}
.detail dl:nth-child(n+2) dd > div:nth-child(1){justify-content: center;}
.detail dl:nth-child(n+2) dd > div:nth-child(2){border-left: 1px solid #85511c;}
.detail div{ font-size: 3.5vw; line-height: 7vw; flex:1 1 25%;padding:0 1vw; display: flex; align-items: center;}
.detail dd > div:nth-child(2) {flex:1 1 75%;display: flex;}
.detail dd.tit{background: #a47039; font-weight: bold; color: #fff;}
.detail dd.total{background: none !important;color: #b00303; font-weight: bold;}
span.gray_sta,.green_sta,.red_sta{padding:0 1vw; margin: 1vw; margin-left: 0; border-radius: 1vw;line-height: 5vw;color: #fff; }
.gray_sta{background: gray;}
.green_sta{background: green;}
.red_sta{background: red;}
.total div{color: #b00303;font-size: 4vw; font-weight: bold;}
/*新手教學視窗*/
.new_window  {position: fixed; z-index: 2;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.new_window .new_menubox {z-index: 101; width: 85%; margin: 0 auto; position: relative;}
.new_window .new_menubox .new_menu_title {line-height: 16vw;font-size: 6vw; font-weight: bold; background: url(../images/popbgtop.png); background-size: 100% 100%; height: 14vw; text-align: center; }
.new_window .new_menubox .new_menu_title img { width: 30vw; margin: auto; margin-top: 2vw;}
.new_window .new_menubox .new_menu_title span:nth-child(1) {color: #fff;}
.new_window .new_menubox .new_menu_title span:nth-child(2) {text-shadow:0.1em 0.1em #7a332c; color: transparent;}
.new_window .new_menubox > button { position: absolute; right: -5vw; top: -2vw;border: 0; background: rgba(0,0,0,0); }
.new_window .new_menubox > button img { width: 16vw;  }
.new_window .new_menubox .new_menu_list { -webkit-overflow-scrolling: touch; height: 110vw; overflow-y: auto; background: url(../images/popbg.jpg) repeat-y; background-size: 100% auto; text-align: center; z-index: 300; }
.new_window .new_menubox .new_menu_list h6 {margin: 2vw auto 0; color: #dfc4af; font-size: 5vw; line-height: 9.2vw;}
.new_window .new_menubox .new_menu_list p {font-size: 3.5vw; color: #dfc4af; letter-spacing: 0.1vw; width: 88%;margin: 0 auto 3vw; text-align: center;font-weight: bold; }
.new_window .new_menubox .new_menu_list img { width: 100%;}
.new_window .new_menubox .new_menu_list .step{margin: 5vw auto 0; border-bottom: 1px solid #5e4d42; width: 90%; padding-bottom: 5vw;}
.new_window .new_menubox .new_menu_list .step:last-child{border:none;}
.new_window .new_menubox .new_menu_list .step div { display: flex; flex:1 1 0; justify-content: center; }
.new_window .new_menubox .new_menu_list .step div span { display: block; width: 50%; }
.new_window .new_menubox .new_menu_list .step div img { width: 100%; height: auto; }
.new_window .new_menubox .new_menu_list .step div ol { padding-top: 1vw; }
.new_window .new_menubox .new_menu_list .step div li { font-size: 2.8vw; padding-left: 3vw; text-align: left; line-height: 4.5vw; color: #675045;}
.new_window .new_menubox:after { content: ''; display: block; width: 100%; height: 5.2vw; background: url(../images/popbgbot.png); background-size: 100% 100%;}
.new_window .new_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }
