@font-face {
	font-family:FzlthkGBK;
	src: url('../images/Fzlthk GBK.ttf'); /* IE9+ */
}
@font-face {
	font-family:HelveticaNeueLTPro;
	src: url('../images/HelveticaNeueLTPro.otf'); /* IE9+ */
}
body { font-family:Microsoft JhengHei; background:url("../images/bg.png") top center no-repeat , linear-gradient(to bottom, #8f09bb 90%, #8f09bc 100%); background-size:100%; }
button { font-family:Microsoft JhengHei; background:linear-gradient(to bottom, #05c5fe 10%, #008fff 100%); color:#fff; box-shadow:inset 0 0 4px 1px #724adf, 0 0 4px 1px #672acf; border:0.3vw solid #fff; outline:currentcolor none 0; border-radius:10px; }
a { text-decoration:none; }

header { background:url("../images/logo_bg.png") no-repeat top center; background-size:98%; color:#fff; font-weight:500; width:95%; margin:16vw 2.5vw 0; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; box-sizing:border-box; }
	header .close, header .smenu { display:flex; flex:1 1 0%; }
/*選單*/
header .close { flex-direction:column; align-items:center; }
	header .close img, header .smenu img { width:12%; position:absolute; top:-4vw; }
	header .close img { left:8vw; }
    header .close nav { background:url("../images/nav_bg.png") no-repeat; background-size:100%; line-height:8vw; width:16vw; height:21vw; margin:16vw 0 0 4vw; }
    header .close nav .play_option, header .logo .number_now .number_nowcon, header .smenu nav .next_tit { font-size:3.5vw; line-height:7vw; text-align:center; }
    header .close nav h2, header .smenu nav h2 { font-size:4.5vw; color:#fff408; line-height:4.5vw; text-align:center; letter-spacing:0.2vw; width:14vw; height:6.4vw; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
    header .close nav h2 { height:8.4vw; padding-left:1.7vw; }
    header .close nav .play_arr { width:19vw; position:absolute; top:30.9vw; left:5vw; }
    header .close nav .play_arr img:last-child { padding-top:0.2vw; }
	header .close nav .menu { font-size:7vw; font-weight:bolder; background:url("../images/spage_bg.png") no-repeat; background-size:100%; color:#fff; width: 91.5vw; height:61.5vw; position:absolute; top:39.5vw; right:1.8vw; z-index:9999; display:none; }
	header .close nav .menu h3, header .smenu nav .smenucon h3, aside nav h3, .window .window_con .window_box h4 { font-family:FzlthkGBK; background:url("../images/page_title.png") no-repeat; background-size:100%; font-size:6.5vw; font-weight:normal; text-align:center; line-height:11.5vw; letter-spacing:1vw; margin:4% 3% 1%; }
	header .close nav .menu ul, header .smenu nav .smenucon ul { font-size:3.5vw; padding:0 2% 0; margin:0; display:flex; }
	header .close nav .menu ul::before, header .smenu nav .smenucon ul::before { content:""; background:url("../images/page_arrwoup.png") no-repeat; background-size:100%; width:5vw; height:8.5vw; position:absolute; z-index:4; }
	header .close nav .menu ul::before { top:-6.6vw; left:9.8vw; }
	header .close nav .menu ul li { background:#35013e; text-align:center; font-size:5vw; width:28.4vw; padding:0.6vw 0; margin:1.4vw 1vw; display:flex; border:1px solid #35013e; border-radius:10px; flex-direction:column; }
	header .close nav .menu ul li.active, header .close nav .menu ul li:hover { background:linear-gradient(to bottom, #00c9ff, #0094ff 100%); border:1px solid #5f74e8; }
	header .close nav .menu ul li.none { background:none; border:none; }
	header .close nav .menu ul li a { color:#fff; }

/*Logo.當期開獎*/
header .logo { display:flex; flex-direction:column; align-items:center; }
header > div { margin-top:-7vw; }
header .logo h1 { height:28vw; }
header .logo h1 img, header .logo .number_now { margin-top:-1vw; }
header .logo h1 img { width:30vw; }
    header .logo .number_now h2 { font-size:3.5vw; font-weight:normal; text-align:center; height:3vw; }
    header .logo .number_now .number_nowcon { font-family:Arial; font-size:4.5vw; font-weight:bold; height:12vw; display:flex; }
    header .logo .number_now .number_nowcon div, article .play_number .number_red .color_red div, article .play_number .number_blue .color_blue div, article .play_number .number_green .color_green div { background-size:50%; color:#fff; height:7.6vw; padding:0 0.5vw; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
    header .logo .number_now .number_nowcon div:nth-child(2n+1) { background:url("../images/ball_purple.png") no-repeat; background-size:100%; width:8.2vw; }
    header .logo .number_now .number_nowcon div:last-child, article .play_number .number_red .color_red div { background:url("../images/ball_red.png") no-repeat; background-size:100%; width:8vw; padding-right:1vw; }

/*右選單*/
	header .smenu { margin-right:10px; flex-direction:row-reverse; }
	header .smenu img { right:8vw; }
	header .smenu nav { background:url("../images/smenu_time.png") no-repeat; background-size:100%; width:16vw; height:21vw; margin:16vw 3.6vw 0 0; display:flex; flex-direction:column; align-items:center; }
	header .smenu nav h2 { line-height:7vw; letter-spacing:0.8vw; }
	header .smenu nav .next_sec { font-size:4vw; line-height:6vw; }
	header .smenu nav .smenucon { font-size:3.5vw; position:absolute; top:16vw; right:2vw; z-index:9999; display:none; }
    header .smenu nav .smenucon { background:url("../images/page_bg.png") no-repeat; background-size:100%; width:91vw; height:75.4vw; }
    header .smenu nav .smenucon h3 { font-family:Microsoft JhengHei; font-size:4.2vw; letter-spacing:0; }
    header .smenu nav .smenucon ul::before { top:-6.5vw; right:9vw; }
	header .smenu nav .smenucon ul li { background:linear-gradient(to bottom, #a200d5 65%, #290345 100%); width:28.3vw; height:26vw; margin:1.4vw 1vw; display:flex; border:0.5vw solid #d89bed; border-radius:10px; flex-direction:column; }
	header .smenu nav .smenucon ul li a { text-decoration:none; color:#fff; padding:2vw 0 5vw; display:flex; flex:1 1 0%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; flex-direction:column; }
	header .smenu nav .smenucon ul li a div:first-child { width:0; height:22vw; padding-top:4vw; }
	header .smenu nav .smenucon ul li a div:last-child { font-size:4.2vw; margin-top:-4vw; }
	header .smenu nav .smenucon ul li img { width:16vw; position:relative; z-index:4; }
	header .smenu nav .smenucon ul li:nth-child(3) img { padding-top:1vw; }
	header .smenu nav .smenucon ul:last-child li:first-child img { width:14.5vw; margin-left:0.5vw; }


/*玩法*/
article .play_number { padding:0.5vw 4vw 1.2vw; margin-bottom:37vw; }
    article .play_number .number_con { display:flex; }
    article .play_number .number_con .number_box1, article .play_number .number_con .number_box2, article .play_number .number_con .number_box3, article .play_number .number_con .number_box4, article .play_number .number_con .number_box5 { color:#fff; padding:6.5vw 0 4.1vw; margin:0.6vw; display:flex; flex:1 1 0%; -moz-box-pack:justify; justify-content:space-between; -moz-box-align:center; align-items:center; flex-direction:column; }
    article .play_number .number_con .none { padding:6.5vw 0 4.1vw; margin:0.6vw; display:flex; flex:1 1 0%; -moz-box-pack:justify; justify-content:space-between; -moz-box-align:center; align-items:center; flex-direction:column; }
    article .play_number .number_con .number_box1, article .play_number .number_con .number_box3 { background:url("../images/number_box1_1.png") no-repeat center center; background-size:124%; }
    article .play_number .number_con .number_box1.active, article .play_number .number_con .number_box3.active { background:url("../images/number_box1_2.png") no-repeat center center; background-size:124%; }
    article .play_number .number_con .number_box2, article .play_number .number_con .number_box5 { background:url("../images/number_box2_1.png") no-repeat center center; background-size:118%; padding:7.5vw 0 5.1vw; }
    article .play_number .number_con .number_box2.active, article .play_number .number_con .number_box5.active { background:url("../images/number_box2_2.png") no-repeat center center; background-size:118%; }
    article .play_number .number_con .number_box4 { background:url("../images/number_box4_1.png") no-repeat center center; background-size:108%; padding:4.5vw 0 2.1vw; }
    article .play_number .number_con .number_box4.active { background:url("../images/number_box4_2.png") no-repeat center center; background-size:108%; }
    article .play_number .number_con .number_box1 div, article .play_number .number_con .number_box2 div, article .play_number .number_con .number_box3 div, article .play_number .number_con .number_box4 div, article .play_number .number_con .number_box5 div { padding:2.4vw 0; }
    article .play_number .number_con .number_box1 div:first-child, article .play_number .number_con .number_box2 div:first-child { font-family:HelveticaNeueLTPro; font-size:8vw; letter-spacing:0.2vw; }
    article .play_number .number_con .number_box3 div:first-child, article .play_number .number_con .number_box4 div:first-child, article .play_number .number_con .number_box5 div:first-child, article .play_number .number_red div:first-child, article .play_number .number_blue div:first-child, article .play_number .number_green div:first-child { font-family:FzlthkGBK; font-size:6vw; letter-spacing:0.2vw; }
    article .play_number .number_con .number_box1 div:last-child, article .play_number .number_con .number_box2 div:last-child, article .play_number .number_con .number_box3 div:last-child, article .play_number .number_con .number_box4 div:last-child, article .play_number .number_con .number_box5 div:last-child, article .play_number .number_red div:last-child, article .play_number .number_blue div:last-child, article .play_number .number_green div:last-child, article .play_number .number_leopard div:last-child { font-size:3vw; }

    article .play_number .number_red, article .play_number .number_blue, article .play_number .number_green, article .play_number .number_leopard { color:#fff; padding:6vw 0 4vw; margin:0.6vw; display:flex; flex-direction:column; align-items:center; }
    article .play_number .number_red { background:url("../images/color_red1_1.png") no-repeat center center; background-size:100%; }
    article .play_number .number_red.active { background:url("../images/color_red1_2.png") no-repeat center center; background-size:100%; }
    article .play_number .number_red .color_red, article .play_number .number_blue .color_blue, article .play_number .number_green .color_green { padding:2vw 0 0.5vw; display:flex; }
    article .play_number .number_red .color_red div, article .play_number .number_blue .color_blue div, article .play_number .number_green .color_green div { font:bold 4.5vw Arial; padding:0; margin:0 1vw; }
    article .play_number .number_blue { background:url("../images/color_blue1_1.png") no-repeat center center; background-size:100%; }
    article .play_number .number_blue.active { background:url("../images/color_blue1_2.png") no-repeat center center; background-size:100%; }
    article .play_number .number_green { background:url("../images/color_green1_1.png") no-repeat center center; background-size:100%; }
    article .play_number .number_green.active { background:url("../images/color_green1_2.png") no-repeat center center; background-size:100%; }
    article .play_number .number_red div, article .play_number .number_blue div, article .play_number .number_green div { padding:2vw 0; }
    article .play_number .number_blue .color_blue div { background:url("../images/ball_blue.png") no-repeat; background-size:100%; width:8vw; }
    article .play_number .number_green .color_green div { background:url("../images/ball_green.png") no-repeat; background-size:100%; width:8vw; }

    article .play_number .number_leopard { background:url("../images/number_box6_1.png") no-repeat center center; background-size:104%; padding:2vw 0 6vw; }
    article .play_number .number_leopard.active { background:url("../images/number_box6_2.png") no-repeat center center; background-size:104%; }
    article .play_number .number_leopard .leopard_con { font-family:FzlthkGBK; font-size:6vw; padding:0 0 2vw; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
    article .play_number .number_leopard .leopard_con img { width:24vw; margin:0 1vw; }

/*底選單*/
aside { background:linear-gradient(to bottom, #ff00ff 0%, #550066 7%, #000 100%); font-size:3.5vw; color:#fff; width:100%; height:32vw; padding-bottom:5vw; position:fixed; bottom:0; display:flex; flex-direction:column; align-items:center; }
    aside .number_confirm { background:linear-gradient(to right, #a61dfa 0%, #fff 35%, #a61dfa 65%, #f8eefe 100%); color:#e1dde2; line-height:8vw; width:91%; border-radius:10vw; padding:0 0.3vw; margin:3vw 0 2vw; display:flex; }
    aside .number_confirm div { background:#000; margin:0.3vw 0; }
    aside .number_confirm div span, .window .window_con .window_box h6 span { color:#00ceff; padding:0 1vw; }
    aside .number_confirm div:first-child { padding-left:2.5vw; border-top-left-radius:10vw; border-bottom-left-radius:10vw; display:flex; flex:1 1 44%; align-items:center; }    aside .number_confirm div:first-child img { width:5vw; padding-right:2%; }
    aside .number_confirm div:nth-child(2) { font-size:3vw; color:#554059; line-height:8.3vw; text-align:center; flex:1 1 6%; }
    aside .number_confirm div:last-child { text-align:right; padding-right:2.5vw; border-top-right-radius:10vw; border-bottom-right-radius:10vw; flex:1 1 50%; }


    aside ul { width:96%; display:flex; flex-direction:row; }
    aside ul li { font-size:3vw; height:16vw; display:flex; flex:1 1 18%; flex-direction:column; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
    aside ul li:last-child { font-size:5.5vw; background:url("../images/btn_bet.png") no-repeat center center; background-size:90%; position:relative; top:1vw; z-index:-1; flex:1 1 46%; flex-direction:row; }
    aside ul li.gray:last-child { background:url("../images/btn_bet_non.png") no-repeat center center; background-size:90%; color:#a9a9a9; }
    aside ul li:last-child img { width:7vw; margin:1vw 2vw 0 0; }
    aside ul li.gray:last-child img:last-child { opacity:0.3; filter:alpha(opacity=30); }
    aside ul li img { width:14vw; margin-bottom:0.5vw; }

    aside nav { background:url("../images/spage_bg.png") no-repeat; background-size:100%; width:91vw; height:61.5vw; position:absolute; bottom:27vw; left:4.5vw; display:none; }
    aside nav::after { content:''; background:url("../images/page_arrwoup.png") no-repeat; background-size:100%; width:5vw; height:8.5vw; transform:rotate(180deg); position:absolute; bottom:-1vw; left:3.5vw; }
    aside nav ol { margin:0 1.5vw; display:flex; }
    aside nav ol li { background:rgba(0, 0, 0, 0.7); font-size:5vw; width:15.5vw; height:15vw; margin:3.1vw 1vw 3vw; border:0.3vw solid rgba(0, 0, 0, 0.7); border-radius:10px; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
    aside nav ol li.active { background:linear-gradient(to bottom, #05c5fe 10%, #008fff 100%); box-shadow:inset 0 0 4px 1px #724adf, 0 0 4px 1px #672acf; border:0.3vw solid #fff; }
    aside nav .btn_content { margin:2% 3% 5%; display:flex; }
    aside nav .btn_content .btn_repeat { font-size:5vw; width:16vw; height:10vw; margin-right:2vw; }
    aside nav .btn_content .btn_mul { font-size:6vw; width:100%; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
    aside nav .btn_content .btn_mul button { font-family:HelveticaNeueLTPro; font-size:4vw; width:0; height:10vw; flex:1 1 10%; }
    aside nav .btn_content .btn_mul button:first-child { border-top-right-radius:0; border-bottom-right-radius:0; }
    aside nav .btn_content .btn_mul button:last-child { border-top-left-radius:0; border-bottom-left-radius:0; }
    aside nav .btn_content .btn_mul div { background:rgba(0, 0, 0, 0.7); text-align:center; height:10vw; padding:0.3vw; display:flex; flex:1 1 80%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
    aside nav h4 { font-size:5vw; line-height:3vw; text-align:center; padding:0 0 5vw; }
    aside nav .btn_option { font-size:7vw; width:100%; border-top:0.6vw solid #ff00ff; position:absolute; bottom:6.3vw; display:flex; }
    aside nav .btn_option div { height:14vw; display:flex; flex:1 1 50%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
    aside nav .btn_option div:first-child { background:linear-gradient(to bottom, #a000d2 , #530277 100%); margin-left:0.6vw; border-bottom-left-radius:6px; }
    aside nav .btn_option div:last-child { background:linear-gradient(to bottom, #7ffc5e , #049f03 100%); margin-right:0.7vw; border-bottom-right-radius:6px; }
    aside nav .btn_option div img { width:7vw; margin-right:4vw; }

/*跳窗*/
.window { font-size:4.5vw; background:rgba(0, 0, 0, 0.5); width:100%; height:100%; position:fixed; top:0; left:0; z-index:9999; display:flex;  flex-direction:column; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.window .window_con { background:#ae03c6; width:84%; height:auto; padding:3vw 3vw 5vw; border:0.6vw solid #f500f8; border-radius:10px; display:flex; flex-direction:column; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
		.window .window_con .window_box { color:#fff; line-height:3vw; width:100%; display:flex; flex-direction:column; align-items:center;  }
		.window .window_con .window_box h4 { width:100%; margin:0; }
		.window .window_con .window_box h5 { font-size:4vw; padding:3vw 0 1vw; }
		.window .window_con .window_box p { font-size:4vw; font-weight:bold; line-height:5vw; padding:4vw 5vw 5vw; }

		.window .window_con .window_box ul { width:99%; height:59.2vw; overflow-y:auto; }
		.window .window_con .window_box ul li { padding:2vw 0; border-bottom:0.3vw solid #000; display:flex; align-items:center; }
		.window .window_con .window_box ul li.none { border-bottom:none; }
        .window .window_con .window_box ul li .number_box1, .window .window_con .window_box ul li .number_box3 { background:#ff00ff; color:#fff; width:15vw; height:8vw; border-radius:10px; padding:3.5vw 0 2.2vw; margin:0.6vw 4vw 0.6vw 0; border:0.3vw solid #fff; display:flex; -moz-box-pack:justify; justify-content:space-between; -moz-box-align:center; align-items:center; flex-direction:column; }
        .window .window_con .window_box ul li .number_box1 div, .window .window_con .window_box ul li .number_box3 div { padding:0.8vw 0; }
        .window .window_con .window_box ul li .number_box1 div:first-child { font-family:HelveticaNeueLTPro; font-size:7.5vw; letter-spacing:0.2vw; }
        .window .window_con .window_box ul li .number_box3 div:first-child { font-family:FzlthkGBK; font-size:5.5vw; letter-spacing:0.2vw; }
        .window .window_con .window_box ul li .number_box1 div:last-child, .window .window_con .window_box ul li .number_box3 div:last-child { font-size:3vw; }
        .window .window_con .window_box ul li .number_info { font-size:4vw; width:60%; }
		.window .window_con .window_box ul li img { width:9vw; padding-left:2vw; }

		.window .window_con .window_box .window_option { font-size:4vw; width:84%; padding:3vw 0 1vw; display:flex; }
		.window .window_con .window_box .window_option div { margin:0 2vw; display:flex; flex:1 1 0%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center;  }
		.window .window_con .window_box .window_option div img { width:10vw; margin:0 1vw; }

        .window .window_con .window_box h6 { padding:4vw 4vw 5vw; }
        .window .window_con .window_box .btn_option { width:108%; margin-bottom:-5vw; border-top:0.6vw solid #ff00ff; display:flex; }
        .window .window_con .window_box .btn_option div { height:14vw; display:flex; flex:1 1 50%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
        .window .window_con .window_box .btn_option div:first-child { background:linear-gradient(to bottom, #a000d2 , #530277 100%); margin-left:0.6vw; border-bottom-left-radius:6px; }
        .window .window_con .window_box .btn_option div:last-child { background:linear-gradient(to bottom, #7ffc5e , #049f03 100%); margin-right:0.7vw; border-bottom-right-radius:6px; }
        .window .window_con .window_box .btn_option div img { width:7vw; margin-right:4vw; }

        .window .window_con .window_box .btn_confirm, .window .window_con .window_box .btn_erro { line-height:11.4vw; width:40vw; padding:0.3vw solid #000; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
		.window .window_con .window_box .btn_confirm { background:url("../images/btn_confirm.png") no-repeat; background-size:100%; }
		.window .window_con .window_box .btn_erro { background:url("../images/btn_erro.png") no-repeat; background-size:100%; }

        .win_betstit, .win_betslist { font-size:4vw; text-align:center; width:100%; display:flex; flex-direction:row; }
        .win_betstit { background:#ff00ff; border-top-left-radius:1vw; border-top-right-radius:1vw; margin-top:5vw; }
            .win_betstit dt, .win_betstit dd, .win_betslist dt, .win_betslist dd { padding:3vw; flex:1 1 50%; }
            .win_betslist { border-bottom:1px solid #ff00ff; margin-bottom:5vw; }
            .win_betslist dt, .win_betslist dd { border-right:1px solid #ff00ff; }
            .win_betslist dt { border-left:1px solid #ff00ff; }

/*走勢圖*/
.chart, .history, .bets { color:#fff; padding-bottom:5vw; }
    .bets p { line-height:9vw; padding:0 3vw; }
	.chart h2, .history h2, .bets h2 { display:none; }
	.chart ul { background:linear-gradient(to bottom, #120016 , #520063 80%); font-size:5vw; padding:2.7vw 10px 2.5vw; display:flex; }
	.chart ul li { background:#000; color:#fff; text-align:center; line-height:8vw; margin:0 5vw; border:1px solid #000; border-radius:1vw; flex:1 1 0%; }
	.chart ul li.active, .bets_close { background:linear-gradient(to bottom, #05c5fe 10%, #008fff 100%); color:#fff; box-shadow:inset 0 0 4px 1px #724adf, 0 0 4px 1px #672acf; border:0.3vw solid #fff; }
	.chart .chart_tit, .history .history_tit { background:linear-gradient(to bottom, #ff00ff, #000000 10%, #33003d 100%); padding:0 4vw 0 1vw; border-top:1px solid #ff00ff; border-bottom:1px solid #b700be; box-shadow:0 0 4px 0 #ff00ff; display:flex; }
	.chart .chart_tit dt, .chart .chart_tit dd, .chart .chart_list dt, .chart .chart_list dd, .history .history_tit dt, .history .history_tit dd, .history .history_list dt, .history .history_list dd { font-size:4vw; text-align:center; padding:4.5vw 0; flex:1 1 0%; }
	.chart .chart_tit dt, .chart .chart_tit dd { border-right:1px solid rgba(170,126,102,0); }
	.chart .chart_tit dt, .chart .chart_list dt { padding:4.5vw 1vw; flex:1 1 10%; }
	.chart .chart_tit dd { flex-direction:column; justify-content:space-evenly; align-items:center; }
	.chart .chart_tit dd:last-child, .chart .chart_list dd:last-child { border-right:none; }
	.chart .chart_tit dd span, .chart .chart_list dd span, .history .history_list dd span { padding:0 1.6vw; }
	.chart .chart_list, .history .history_list { color:#fff; padding:0 4vw 0 1vw; display:flex; }
	.chart .chart_list:nth-last-child(2) dt, .chart .chart_list:nth-last-child(2) dd, .chart .chart_list:last-child dt, .chart .chart_list:last-child dd { font-size:3.5vw; }
	.chart dl:first-child { background:none; }
	.chart dl:nth-child(2n+1), .history dl:nth-child(2n) { background:rgba(0, 0, 0, 0.7); }
	.chart .chart_list dd span.red, .history .history_list dd span.red { background:#ed1e79; border-radius:20vw; }

/*開獎公告*/
.history .history_tit .history_w1, .history .history_list .history_w1 { flex:1 1 20%; }
.history .history_tit .history_w2, .history .history_list .history_w2 { flex:1 1 60%; }
    .history .history_list { line-height:7vw; }
	.history .history_list dd span { width:3vw; padding:0 1vw; display:inline-block; }
	.history .history_list dd span.red, .history .history_list dd span.blue, .history .history_list dd span.green { width:5vw; height:7vw; border-radius:20vw; }
	.history .history_list dd span.blue { background:#00ceff; }
	.history .history_list dd span.green { background:#56ce2c; }


/* 玩法介紹 */
nav.top_menu { background:linear-gradient(to bottom, #000 , #510062 80%); padding:13vw 6vw 4vw; border-bottom:0.3vw solid #b800bf; display:flex; flex-direction:row; align-items:center; }
    nav.top_menu .return, nav .top_menu h1 { display:flex; }
    nav.top_menu .return { flex:1 1 35%; }
    nav.top_menu .return img { width:11.4vw; margin-bottom:-1.5vw; }
    nav.top_menu h1 { font-size:7vw; color:#fff; flex:1 1 65%; }
.rules { line-height:5.5vw; color:#fff; }
    .rules section { padding:3vw 7vw 0; }
    .rules h2 { font-size:5vw; line-height:8vw; color:#00ceff; }
    .rules p { font-size:4vw; padding-bottom:4vw; }
    .rules dl { font-size:4vw; display:flex; }
    .rules dl.rules_tit dt, .rules dl.rules_tit dd { background:#000; }
    .rules dl dt, .rules dl dd { border-top:0.3vw solid #ec00ee; box-shadow:0 0 4px 1px rgba(236, 0, 238, 0.5); }
    .rules dl.rules_txt dt { color:#00ceff; }
    .rules dl dt { flex:1 1 35%; padding:3vw 6vw 3vw 7vw; border-right:0.3vw solid #ec00ee; }
    .rules dl dd { flex:1 1 65%; padding:3vw 6vw; }
    .rules dl:last-child dt, .rules dl:last-child dd { padding-bottom:8vw; }

/* 投注記錄 */
.bets .bets_list dt { background:rgba(0, 0, 0, 0.7); color:#fff; border-top:1px solid #ff00ff; border-bottom:1px solid #b700be; box-shadow:0 0 4px 0 #ff00ff; display:flex; align-items:center; } 
.bets .bets_list dd { color:#fff; align-items:center; display:flex;  } 
.bets .bets_list div { font-size:4vw; line-height:12vw; text-align:center; flex:1 1 32%; align-items:center; }
.bets .bets_list dd:nth-child(2n+1) { background:rgba(0, 0, 0, 0.7); }
.bets ol li .bets_note { padding:1vw 0 1vw 2vw; margin:2vw -1.3vw 2vw -2.2vw; border:0.5vw solid #ff00ff; border-radius:3vw; }
.bets ol li .bets_note dt { font-size:4vw; color:#888; }
    .bets ol li .bets_note dt div { display:flex; }
.bets ol { background:#000; position:absolute; top:27vw; }
.bets ol li { background:#000; font-size:4vw; line-height:9vw; padding:3vw 2vw 15vw 2vw; margin:0 3.5vw 3.5vw; border-radius:2vw; position:relative; display:flex; }
    .bets ol li .bets_no, .bets ol li dl { padding:1vw 0 1vw 1vw; }
    .bets ol li .bets_no { flex:1 1 9%; }
    .bets ol li dl { flex:1 1 91%; }
    .bets ol li dl dt { color:#808080; width:24%; display:inline-flex; }
    .bets ol li dl dd { width:67%; display:inline-flex; }
    .bets ol li dl dd span { background:#ed1e79; font-size:3vw; text-align:center; line-height:6vw; width:11.5%; margin-right:1vw; border-radius:20vw; }
    .bets ol li .bets_money { color:#ffff00; }
    .bets ol li div.bets_pink, .bets ol li div.bets_gray, .bets ol li div.bets_green { line-height:6vw; padding:0 1vw 0.3vw; border-radius:1vw; position:absolute; top:5.5vw; right:0; }
    .bets .bets_gray { background:#808080; }
    .bets .bets_pink { background:#ed1e79; }
    .bets .bets_green { background:#00a31f; }
    .bets .bets_bg span { font-size:4vw; width:auto; padding:0 1vw; border-radius:1vw; }
    .bets .bets_fgray { color:#a5a5a5; }
    .bets .bets_fpink { color:#ff55a0; }
    .bets .bets_fgreen { color:#00c425; }
    .bets .bets_win { position:absolute; right:-1.4vw; bottom:5.5vw; }
    .bets .bets_win img { width:12vw; }
    .bets .bets_close { padding:0 7vw; border-radius:6vw; position:absolute; left:40%; bottom:3vw; display:flex; align-items:center; }
