.chart { background:#fff; }
	.chart h2 { display:none; }
	.chart ul { font-size:16px; padding:5px 10px; display:flex; }
	.chart ul li { color:#878787; text-align:center; padding:12px 4px 11px; margin:5px; border:1px solid #b3b3b3; border-radius:3px; flex:1 1 0%; }
	.chart ul li.active { background:#d10404; color:#fff; border:1px solid #d10404; }
	.chart .chart_tit, .chart .lhcchart_totaltit, .chart .lhcchart_tit, .chart .lhcchart_specialtit { background:#f8f8f8; border-bottom:1px solid #e0e0e0; display:flex; }
	.chart .chart_tit dt, .chart .chart_tit dd, .chart .chart_list dt, .chart .chart_list dd, .chart .lhcchart_tit dt, .chart .lhcchart_tit dd, .chart .lhcchart_number dt, .chart .lhcchart_number dd, .chart .lhcchart_totaltit dt, .chart .lhcchart_totaltit dd, .chart .lhcchart_total dt, .chart .lhcchart_total dd, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd, .chart .lhcchart_special dt { font-size:11.5px; text-align:center; padding:3.6% 1%; border-right:1px solid #e0e0e0; flex:1 1 0%; }
	.chart .chart_tit dt, .chart .chart_list dt, .chart .lhcchart_tit dt, .chart .lhcchart_number dt, .chart .lhcchart_total dt, .chart .lhcchart_totaltit dt, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd:last-child, .chart .lhcchart_special dt, .chart .lhcchart_special dd:last-child  { padding:3.6% 2%; flex:1 1 10%; }
	.chart .chart_tit dd, .chart .lhcchart_tit dd, .chart .lhcchart_specialtit dd { flex-direction:column; justify-content:space-evenly; align-items:center; }
	.chart .chart_tit dd:last-child, .chart .chart_list dd:last-child, .chart .lhcchart_tit dd:last-child, .chart .lhcchart_number dd:last-child, .chart .lhcchart_totaltit dd:last-child, .chart .lhcchart_total dd:last-child, .chart .lhcchart_specialtit dd:last-child { border-right:none; }
	.chart .chart_tit dd, .chart .lhcchart_tit dd, .chart .lhcchart_totaltit dd, .chart .lhcchart_specialtit dd { font-weight:600; }
	.chart .chart_tit dd span, .chart .chart_list dd span { padding:0 4px; }
	.chart .chart_list, .chart .lhcchart_number, .chart .lhcchart_total, .chart .lhcchart_special { color:#5e5e5e; border:none; display:flex; }
	.chart .chart_red { color:#ef0000; }
	.chart .chart_list dt, .chart .lhcchart_number dt, .chart .lhcchart_total dt, .chart .lhcchart_specia, .chart .lhcchart_special dt, .chart .lhcchart_special dd { font-size:12px; }
	.chart .chart_list dd span.red { background:#ef0000; color:#fff; border-radius:20px; }
.bg_gray { background:#f8f8f8; }

/*六合彩*/
	.chart .lhcchart_totaltit dt, .chart .lhcchart_tit dt, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd:last-child { font-weight:bold; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_tit dd, .chart .lhcchart_number dd { flex:1 1 68%; }
	.chart .lhcchart_tit .lhcchart_txt1 { padding:8px 0 18px; }
	.chart .lhcchart_tit .lhcchart_txt2 { margin-left:-4px; }
	.chart .lhcchart_tit .lhcchart_txt2 div { margin-left:-1px; }
	.chart .lhcchart_tit .lhcchart_txt2, .chart .lhcchart_specialtit .lhcchart_specialtxt { display:flex; justify-content:space-evenly; }
	.chart .lhcchart_tit .lhcchart_txt2 div, .chart .lhcchart_specialtit .lhcchart_specialtxt div { line-height:14px; width:4%; margin:4px 5.3% 0; }
	.chart .lhcchart_number dt, .chart .lhcchart_number dd, .chart .lhcchart_special dd { display:flex; -moz-box-pack:center; justify-content:space-evenly; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dt { display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dd div { font-size:12px; width:9%; margin:0 3% 0; display:flex; flex-direction:column; -moz-box-pack:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dd div span { text-align:center; line-height:20px; display:flex; flex-direction:column; }
	.chart .lhcchart_number .lhc_rednum, .chart .lhcchart_number .lhc_greennum, .chart .lhcchart_number .lhc_bluenum { color:#fff; line-height:20px; text-align:center; width:20px; height:20px; border-radius:20px; margin:auto 2px; }
	.chart .lhcchart_number .lhc_rednum { background:linear-gradient(to bottom, #ff1e00 0%,#8e0000 100%); border:1px solid #c50000; box-shadow:inset rgba(255, 163, 151, 0.2) 0px 2px 0px; }
	.chart .lhcchart_number .lhc_greennum { background:linear-gradient(to bottom, #51e600 0%,#1f8500 100%); border:1px solid #26a100; box-shadow:inset rgba(181, 255, 159, 0.2) 0px 2px 0px; }
	.chart .lhcchart_number .lhc_bluenum { background:linear-gradient(to bottom, #2dc6ff 0%,#0066d9 100%); border:1px solid #298eff; box-shadow:inset rgba(120, 183, 255, 0.2) 0px 2px 0px; }

	.chart .lhcchart_totaltit dd { color:#000; flex:1 1 16%; }
	.chart .lhcchart_total dd { color:#939393; flex:1 1 16%; }
	.chart .lhcchart_specialtit dd:last-child, .chart .lhcchart_special dd:last-child { flex:1 1 7.5%; }
	.chart .lhcchart_specialtit .lhcchart_specialtxt div { width:4%; margin:4px 6.5% 0; }

	.chart .lhcchart_specialtit dd, .chart .lhcchart_special dd { flex:1 1 48.5%; }
	.chart .lhcchart_special dt { display:flex; flex:1 1 9.8%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_special dd { flex:1 1 50.4%; }
	.chart .lhcchart_special dd:last-child { color:#fff; justify-content:center; }
	.chart .lhcchart_special .lhcchart_fontred, .chart .lhcchart_special .lhcchart_fontblue, .chart .lhcchart_special .lhcchart_fontgreen { line-height:14px; width:4%; margin:4px 6.3% 4px; display:flex; flex-direction:column; }
	.chart .lhcchart_special .lhcchart_fontblue { color:#245da9; }
	.chart .lhcchart_special .lhcchart_bgred { background:#d10404; }
	.chart .lhcchart_special .lhcchart_bggreen { background:#359817; }
	.chart .lhcchart_special .lhcchart_bgblue { background:#245da9; }
