html,body, #__next {
    height: 100%;
}

body {
    background-color: #100606;
}

#loadOverlay {
    display: none !important;
}

.window_con .window_box > div {
    display: block;
}

.bot_menu_popup {
    display: none;
    position: absolute;
}

.bot_menu_popup.active {
    display: block;
}

header {
    position: unset;
}

header nav .ffc_smenucon {
    z-index: 69696;
}

.inside_header {
    position: unset;
    padding-bottom: 4.8vw;
}

.chart .chart_list.expect dt {
    font-size: calc(100vw * 0.023);
    white-space: nowrap;
    overflow: hidden;
}

.chart .chart_list.expect .line {
    border-top-color: #a90500;
}

.chart .chart_list dd {
    position: relative;
}

.chart_list {
    position: relative;
}

.chart .chart_list dd span.brown {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    line-height: 5vw;
    z-index: 2;
}

.animation_frame {
    position: absolute;
    top: 21vw;
    left: 0;
    z-index: 99;
}

.animation_loading {
    text-align: center;
    z-index: 99999;
    position: relative;
    transform: translateX(16vw) translateY(-17vw);
}
@keyframes expandWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.meter {
    width: 100px;
    border-radius: 25px;
    padding: 2px;
    height: 8px;
    display: inline-block;
    background: rgba(113, 113, 113, 0.23);
}
.meter span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: #f0ca42;
    position: relative;
    overflow: hidden;
    animation-name: expandWidth;
    animation-timing-function: ease-out;
    animation-duration: 3s;
}

header .ffc_number {
    z-index: 10000;
    position: relative;
}

.sum_box {
    z-index: 10000;
    position: relative;
}

header nav .volume img:last-child {
    display: unset;
}

header .ffc_number .ffc_numbercon ul li {
    background-size: 100%;
}

header .ffc_number .ffc_numbercon ul li:nth-child(1) {
    background-image: url(../images/header_num_bg.png);
}

header .ffc_number .ffc_numbercon ul li:nth-child(2) {
    background-image: url(../images/header_num_bg2.png);
}

header .ffc_number .ffc_numbercon ul li:nth-child(3) {
    background-image: url(../images/header_num_bg3.png);
}

header .ffc_number .ffc_numbercon ul li:nth-child(4) {
    background-image: url(../images/header_num_bg4.png);
}

header .ffc_number .ffc_numbercon ul li:nth-child(5) {
    background-image: url(../images/header_num_bg5.png);
}

.lottery_rules .introduction .content {
    padding: 0 5vw;
    color: #000;
}

.chart .chart_list.bg_brown {
    background: rgba(229,181,107,.3);
}

.ffc_note {
    z-index: 100;
    top: 70vw;
    position: absolute;
    bottom: unset;
}

.lottery_rules:after, .ffc_my_bets:after, .chart:after {
    z-index: 3;
}

.ffc_kind .right_num span.active {background:#ffd957;}

.gameContainer {
    overflow: auto;
    height: 90vh;
    -webkit-overflow-scrolling: touch;
}

header:before, .inside_header:before {
    position: absolute;
}

.main-wrap {
    width: 100%;
    position: fixed;
    -webkit-overflow-scrolling: touch;
}

main {
    position: relative;
    flex: 1;
    overflow: auto;
}
main:before {
    height: 17vw;
}

main:after {
    content: unset;
}

.now {
    top: 1.5vw;
}

footer {
    position: relative;
    overflow: unset;
}

.ffc_my_bets {
    padding-bottom: unset;
}

.ffc_my_bets dd:last-child {
    margin-bottom: 8vw;
}

.lottery_rules, .ffc_my_bets, .chart {
    flex: 1;
    overflow: auto;
    position: relative;
}

.lottery_rules:before, .ffc_my_bets:before, .chart:before {
    margin-top: unset;
    height: 9vw;
    position: unset;
}

/* .ffc_my_bets:after {
    position: absolute;
    bottom: 0;
} */

.chart {
    padding-top: unset;
    width: 100%;
}

.chart ul {
    padding: 0 10px 2vw;
}

.inside_header .ffc_back {
    position: absolute;
}

.detail_container {
    background:url(../images/bg.png) top center repeat; background-size:97%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 21vw);
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.detail_container.active {
    transform: translateX(0);
}

.detail {
    width: 100%;
    flex: 1;
    overflow: auto;
    position: relative;
}

.detail dl:last-child {
    margin-bottom: 7vw;
}

.detail:before {
    margin-top: unset;
    background-size: 97% auto;
}

.detail:after {
    background-size: 97% auto;
    position: fixed;
    bottom: 21vw;
    bottom: 0;
}

.detail-content {
    word-break: break-all;
}

.window_con .window_box > div p {
    word-break: break-word;
}