html,body, #__next {
    height: 100%;
}

#loadOverlay {
    display: none !important;
}

.window_con .window_box > div {
    display: block;
}

.bot_menu_popup {
    display: none;
    position: absolute;
}

.bot_menu_popup.active {
    display: block;
}

header nav .volume img:last-child {
    display: unset;
}

header nav .lhc_smenucon {
    z-index: 69696;
}

header nav .lhc_smenucon.active {
    display: block;
}

.lhc_kind .lhc_btn_box > div.active .btnicon,
.lhc_kind .lhc_btn_box > div.active .btntxt {
    flex-wrap: wrap;
}

.lhcchart_number:nth-child(odd),
.lhcchart_total:nth-child(odd),
.lhcchart_special:nth-child(odd) {
    background: #567f0b;
}

.animation_frame {
    position: absolute;
    z-index: 99;
    transform: scale(0.9);
    top: 33vw;
}

.lhc_kind.color .lhc_btn_box > div.active .btntxt {
    line-height: 4.5vw;
    word-wrap: break-word;
}
.meter {
    width: 100px;
    border-radius: 25px;
    padding: 2px;
    height: 8px;
    display: inline-block;
    background: rgba(113, 113, 113, 0.23);
}
.meter span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: #fff35b;
    position: relative;
    overflow: hidden;
    animation-name: expandWidth;
    animation-timing-function: ease-out;
    animation-duration: 3s;
}

@keyframes expandWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.lhc_kind .lhc_btn_box > div.red_con p,
.lhc_kind .lhc_btn_box > div.blue_con p,
.lhc_kind .lhc_btn_box > div.green_con p {
    font-size: 2.5vw;
}

.lhc_kind:nth-child(5) .lhc_btn_box > div.numcon p {
    bottom: 2.5vw;
}

header .lhc_number .lhc_numbertxt::before {
    content: '';
    width: 15px;
    height: 14px;
    margin-right: 3px;
    position: relative;
    z-index: 1;
    background: url(../images/header_disc.svg);
    background-size: 100%;
}

.popupbg{
    width: 100%;
    font-size: 3.4vw;
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.popupbg:before,.popupbg:after {
    content: '・';
    color: #e3c864;
    margin:0 1vw;
}

/* .now{ 
    width: unset;
    font-size: unset;
    position: unset;
    top: unset;
    text-align: unset;
}

.now:before, .now:after {
    display: none;
} */

.now {
    top: unset;
    margin-top: 3vw;
}

article .play_number {
    margin-bottom: unset;
}

header {
    position: relative !important;
}

footer {
    position: relative !important;
}

.bot_menu_popup .bot_menu_input:after {
    position: absolute;
    bottom: 0;
}

.inside_header {
    position: relative;
}

.chart, .lottery_rules, .lhc_my_bets, .lhc_tit {
    padding-top: unset;
    flex: 1;
    overflow: auto;
    position: relative;
}

.inside_header .lhc_back {
    z-index: 9999;
    position: absolute;
}

header nav .lhc_tit {
    flex-direction: column;
}

.detail_container {
    background: #4c7208;
    display: flex;
    flex-direction: column;
    height: calc(100% - 21vw);
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    /* right: 0; */
    width: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.detail_container.active {
    transform: translateX(0);
}

.detail {
    width: 100%;
    flex: 1;
    overflow: auto;
    position: relative;
    margin-top: 0;
}

.detail:before {
    margin-top: unset;
    background-size: 97% auto;
}

.detail:after {
    background-size: 97% auto;
    position: fixed;
    bottom: 0;
    /* position: absolute;
    bottom: 0; */
}

.lhc_my_bets div {
    flex: 1 1 10%;
}

.lhc_my_bets dd > div:nth-child(2),.lhc_my_bets dt > div:nth-child(2) {
    flex: 1 1 30%;
}

.lhc_my_bets dd > div:nth-child(3), .lhc_my_bets dt > div:nth-child(3){
    flex: 1 1 10%;
}

.window_con .window_box > div p {
    word-break: break-word;
}