@font-face {
	font-family:GothamRnd-Bold;
	src: url('../images/GothamRnd-Bold.otf'); /* IE9+ */
}
@font-face {
	font-family:Microsoft YaHei;
	src: url('../images/Microsoft YaHei.ttc'); /* IE9+ */
}
body,html { width: 100%; overflow-x: hidden;}
body {font: 86% Microsoft YaHei ;font-family: 'Microsoft YaHei',sans-serif; font-weight:normal; background:url(../images/bg.png) repeat; background-size: 100%; color:#fff; }
.now{ font-size: 3.4vw; position: relative; top:89vw; text-align: center;margin: auto; width: 50vw;display: flex; align-items: center; background-color: rgba(0,0,0,.3);border-radius: 44px; padding: 0.5vw 1vw;border: 1px solid #82440b;}
.now:before,.now:after { content: ''; margin:0.5vw 1vw 0; background: url(../images/now_icon.png)no-repeat top center / 100%; width: 2.5vw; height: 3vw; display: block; }
main { margin-bottom: 32vw; margin-top:90vw; }
main:before {content: ''; position: absolute; width: 100%; height: 100%; top:33vw; left: 0; z-index: -1; background: url(../images/bg_light.png) top center no-repeat; background-size: 100% auto; }
/*上部*/
header { width: 100%; font-size:4vw; min-height:77vw; padding-top:9vw; position:relative; position: fixed; z-index: 88; left: 0;top: 0; background:url(../images/bg.png) repeat; background-size:100%; }
	header nav { padding:0 3.5vw; height: 12vw; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; }
	header nav .leftbox, header nav .lhc_tit, header nav .lhc_smenu, header .lhc_number .lhc_numbertxt, header .lhc_number .lhc_numbercon ul, header .lhc_number .lhc_numbercon ol { display:flex; align-items:center; }
	header nav .lhc_tit { font-size: 5vw;letter-spacing: 2px; margin-top: -2vw; font-weight: bold; }
	header nav .lhc_smenu, header nav .leftbox { flex:1 1 0%; }
	header nav .lhc_smenu img { width:9%; top:1vw; right:4vw; z-index:1; }
	header nav .lhc_smenucon {display:none; position:absolute; top:9.5vw; right:3vw; z-index:9999; background:url(../images/smenu_bg.png) top center no-repeat;  background-size: 100% 100%; }
	header nav .lhc_smenucon p {font-size:3.5vw ; text-align: center; padding-top: 4.5vw; height: 8.5vw; line-height: 8.5vw;}
	header nav .lhc_smenucon p span { color: #fcd82f; padding-right: 1vw; }
	header nav .lhc_smenucon ul { justify-content: center; font-size:3.5vw;  color:#3d251c; padding:4vw 1vw 1.5vw; display:flex; }
	header nav .lhc_smenucon ul li { text-align:center; width: 20vw; margin: 2vw; display:flex; flex-direction:column; position:relative;border-radius: 22px; box-shadow: inset 0px 1px 1px 1px rgba(228, 195, 109, 0.66); background-color: rgba(225,190,101,.5); }
	header nav .lhc_smenucon ul li div:first-child { height:10vw; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	header nav .lhc_smenucon ul li a {font-size: 3vw; text-decoration: none;  color: #4f250c;padding-top: 1vw; padding-bottom: 2vw; }
	header nav .lhc_smenucon ul li img { width:8vw; margin-right:-8vw; margin-bottom: 2vw; position:relative; z-index:4; }
	header nav .leftbox > img { width:11%; padding-left: 2vw; z-index:1;padding-top:1vw;}
	header nav .volume { position: absolute; left: 16vw;  top: 0; }
	header nav .volume img { width:9vw; z-index:1; margin-top:1vw;}
	header nav .volume img:last-child { display: none; }
	header img { width:100%; position:absolute; top:0; z-index:-2; }
	
	header .lhc_number { font-family:GothamRnd-Bold; font-size:2.9vw; padding:1.5vw 2vw; display:flex; justify-content:space-between;z-index: 3; }
	header .lhc_number > div >div:first-child { font-family: Microsoft YaHei; }
	header .lhc_number .lhc_numbercon ul { margin-top: 1vw; }
    header .lhc_number .lhc_numbercon ol { margin-top: 1vw; }
	header .lhc_number .lhc_numbercon .lhc_jend, header .lhc_number .lhc_numbercon ol { justify-content:flex-end; }
	header .lhc_number .lhc_numbercon ul li{ font-size:3.3vw;color:#fff; width:5.5vw; height:5vw; padding-top: 0.5vw; line-height: 5.5vw; border-radius: 50%; margin: 0 0.6vw; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; border: 1px solid #5e3819; }
	header .lhc_number .lhc_numbercon ul li.numred {background: #ff2a00; box-shadow: inset 0px 1px 0 0 #ff6d50;}
	header .lhc_number .lhc_numbercon ul li.numgreen {background: #24ac00; box-shadow: inset 0px 1px 0 0 #3ee113;}
	header .lhc_number .lhc_numbercon ul li.numblue {background: #337bfe; box-shadow: inset 0px 1px 0 0 #6098ff;}
	header .lhc_number .lhc_numbercon ul li:before { content:''; width: 6.5vw;height: 6.5vw;background: #753615; z-index: -1;border-radius: 50%; position: absolute; right: -0.5vw; top: -0.5vw;}
	header .lhc_number .lhc_numbercon ul li:last-child { margin-left: 3vw; }
	header .lhc_number .lhc_numbercon ul li:last-child:after{ content: '+'; position: absolute; left: -3vw; }
	header .lhc_number .lhc_numbercon ul li img { width:10vw; position:absolute; top:0; left:0; z-index:-1; }
	header .lhc_number .lhc_numbercon ol:after {content: ''; display: block; width:16vw; height:4.5vw;border-radius: 4px; position: absolute; z-index: -1; right: 7.5vw; margin-top: -0.3vw; box-shadow: 0 0 2px 1px rgba(67, 99, 4, 0.3); background-color: #f5f5f5; border: 2px solid #fff;}
	header .lhc_number .lhc_numbercon ol:before {content: ''; display: block; width:16vw; height:5.4vw;border-radius: 4px; position: absolute; z-index: -1; right: 7.5vw;  box-shadow: 0 0 2px 1px rgba(67, 99, 4, 0.3); background-color: #dddddd; margin-top:0.2vw;  border: 2px solid #dddddd;}
	header .lhc_number .lhc_numbercon ol li {font-size:5vw; width:5vw; text-align: center;color: #337bfe;}
	header .lhc_number .lhc_numbercon ol li:last-child { font-size:3.8vw; font-weight:normal; background: none; color: #fff; margin-left: 1.5vw; }
	header .lhc_number .lhc_numbercon .lhc_numbertxt img { width:3vw; padding-right:1px; position:relative; z-index:1; }
	
	header .demo { position: absolute; z-index:-1; top:34vw; text-align: center; }
	header .demo img { width: 94%; position: relative;  }

/*下注數*/
.lhc_note {font-size: 2.6vw; line-height: 4.2vw; padding:1vw 6vw; position: absolute; bottom:-1vw;color: #4e2e09; width: calc(100vw - 12vw); }
	/* .lhc_note div{ width: 100%;} */
	.lhc_note div:nth-child(1) { padding:0.5vw 3vw 0.5vw 8vw; border-radius:44px; background-color: rgba(227,247,146,1);text-align: center;}
	.lhc_note div:nth-child(2) { margin-top:2vw;padding:0.5vw 1vw; border-radius:44px; background-color: rgba(0,0,0,.1); color: #fff; width: 52vw;}
	.lhc_note div:nth-child(2) + img{ width: 30vw; float: right; position: static; margin-top: -6vw; cursor: pointer;}
	.lhc_note div:nth-child(1) img { width: 3vw; height: auto; z-index: 1; margin-left: -4vw; margin-top: 2.1vw;}
	.lhc_note div:nth-child(2) img{ width: 3vw; height: auto; z-index: 1; position: static;margin-right: 1vw;}
	.lhc_note span { color:#ec5900; padding:0 2px; }
/*玩法選單*/
.lhc_tab{display: flex; color: #fff1ca;position: absolute; width: calc(100% - 7vw);margin-top: 4vw;z-index: 1;height: 12vw;padding: 0 3.5vw;}
.lhc_tab h6{display: flex; flex: 1 1 0; justify-content: center;align-items: center; background: url(../images/lhc_tab_btna.png)no-repeat top center / 100%;padding-top: 2vw;}
.lhc_tab h6.active{color: #94531c;background: url(../images/lhc_tab_btn.png)no-repeat top center / 100%;}
/*list_正码*/
.lhc_kind { width: 100%; margin:0 auto;}
.lhc_kind:after { content: '';display: block; width: 100%; height: 6.7vw;  background: url(../images/list_bot.png) bottom right no-repeat;background-size:100.2% auto;}
.lhc_kind h2 { font-weight: bold; letter-spacing: 1vw; background: url(../images/list_headear.png) top right no-repeat;background-size:100.2% auto;font-size:4.2vw; height: 19vw;  text-align:center; position:relative;}
.lhc_kind h2 + span { font-size:2.6vw; font-weight:500; background: url(../images/list_bg.png) top center repeat-y; padding: 2vw 3.5vw; background-size: 100% auto;top:10.3vw; left:5vw; color: #5a3517; letter-spacing:0;display: flex;}
h2 + span:before{ content: ''; margin: 0.7vw 1vw 0; background: url(../images/now_icon.png)no-repeat top center / 100%; width: 2.5vw; height: 3vw; display: block; opacity: .5;}
.info_btn{width: 7vw; position: absolute; margin-top: -8vw; right: 7vw; cursor: pointer;}
.lhc_kind .lhc_btn_box,.lhc_kind .lhc_btn_title {padding:0 3.5vw; display:flex; background: url(../images/list_bg.png) top center repeat-y; background-size: 100% auto; }
.lhc_kind .lhc_btn_box > div { width: 19%; font-size:5vw;color: #5c3a13;  min-height:16vw; margin:.7% .5%;background:  url(../images/btn_bg.png); background-size:100% 100%; position:relative; display:flex;flex-direction:column; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center;  }
	.lhc_kind .lhc_btn_box > div h6 {font-family:'GothamRnd-Bold','Microsoft YaHei'; font-weight:bold;text-shadow: 0px 1px 0px rgba(236, 243, 255, 0.3); }
	.lhc_kind.zodiac .lhc_btn_box > div h6,.lhc_kind.color .lhc_btn_box > div h6,.lhc_kind.head .lhc_btn_box > div h6{font-family:'Microsoft YaHei'; font-weight:bold;}
	.lhc_kind .lhc_btn_box > div.red_con h6 { color: #e12500; }
	.lhc_kind .lhc_btn_box > div.blue_con h6 { color: #1a63e7; }
	.lhc_kind .lhc_btn_box > div.green_con h6 { color: #568600; }
	.lhc_kind .lhc_btn_box > div .btnicon,.lhc_kind .lhc_btn_box > div .btntxt {display: none;}
.lhc_kind .lhc_btn_box > div.red_con.active { background: url(../images/btn_bg_red.png);background-size:100% 100%;}
.lhc_kind .lhc_btn_box > div.blue_con.active { background: url(../images/btn_bg_blue.png);background-size:100% 100%;}
.lhc_kind .lhc_btn_box > div.green_con.active { background: url(../images/btn_bg_green.png);background-size:100% 100%;}
.lhc_kind .lhc_btn_box > div.red_con.active h6 { text-shadow: rgba(145, 24, 0, 0.3) 0px 1px 0px;}
.lhc_kind .lhc_btn_box > div.blue_con.active h6 { text-shadow: rgba(23, 72, 174, 0.3) 0px 1px 0px;}
.lhc_kind .lhc_btn_box > div.green_con.active h6, .lhc_kind.zodiac .lhc_btn_box > div.active h6 { text-shadow: 0px 1px 0px rgba(85, 129, 0, 0.3);}
	.lhc_kind .lhc_btn_box > div.active h6 { color: #fff;}
	.lhc_kind .lhc_btn_box > div.active .btnicon,.lhc_kind .lhc_btn_box > div.active .btntxt {display:inline-flex; width: 98%; margin-left: 1%; flex-wrap:wrap-reverse;align-items: center; justify-content:center;}
	.lhc_kind .lhc_btn_box > div.active .btnicon span {  margin: 0;flex-direction:column;width: 3.2vw; height: 3.2vw; line-height: 3.2vw; text-align: center; font-size: 2.2vw; color: #000;  background: #fff; margin: 0.15vw; border-radius: 50%;}
	.lhc_kind .lhc_btn_box > div.red_con.active .btnicon span {color: #db0606;}
	.lhc_kind .lhc_btn_box > div.blue_con.active .btnicon span {color: #387bf4;}
	.lhc_kind .lhc_btn_box > div.green_con.active .btnicon span,.lhc_kind.zodiac .lhc_btn_box > div.active .btnicon span {color: #85b900;}
/* 生肖 */	
.lhc_kind.zodiac .lhc_btn_box > div {position: relative; width: 24%;background:url(../images/btn_bg_four.png); background-size:100% 100%; }
.lhc_kind.zodiac .lhc_btn_box > div > p { position: absolute; top: 1.5vw; left: 1.5vw;font-size: 2vw; }
.lhc_kind.zodiac .lhc_btn_box > div.active {background:url(../images/btn_bg_four_active2.png); background-size:100% 100%; }
	.lhc_kind.zodiac .lhc_btn_box > div.active .btnicon {display:inline-flex; width: 92%; margin-left: 4%; flex-wrap:wrap-reverse;align-items: center; justify-content:center;}
	.lhc_kind.zodiac .lhc_btn_box > div.active > p { color: #fff; }
/* 色波 */
.lhc_kind .lhc_btn_title > div {width: 33%; text-align: center; border-radius: 13px;font-size:3.5vw;color: #fff; font-weight: normal;line-height: 6vw; margin:.7% .5%; }
.lhc_kind .lhc_btn_title > div:before { content: '▾'; margin-right: 2vw; }
.lhc_kind .lhc_btn_title > div:nth-child(1){ box-shadow: inset 0px 1px 0 1px rgba(146, 24, 0, 0.3);  background-color: #e12500; }
.lhc_kind .lhc_btn_title > div:nth-child(2){ box-shadow: inset 0px 1px 0 1px rgba(0, 58, 164, 0.3);  background-color: #1a63e7; }
.lhc_kind .lhc_btn_title > div:nth-child(3){ box-shadow: inset 0px 1px 0 1px rgba(62, 93, 0, 0.3);  background-color: #5d8805; }
	.lhc_kind.color .lhc_btn_box > div {min-height: 18vw; position: relative; width: 33%;background:url(../images/btn_bg_three.png); background-size:100% 100%; }
	.lhc_kind.color .lhc_btn_box > div h6 { margin-top: -2vw; }
	.lhc_kind.color .lhc_btn_box > div.active .btntxt{font-size: 2.2vw; line-height: 2.5vw; word-break: break-all; text-align: center; color: #fff; padding-top: 0.5vw;}
	.lhc_kind.color .lhc_btn_box > div.red_con.active { background: url(../images/btn_bg_three_red.png);background-size:100% 100%;}
	.lhc_kind.color .lhc_btn_box > div.blue_con.active { background: url(../images/btn_bg_three_blue.png);background-size:100% 100%;}
	.lhc_kind.color .lhc_btn_box > div.green_con.active { background: url(../images/btn_bg_three_green.png);background-size:100% 100%;}
	.lhc_kind.color .lhc_btn_box > div.active h6 { padding-top: 2vw; }
/* 單純玩法 */
	.lhc_kind.head .lhc_btn_box > div { width: 24%;background:url(../images/btn_bg_four.png); background-size:100% 100%; }
	.lhc_kind .lhc_btn_box > div.numcon { }
	.lhc_kind .lhc_btn_box > div.numcon h6 { font-size: 5.5vw; }
	.lhc_kind.head .lhc_btn_box > div.numcon h6 { font-size: 5vw; }
	.lhc_kind .lhc_btn_box > div.numcon p { font-size: 2.5vw; }
	.lhc_kind .lhc_btn_box > div.numcon.active {background:  url(../images/btn_bg_active.png); background-size:100% 100%; }
	.lhc_kind .lhc_btn_box > div.numcon.active h6{  font-size: 5.5vw; text-shadow: 0px 1px 0px rgba(85, 129, 0, 0.3);}
	.lhc_kind .lhc_btn_box > div.numcon.active p { color: #fff; }
		.lhc_kind:nth-child(5) .lhc_btn_box > div.numcon p { position: absolute; bottom: 1.5vw; }
		.lhc_kind:nth-child(5) .lhc_btn_box > div.numcon h6 { margin-top: -2vw; }
		.lhc_kind:nth-child(5) .lhc_btn_box > div.active.numcon h6 { margin-top: -2vw; }
	.lhc_kind.head .lhc_btn_box > div.active { background:url(../images/btn_bg_four_active.png); background-size:100% 100%; }

/*投注選擇視窗*/
.kind_popup  {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.kind_popup .kind_menubox {z-index: 101; width: 98%; margin: 0 auto; position: relative;}
.kind_popup .kind_menubox .kind_menu_title { background: url(../images/kind_popup_header.png); background-size: 100% 100%; height: 14vw; padding-top:4vw; padding-left: 10vw; font-size: 4.5vw;color: #532f14;letter-spacing: 2px;font-weight: bold; }
.kind_popup .kind_menubox .kind_menu_title img { width: 3.5vw; margin-right: 1.5vw; }
.kind_popup .kind_menubox .kind_menu_title span { display: inline-block; border-radius: 30px;  box-shadow: 0px 1px 1px 0px #dc882e, inset 0px 1px 1px 0px #b5710b;  background-color: #fdd82f; padding:0 3vw; line-height: 7vw; font-size: 5vw;}
.kind_popup .kind_menubox > button { position: absolute; right: 6vw; top: 2.5vw;border: 0; background: rgba(0,0,0,0); }
.kind_popup .kind_menubox > button img { width: 9vw;  }
.kind_popup .kind_menubox .kind_menu_list {background: url(../images/kind_popup_body.png) repeat-y; background-size: 100% auto; padding-top: 6.5vw; }
.kind_popup .kind_menubox .kind_menu_list h6 { display: block; width: 91%;position: absolute; top: 13.5vw; left: 4.5%; font-size: 3.5vw; letter-spacing:0.2vw; text-align: center; line-height: 9vw;padding-bottom: 2.5vw; font-weight: normal; background: url(../images/kind_popup_title.png); background-size: 100% 100%; }
.kind_popup .kind_menubox .kind_menu_list ol {width: 88%; margin: 0 auto; padding: 1%; display: flex; flex-wrap: wrap;}
.kind_popup .kind_menubox .kind_menu_list ol li {display: flex; flex-direction: column; font-size: 3.8vw; line-height: 5vw; padding:2vw 1vw; color: #a14502; padding-bottom: 2vw; flex: 1 1 19%; margin: 1%; align-items: center; justify-content: center; text-align: center; background: url(../images/kind_btn.png); background-size: 100% 100%; font-weight: bold; }
.kind_popup .kind_menubox .kind_menu_list ol li span { font-size: 2.6vw;text-shadow: 0px 1px 1px rgba(71, 115, 0, 0); padding-top: 0.5vw; font-weight: normal; }
.kind_popup .kind_menubox .kind_menu_list ol li.active { background: url(../images/kind_btn_active.png); background-size: 100% 100%; color: #fff;  text-shadow: 0px 1px 1px rgba(71, 115, 0, 0.4); }
.kind_popup .kind_menubox .kind_menu_list p {font-size: 3vw;color: #fdd82f; letter-spacing: 0.1vw; width: 88%;margin: 0 auto; text-align: center; }
.kind_popup .kind_menubox .kind_menu_list p:before { content: '★'; padding-right: 0.3vw; }
.kind_popup .kind_menubox:after { content: ''; display: block; width: 100%; height: 8vw; background: url(../images/kind_popup_bottom.png); background-size: 100% 100%;}
.kind_popup .kind_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }

/*footer*/
footer {height: 32vw; position: fixed; bottom: 0; width: 100%; background: url(../images/bottom_bg.png); -webkit-background-size: 100% 100%;z-index: 90; background-size: 100%; }
footer .bottom_btnbox { display: flex; align-items: center; padding: 4vw 0 0;}
footer button { background: none; border: 0; flex: 1 1 0%; margin:0; padding-top: 5vw; font-size: 2.8vw; line-height:7vw; color: #f2dac7; position: relative; text-shadow: 0px 1px 0px rgba(28, 24, 22, 0.7);}
footer button img { width: 5vw; display: block; vertical-align: middle; margin:0 auto;}
footer button:last-child { flex: 1 1 3vw; color: #233200; font-weight: bold; margin-top: -3vw;font-size: 3.5vw; text-shadow: 0px 1px 0px rgba(199, 235, 58, 0.3);}
footer button:first-child { flex: 1 1 4.5vw; color: #6a2000; font-weight: bold; margin-top: -3vw;font-size: 3.5vw; text-shadow: 0px 1px 0px rgba(199, 235, 58, 0.3);}
footer button:last-child img ,footer button:first-child > img { width: 6vw; }
footer button:first-child span { position: absolute; top: 5vw; right: 3vw;opacity: 1; animation:star 1s infinite;-webkit-animation:star 1s infinite; transform: rotate(0deg); }
footer button:first-child span img { width: 3vw; }
@keyframes star{
    0%{
        opacity: 1;transform: rotate(0deg);
    }
    50%{
        opacity: 0.8;transform: rotate(90deg);
    }
    100%{
    	opacity: 1;transform: rotate(0deg);
    }
}
/*投注倍率*/
.bot_menu_popup { position: fixed; bottom: 20vw; width: 100%; height: auto; background: url(../images/bottom_popup_bg.png) top center;background-size:100% 100% ; padding: 2% 0; z-index: 90}
.bot_menu_popup .bot_menu_input:after { content: ''; width:6vw; height: 6vw; background:url(../images/bottom_popup_bg_a.png) bottom center no-repeat; background-size: 100% auto; position: fixed; bottom:19.7vw; left: 29vw; }
.bot_menu_popup .bot_menu_btn { display:flex; align-items: center; text-align: center;padding:5% 3% 0; }
.bot_menu_popup .bot_menu_btn div { font-family:GothamRnd-Bold;flex: 1 1 0;font-size: 3vw; width: 14%; height: 15vw; line-height: 15vw; color: #fff; background: url(../images/num_btn_bg.png) center no-repeat; background-size: cover; margin:0;}
.bot_menu_popup .bot_menu_btn div.active{background: url(../images/num_btn_bg_active.png) center no-repeat; background-size: cover;}
.bot_menu_input {display: flex; align-items: center; padding: 0 5% 0 7%;font-size: 4vw;line-height: 10vw; height: 10vw; margin-bottom: 8vw; margin-top:2vw; }
.bot_menu_input input { font-size: 5vw; text-align: center; height: 100%; width: 32%; border: 0; color: #ea6b0e; background-color: #fff6dd;padding: 0;font-family:GothamRnd-Bold; }
.bot_menu_input button:last-child:before { content: ''; display: block; width: 5px; height: 100%; background: #fff6dd;position: absolute; left: -5px; top: 0; }
.bot_menu_input button:first-child:before { content: ''; display: block; width: 5px; height: 100%; background: #fff6dd;position: absolute; right: -5px; top: 0; }
.bot_menu_input button { position: relative; color: #fff; font-size: 5vw; width: 19%; height: 100%; padding: 0; border: 0; background-image: linear-gradient(to bottom, #302019, #302019), linear-gradient(to left, #bb876a, #513424); }
.bot_menu_input button:first-child {margin-left: 10px; border-top-left-radius: 5vw;border-bottom-left-radius: 5vw;background-image: linear-gradient(to right, #543117, #75431e); }
.bot_menu_input button:last-child {border-top-right-radius: 5vw;border-bottom-right-radius: 5vw; background-image: linear-gradient(to left, #543117, #75431e);}
	.bot_menu_input button svg {width: 5vw; margin-top: 1.5vw;}
	.bot_menu_input button svg path{  color: #fff; }
.window_bg { width: 100%; height: 100%; background: rgba(0,0,0,0);position: fixed; top: 0; left: 0;z-index: 89; }

/*跳窗*/
.window_con {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center;top: 0; left: 0;}
.window_con .window_box { position: relative; z-index:99;width: 90%; margin: 0 auto;}
.window_con .window_box > div { display: none; text-align: center; border-radius:8px; box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.5); background-color: #ffe69e;border: 3px solid #e28b32; padding-bottom: 8vw;}
.window_con .window_box > div h4 {background:url(../images/popupbg.png) repeat #e28b32; background-size: 100% auto; font-size: 4vw; font-weight: bold; color: #fff; letter-spacing: 2px; padding: 1vw 0; border-top-left-radius: 3px; border-top-right-radius: 3px; text-align: center;line-height: 8vw;}
.window_con .window_box > div h6 { font-size: 6vw;  color: #5b8600;line-height: 7vw; padding-top: 5vw; color: #9c4d35; font-weight: bold; } 
.window_con .window_box > div p { font-size: 3.8vw;  color: #000000; line-height: 10vw; padding: 3vw 0; }
.window_con .window_box > div button { width: 45%; color: #fff; font-size: 4vw; padding: 2vw 0; border: 1px solid #81ad0a;  border-radius: 10px;  box-shadow: 0px 4px 0 0 #5b8600, inset 0px 2px 0 0 #b3df42;background:#5b8600;  background-image: linear-gradient(to top, #6fa400, #a8d816);}
.window_success dl dt,.window_success dl dd{ display: flex;align-items: center; }
.window_success dl dt{ background-color: #a35a1c;}
.window_success dl dd{ border-bottom: .2vw solid #a35a1c; margin-bottom: 3vw; }
.window_success dl dd div+div { border-left: .2vw solid #a35a1c; }
.window_success div { flex: 1 1 0;font-size: 4vw;  color: #000000; line-height: 8vw; }
.window_success dl dt div { color: #fff;}
.window_clear div,.window_rules,.window_check div { display: flex; align-items: center; width: 90%; margin: 0 auto;}
.window_clear div button,.window_rules div button,.window_check div button { flex: 1 1 auto;padding:0; margin: 0 3px; }
.window_con .window_box > div.window_rules p{ padding:4vw 5vw; line-height: 6vw; }
.window_con_bg {width: 100%; height: 100%;background: rgba(0,0,0,.7); position: fixed; top: 0; left: 0;}


/* 玩法介紹 */
.lhc_inside { background: #4c7208; }
.inside_header { width: 100%; position: fixed; top: 0; font-size: 4vw; text-align: center; padding:0 3.5vw; height:21vw; justify-content:center; align-items:center; box-sizing:border-box; background: url(../images/header_bg.png) top center no-repeat; background-size: 100% auto; padding-top:9vw; border-bottom-right-radius: 26px;border-bottom-left-radius: 26px; }
	.inside_header .lhc_back { position: absolute; left: 4vw;top:11vw; text-decoration: none; color: #fff; }
	.inside_header .lhc_back span {display: block; height: 6.5vw; line-height: 6.5vw; background: rgba(65,28,12,.7); box-shadow: 0px 2px 4.8px 0.3px #f7a66a, inset 0px 1px 2px 0px rgba(84, 45, 1, 0.6);padding:0 4vw; border-radius: 30px; }
	.inside_header .lhc_back span img { width:4vw;  margin-right:8px; display:inline-block; vertical-align: middle; position:relative; z-index:4; }
	.inside_header .lhc_tit { text-align: center;font-size: 5vw;letter-spacing: 2px; line-height: 10vw;font-weight: bold;}
	.rules_con > div { width: 90%; margin: 0 auto; }
	.howtoplay dt{background: #cd7528; height:30px;display: flex;align-items: center;}
	.howtoplay dd{display: flex;color: #5a3517; align-items: center;border-bottom: 1px solid #cd7528;}
		.howtoplay dd div{padding: 10px 0; }
		.howtoplay dd div+div{ border-left: 1px solid #cd7528; }

	.lottery_rules{padding: 2%;padding-top: 25vw; margin: 0 auto;font-size: 3.2vw; line-height: 5vw;padding-bottom: 20px; background: #4c7208;}	
		.lottery_rules h3 { line-height:7vw;padding: 4px 0 4px 15px; font-size: 5vw; color: #fff; display: flex; align-items: center; background: #7aa922; margin-bottom: 2vw; border-radius: 20px; }
		.lottery_rules h3::before { content: '';margin-right: 5px;display: inline-block;width: 16px;height: 16px; background: url(../images/header_disc.svg);background-size:100% 100%; }
		.lottery_rules .introduction h3::after,.howtoplay h3::after { font-weight: 200; margin-left: 7px; color: #fff;}
		.lottery_rules .introduction h3::after{ content: 'Introduction';}	
		.lottery_rules .howtoplay h3::after{ content: 'How to Play'; }
		.lottery_rules .introduction {padding-bottom: 20px; }
		.lottery_rules .introduction p { line-height: 6vw; }	
			.howtoplay dl{ border: 1px solid #cd7528; border-bottom: 0; background: #fff1cb; }
			.howtoplay div{ flex: 1 0 70%; align-items: center;box-sizing: border-box; padding: 10px 3px; }
			.howtoplay div:first-child{flex: 1 0 30%; text-align: center;}
			.howtoplay dd div{box-sizing: border-box; padding: 6px 3px; }
			.howtoplay dt div{ text-align: center; }

/*投注记录*/
	.lhc_my_bets{padding-top: 25vw; width: 96%; margin: 0 auto;}
	.lhc_my_bets dt{background: #cd7528; color: #fff; border-bottom: 1px solid #cd7528;display: flex;align-items: center;}
	.lhc_my_bets dd{display: flex; color: #5a3517; align-items: center;border: 1px solid #cd7528;border-bottom: 0px solid #cd7528; background: #fff1cb;}
	.lhc_my_bets dd:last-child{border-bottom: 1px solid #cd7528;}
		.lhc_my_bets div{ font-size: 3.5vw; line-height: 9vw; text-align: center;align-items: center; flex:1 1 33%;}
		.lhc_my_bets dd:nth-of-type(even){ background:#f0dfaf; }
		.lhc_my_bets dd > div:nth-child(2) { flex:1 1 44%;display: flex; align-items: center; justify-content: center; text-align: center; border-left: 1px solid #cd7528;border-right: 1px solid #cd7528;}
		.lhc_my_bets dt > div:nth-child(2) { flex:1 1 44%;}
		.lhc_my_bets dd > div:nth-child(3),.lhc_my_bets dt > div:nth-child(3){flex:1 1 23%;}
			.lhc_my_bets dd > div:nth-child(2) div {line-height:4vw; font-size: 3vw;flex: 1 1 0%; padding: 1.5vw 0;}
			.lhc_my_bets dd > div:nth-child(2) div:last-child { margin-left: 1vw; }
			.lhc_my_bets dd > div:nth-child(2) div:last-child:before { content: '+'; position: absolute; margin-left: -2.4vw; }
			.lhc_my_bets dd > div:nth-child(2) div span { color: #fff; display:inline-block; border-radius: 50%; font-size: 2.7vw; font-weight: bold; width:4.2vw; height:4.2vw; text-align: center; margin-bottom: 1vw; }
			.lhc_my_bets dd > div:nth-child(2) div.num_red span { background: #e12500; }
			.lhc_my_bets dd > div:nth-child(2) div.num_blue span { background:#1a63e7; }
			.lhc_my_bets dd > div:nth-child(2) div.num_green span { background: #568600; }

		.bets dd > div:nth-child(2),.bets dt > div:nth-child(2),.bets dd > div:nth-child(3),.bets dt > div:nth-child(3) { flex:1 1 33%;}


/*走勢圖*/
.chart{ background: #4c7208;color:#2b4103; padding-top:25vw;}
	.chart h2 { display:none; }
	.chart ul { font-size:16px; padding:5px 10px; display:flex; }
	.chart ul li { color:#e38534; text-align:center; padding:6px 4px; margin:5px; border:1px solid #e38534; border-radius:3px; flex:1 1 0%; }
	.chart ul li.active { background:#cd7528; color:#fff; border:1px solid #cd7528; }
	.chart .chart_tit, .chart .lhcchart_totaltit, .chart .lhcchart_tit, .chart .lhcchart_specialtit { background:#87a926; border-bottom:1px solid #75931f; display:flex; }
	.chart .chart_tit dt, .chart .chart_tit dd, .chart .chart_list dt, .chart .chart_list dd, .chart .lhcchart_tit dt, .chart .lhcchart_tit dd, .chart .lhcchart_number dt, .chart .lhcchart_number dd, .chart .lhcchart_totaltit dt, .chart .lhcchart_totaltit dd, .chart .lhcchart_total dt, .chart .lhcchart_total dd, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd, .chart .lhcchart_special dt { font-size:11.5px; text-align:center; padding:3.6% 1%; border-right:1px solid #75931f; flex:1 1 0%; }
	.chart .chart_tit dt, .chart .chart_list dt, .chart .lhcchart_tit dt, .chart .lhcchart_number dt, .chart .lhcchart_total dt, .chart .lhcchart_totaltit dt, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd:last-child, .chart .lhcchart_special dt, .chart .lhcchart_special dd:last-child  { padding:3.6% 2%; flex:1 1 10%; }
	.chart .chart_tit dd, .chart .lhcchart_tit dd, .chart .lhcchart_specialtit dd { flex-direction:column; justify-content:space-evenly; align-items:center; }
	.chart .chart_tit dd:last-child, .chart .chart_list dd:last-child, .chart .lhcchart_tit dd:last-child, .chart .lhcchart_number dd:last-child, .chart .lhcchart_totaltit dd:last-child, .chart .lhcchart_total dd:last-child, .chart .lhcchart_specialtit dd:last-child { border-right:none; }
	.chart .chart_tit dd, .chart .lhcchart_tit dd, .chart .lhcchart_totaltit dd, .chart .lhcchart_specialtit dd { font-weight:600; }
	.chart .chart_tit dd span, .chart .chart_list dd span { padding:0 4px; }
	.chart .chart_list, .chart .lhcchart_number, .chart .lhcchart_total, .chart .lhcchart_special { color:#fff; border:none; display:flex; }
	.chart .chart_red { color:#ef0000; }
	.chart .chart_list dt, .chart .lhcchart_number dt, .chart .lhcchart_total dt, .chart .lhcchart_specia, .chart .lhcchart_special dt, .chart .lhcchart_special dd { font-size:12px; }
	.chart .chart_list dd span.red { background:#ef0000; color:#fff; border-radius:20px; }
.bg_gray { background:#567f0b; }
.chart .lhcchart_specialtit dt:first-child{flex: 1 1 20.8%; }

/*六合彩*/
	.chart .lhcchart_totaltit dt, .chart .lhcchart_tit dt, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd:last-child { font-weight:bold; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_tit dd, .chart .lhcchart_number dd { flex:1 1 57%; }
	.chart .lhcchart_tit .lhcchart_txt1 { padding:8px 0 18px; }
	.chart .lhcchart_tit .lhcchart_txt2 div { margin-left:-1px; }
	.chart .lhcchart_tit .lhcchart_txt2, .chart .lhcchart_specialtit .lhcchart_specialtxt { display:flex; justify-content:space-evenly; }
	.chart .lhcchart_tit .lhcchart_txt2 div, .chart .lhcchart_specialtit .lhcchart_specialtxt div { line-height:14px; width:6%; margin:4px 1% 0; }
	.chart .lhcchart_number dt, .chart .lhcchart_number dd, .chart .lhcchart_special dd { display:flex; -moz-box-pack:center; justify-content:space-evenly; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dt { display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dd div { font-size:12px; width:9%; margin:0; display:flex; flex-direction:column; -moz-box-pack:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dd div span { text-align:center; line-height:20px; display:flex; flex-direction:column; }
	.chart .lhcchart_number .lhc_rednum, .chart .lhcchart_number .lhc_greennum, .chart .lhcchart_number .lhc_bluenum { color:#fff; line-height:20px; text-align:center; width:20px; height:20px; border-radius:20px; margin:auto 2px; }
	.chart .lhcchart_number .lhc_rednum { background:linear-gradient(to bottom, #ff1e00 0%,#8e0000 100%); border:1px solid #c50000; box-shadow:inset rgba(255, 240, 157, 0.2) 0px 2px 0px; }
	.chart .lhcchart_number .lhc_greennum { background:linear-gradient(to bottom, #51e600 0%,#1f8500 100%); border:1px solid #26a100; box-shadow:inset rgba(181, 255, 159, 0.2) 0px 2px 0px; }
	.chart .lhcchart_number .lhc_bluenum { background:linear-gradient(to bottom, #2dc6ff 0%,#0066d9 100%); border:1px solid #298eff; box-shadow:inset rgba(120, 183, 255, 0.2) 0px 2px 0px; }

	.chart .lhcchart_totaltit dd { color:#000; flex:1 1 9%; }
	.chart .lhcchart_total dd { color:#fff; flex:1 1 9%; }
	.chart .lhcchart_specialtit dd:last-child, .chart .lhcchart_special dd:last-child { flex:1 1 7.5%; }
	.chart .lhcchart_specialtit .lhcchart_specialtxt div { width:6%; margin:4px 1% 0; }

	.chart .lhcchart_specialtit dd, .chart .lhcchart_special dd { padding:3.6% 0; flex:1 1 46.4%; }
	.chart .lhcchart_special dt { display:flex; flex:1 1 20.8%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_special dd:last-child { color:#fff; justify-content:center; }
	.chart .lhcchart_special .lhcchart_fontred, .chart .lhcchart_special .lhcchart_fontblue, .chart .lhcchart_special .lhcchart_fontgreen { line-height:14px; width:6%; margin:4px 1% 4px; display:flex; flex-direction:column; }
	.chart .lhcchart_special .lhcchart_fontred { color:#ff7979; }
	.chart .lhcchart_special .lhcchart_fontblue { color:#63d8ff; }
	.chart .lhcchart_special .lhcchart_bgred { background:#d10404; }
	.chart .lhcchart_special .lhcchart_bggreen { background:#359817; }
	.chart .lhcchart_special .lhcchart_bgblue { background:#337bfe; }

/*新手教學視窗*/
.new_window  {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.new_window .new_menubox {z-index: 101; width: 98%; margin: 0 auto; position: relative;}
.new_window .new_menubox .new_menu_title { background: url(../images/kind_popup_header.png); background-size: 100% 100%; height: 14vw; padding-top:4vw;font-size: 4.5vw;color: #532f14;letter-spacing: 2px;font-weight: bold; text-align: center;text-shadow: 0px 1px 0px #ffac50; }
.new_window .new_menubox .new_menu_title img { width: 3.5vw; margin-right: 1.5vw; }
.new_window .new_menubox .new_menu_title span { display: inline-block; border-radius: 30px;  box-shadow: 0px 1px 1px 0px #dc882e, inset 0px 1px 1px 0px #b5710b;  background-color: #fdd82f; padding:0 3vw; line-height: 7vw; font-size: 5vw;}
.new_window .new_menubox > button { position: absolute; right: 6vw; top: 2.5vw;border: 0; background: rgba(0,0,0,0); }
.new_window .new_menubox > button img { width: 9vw;  }
.new_window .new_menubox .new_menu_list { -webkit-overflow-scrolling: touch; height: 110vw; overflow-y: auto; background: url(../images/kind_popup_body.png) repeat-y; background-size: 100% auto; text-align: center; z-index: 300; }
.new_window .new_menubox .new_menu_list h6 {font-size: 5vw; font-family:GothamRnd-Bold; display: block;color: #fdd82f; width: 91%; letter-spacing:0.2vw; text-align: center; line-height: 9vw;padding-bottom: 2vw; font-weight: normal; background: url(../images/kind_popup_title.png); background-size: 100% 100%; margin: 0 auto;}
.new_window .new_menubox .new_menu_list p {font-size: 3.5vw; line-height: 8vw; padding-top: 1vw; color: #fff; letter-spacing: 0.1vw; width: 88%;margin: 0 auto; text-align: center; }
.new_window .new_menubox .new_menu_list img { width: 80%; margin: 2vw auto 4vw; }
.new_window .new_menubox .new_menu_list .step div { display: flex; flex:1 1 0; justify-content: center; }
.new_window .new_menubox .new_menu_list .step div span { display: block; width: 50%; }
.new_window .new_menubox .new_menu_list .step div img { width: 100%; height: auto; }
.new_window .new_menubox .new_menu_list .step div ol { padding-top: 1vw; }
.new_window .new_menubox .new_menu_list .step div li { font-size: 2.8vw; padding-left: 3vw; text-align: left; line-height: 4.5vw; }
.new_window .new_menubox:after { content: ''; display: block; width: 100%; height: 8vw; background: url(../images/kind_popup_bottom.png); background-size: 100% 100%;}
.new_window .new_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }

/*投注詳情*/
#detail{ width: 100%; height: 100%; background:#4c7208;; position: fixed;top: 0;	z-index: 9999;left: 100%;color: #fff;overflow-y: scroll;-webkit-overflow-scrolling: touch;}
#detail .inside_header { width: 100%; position:fixed; top: 0; font-size: 4vw; text-align: center; padding:0 3.5vw; height:21vw; justify-content:center; align-items:center; box-sizing:border-box; background: url(../images/header_bg.png) top center no-repeat; background-size: 100% auto; padding-top:9vw; border-bottom-right-radius: 26px;border-bottom-left-radius: 26px;z-index: 999; left: 0; }
#detail .inside_header .lhc_back { position: absolute; left: 4vw;top:11vw; text-decoration: none; color: #fff; }
#detail .inside_header .lhc_back span {display: block; height: 6.5vw; line-height: 6.5vw; background: rgba(65,28,12,.7); box-shadow: 0px 2px 4.8px 0.3px #f7a66a, inset 0px 1px 2px 0px rgba(84, 45, 1, 0.6);padding:0 4vw; border-radius: 30px; }
#detail .inside_header .lhc_back span img { width:4vw;  margin-right:8px; display:inline-block; vertical-align: middle; position:relative; z-index:4; }
#detail .inside_header .title { text-align: center;font-size: 5vw;letter-spacing: 2px; line-height: 10vw;font-weight: bold;}
	
.detail{ margin: 0 auto;margin-top: 25vw;}
.detail dl{ width: 90%; margin: 0 auto; margin-bottom: 3vw; }
.detail dd{display: flex; color: #5a3517;}
.detail dl:first-child dd{color: #fff;}
.detail dl:first-child dd div:first-child { color: #fdd82f; }
.detail dl:nth-child(n+2) dd{border: 1px solid #cd7528;;border-bottom: 0;}
.detail dl:nth-child(n+2) dd:last-child{border-bottom: 1px solid #cd7528;}
.detail dl:nth-child(n+2) dd > div:nth-child(2){border-left: 1px solid #cd7528;}
.detail div{ font-size: 3.5vw; line-height: 8vw; flex:1 1 25%;padding:0 1vw; display: flex; align-items: center;}
.detail dl:nth-child(n+2) dd > div:nth-child(1) { text-align: center; justify-content: center;}
.detail dd > div:nth-child(2) {flex:1 1 75%;display: flex;}
.detail dd.tit{background: #cd7528;color: #fff; font-weight: bold;}
.detail dl:nth-child(n+2){background: #fff1cb;}
.detail dl:first-child dd+dd{ border-top: 1px dotted rgba(245,245,245,.3) }
span.gray_sta,.green_sta,.red_sta{padding:0.2vw 2vw; color: #fff; margin: 1vw; margin-left: 0; border-radius: 1vw;line-height: 5vw; }
.gray_sta{background:#9a9a9a;}
.green_sta{background: #369619;}
.red_sta{background: #f13029;}
.bets_note { color: #fdd82f; line-height: 8vw; font-size: 3.7vw; }
.detail dd.total div:last-child{color: #ffde59; font-size: 4.8vw;}
.infopop  {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.infopop .new_menubox {z-index: 101; width: 98%; margin: 0 auto; position: relative;}
.infopop .new_menubox .new_menu_title { background: url(../images/kind_popup_header.png); background-size: 100% 100%; height: 14vw; padding-top:4vw;font-size: 4.5vw;color: #532f14;letter-spacing: 2px;font-weight: bold; text-align: center;text-shadow: 0px 1px 0px #ffac50; }
.infopop .new_menubox .new_menu_title img { width: 3.5vw; margin-right: 1.5vw; }
.infopop .new_menubox .new_menu_title span { display: inline-block; border-radius: 30px;  box-shadow: 0px 1px 1px 0px #dc882e, inset 0px 1px 1px 0px #b5710b;  background-color: #fdd82f; padding:0 3vw; line-height: 7vw; font-size: 5vw;}
.infopop .new_menubox > button { position: absolute; right: 6vw; top: 2.5vw;border: 0; background: rgba(0,0,0,0); }
.infopop .new_menubox > button img { width: 9vw;  }
.infopop .new_menubox .new_menu_list { border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -4.5vw;-webkit-overflow-scrolling: touch; height: auto; overflow-y: auto; background: url(../images/kind_popup_body.png) repeat-y; background-size: 100% auto; text-align: center; z-index: 300; }
.infopop .new_menubox .new_menu_list h6 {font-size: 5vw; font-family: 'Microsoft YaHei',sans-serif; display: block;color: #fdd82f; width: 91%; letter-spacing:0.2vw; text-align: center; line-height: 9vw;padding-bottom: 2vw; font-weight: bold; background: url(../images/kind_popup_title.png); background-size: 100% 100%; margin: 0 auto;}
.infopop .new_menubox .new_menu_list p {font-size: 3.5vw; line-height: 8vw; padding-top: 1vw; color: #fff; letter-spacing: 0.1vw; width: 88%;margin: 0 auto; text-align: center; }
.infopop .new_menubox .new_menu_list img { width: 80%; margin: 2vw auto 4vw; }
.infopop .new_menubox .new_menu_list .step div { display: flex; flex:1 1 0; justify-content: center; }
.infopop .new_menubox .new_menu_list .step div span { display: block; width: 50%; }
.infopop .new_menubox .new_menu_list .step div img { width: 100%; height: auto; }
.infopop .new_menubox .new_menu_list .step div ol { padding-top: 1vw; }
.infopop .new_menubox .new_menu_list .step div li { font-size: 2.8vw; padding-left: 3vw; text-align: left; line-height: 4.5vw; }
.infopop .new_menubox:after { content: ''; display: block; width: 100%; height: 8vw; background: url(../images/kind_popup_bottom.png); background-size: 100% 100%;}
.infopop .new_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }