body,html { width: 100%; overflow-x: hidden;}
body {font: 86% Microsoft YaHei ; font-family: 'Microsoft YaHei',sans-serif; font-weight:normal; background:url(../images/bg.jpg) repeat; background-size: 100%; color:#fff;}
main { margin-bottom: 29vw; margin-top: 85vw; width: calc(100% - 14vw); padding: 0 7vw;}
header { width: calc(100% - 14vw); position: fixed; z-index: 1; background: url(../images/header_bg.jpg) no-repeat top center / 100%;  padding:10vw 7vw 0;}
header nav { display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; box-sizing:border-box; }
header nav .smenu-icon, header .winning-info .winning-number ul{ display:flex; align-items:center; }
header nav .smenu-icon, header nav .left-menu,header nav .right-menu{ flex:1 1 0%; z-index: 3;}
header nav .left-menu img,header nav .smenu-icon img{ width: 5.9vw;height: 5.7vw;}
header nav .title { font-size: 4vw; margin-top: 1vw; flex: 1 1 0%; text-align: center; color: #6a4639; font-weight: bold;}	
header nav .topbtn { width: 6.2vw;	height: 6.2vw; margin-top: 15vw;text-align: center;	background: url(../images/topbtn.png)no-repeat top center / 100%;}
header nav .topbtn img{ width: 100%;position: initial;margin-top: 0.2vw;}
header nav .dropmenu{width: 100%; height: 100.4vw; z-index: 2;display:none; position:absolute; top:20.6vw; right:0; background:url(../images/dropmenu_bg.png) top center no-repeat;  background-size: 100% 100%; }
header nav .right-menu > img{right: 14vw;}
header nav .smenu-icon{ justify-content: flex-end;}	
header nav .smenu { width: 100%; position:absolute; top:15vw; right:0; z-index:9999; background:url(../images/smenu_bg.png) top center no-repeat;  background-size: 100% 100%; }
header nav .smenu p {font-size:4vw ; text-align: center; padding-top: 3vw; height: 10vw; line-height: 10vw; color: #fff;font-family: 'Microsoft YaHei',sans-serif; font-weight: bold;}
header nav .smenu ul { justify-content: center; font-size:3.5vw;  padding:4vw;padding-bottom: 0; display:flex;}
header nav .smenu ul li { text-align:center; width: 25%; display:flex; flex-direction:column;flex: 1 1 0;}
header nav .smenu ul li a {font-size: 3vw; text-decoration: none;  color:rgba(64, 36, 29, 0.9);padding-top: 1vw; padding-bottom: 2vw; font-family: 'Microsoft YaHei',sans-serif;font-weight: bold; }
header nav .smenu ul li img { width:12.6vw; height:12.6vw; position:relative; z-index:4;}
header .winning-info,header .winning-info2{display: flex; margin-top: 13vw; margin-bottom: 1vw;}
header .winning-info > div >div:first-child { font-family: 'Microsoft YaHei',sans-serif;display: flex; align-items: center; }
header .winning-number,header .winning-countdown{background: rgba(58,21,18,.5); padding: 1vw 1.5vw 1vw 0.5vw; border-radius: 20px; font-size: 3vw;display: flex; align-items: center;}
header .winning-number img,header .rec img{width: 4.5vw;height: 2.9vw; margin-top: 1vw;}
/* header .winning-countdown .rec{text-align: right;} */
header .winning-info2{ margin-top: 0;}
header .winning-info2 .winning-period,header .winning-info2 .nexttime{ display:flex; flex: 1 1 0%;}
header .winning-info2 .nexttime{/*justify-content: flex-end;*/align-items: center;}
header .winning-period div{width: 6.7vw; height: 8.4vw; margin-top: 0.5vw; background: url(../images/perbg.png) no-repeat top center / 100%;}
header .winning-period div img{width: 100%;}
header .nexttime div{width: 6.7vw;	height: 8.4vw; margin-top: 0.5vw; background: url(../images/next-timebg.png) no-repeat top center / 100%;}
header .nexttime div:last-child{background: none;}
header .nexttime div img{ width: 100%;}
.winning-info3{font-size: 3vw; margin-top: -33vw; width: 53vw; float: right; margin-right: -3vw;}
.openumber{flex: 1 1 0%;}
.opnum{
height: 4.3vw;
background: -moz-linear-gradient(left, rgba(58,21,18,0) 0%, rgba(58,21,18,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(58,21,18,0) 0%,rgba(58,21,18,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(243, 219, 217, 0) 0%,rgba(58,21,18,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a1512', endColorstr='#3a1512',GradientType=1 ); /* IE6-9 */ margin-top: 0.9vw;}
.opnum > div{background: url(../images/opnumbg.png) no-repeat center / 100%;width: 7.4vw; height: 5.1vw; color: #ffffa0; text-shadow: 0px 1px 3px #000; font-weight: bold; text-align: center; display: inline-block;position: absolute; margin-left: 0.5vw;margin-top: -0.25vw;}
.demo{ flex: 2 1 0;}
.demo img{width: 100%;height: 100%;}
.now-period{ display: flex; align-items: center; justify-content: center;line-height: 5vw;margin-top: -5vw;color: #fc5e7f;font-weight: bold;background: #210a07;position: absolute;width: calc(100% - 14VW);left: 0;padding: 0 7vw; text-align: center; z-index: -1; background: url(../images/Verify_fairness_bg.png)no-repeat top center / 100% 100%;}
.now-period span{color: #fff; }
.now-period::before,.now-period::after{
    content: '';
    margin:0 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/star.png);
    background-size: 100% 100%;
}
/*下注數*/
.note {left: 0;position: absolute; color: #fff; font-weight: bold;font-size: 3vw;text-align: center; width: 100%;}
.note img{width: 4vw; height: 4vw; margin-bottom: -1vw;margin-right: 2vw;}
.note span { color:#00c3ff;}
.note > div{ padding:1vw 0 0; background: rgba(58,21,18,1);}
.note > div.verify_fairness { padding: 2vw 10vw; display: flex;}
.verify_fairness div { display: flex; justify-content: flex-end; flex: 1 1 65vw;}
.verify_fairness div:nth-child(2) { flex: 1 1 35vw;}
.verify_fairness div img{ width: 22.3vw; height: 5.5vw;}
.info_btn { width: 7vw; position: absolute; margin-top: -8vw; right: 7vw; cursor: pointer; margin-right: 5vw;}
/*module*/
.lhc_kind:after { content: '';display: block; width: 100%; height: 12vw; margin-top: -10.2vw; background: url(../images/list_bot.png) no-repeat top center / 100% 100%;}
.lhc_kind .topborder { text-align: center; background: url(../images/list_headear.png) no-repeat top center / 100% 100%; height: 11.7vw;}
.lhc_kind .topborder img{width: 25.9vw;margin-top: 3.5vw;}
.lhc_kind .topborder span{color: #8c5843; font-weight: bold;position: absolute;display: block;font-size: 3vw;margin-left: 2vw;margin-top: 6vw;}
.lhc_btn_box,.lhc_btn_box2,.lhc_btn_box3,.lhc_btn_box4,.lhc_btn_box5,.lhc_kind .line{display:flex;padding: 1vw; background: url(../images/list_bg.png) top center repeat-y; background-size: 100% 100%; }
.lhc_kind .line{ height: 0.8vw;}
.lhc_kind div img{width: 100%;}
/*混合*/
.lhc_btn_box > div{display: flex; align-items: center;}
.lhc_btn_box > div > div span{position: absolute; font-size: 2vw; right:2vw; bottom: 2vw;}
.lhc_btn_box > div > div{ background:  url(../images/module-btn1.png); background-size:100% 100%; position: relative; display:flex; justify-content: flex-end;align-items: flex-end; margin: 0 1vw;}
.lhc_btn_box > div > div.active{background:  url(../images/module-btn1a.png);background-size:100% 100%;}
.lhc_btn_box > div:nth-child(1).active{background: none;}
/*猜一號*/
.lhc_btn_box2 > div:nth-child(1),.lhc_btn_box2 > div > div{display: flex; align-items: center;}
.lhc_btn_box2 > div > div > div{ background:  url(../images/module-btn2.png); background-size:100% 100%; display:flex; justify-content: flex-end;align-items: flex-end; margin: 0 1vw;}
.lhc_btn_box2 > div > div > div.active{background:  url(../images/module-btn2a.png);background-size:100% 100%;}
.lhc_btn_box2 > div:nth-child(1).active{background: none;}
/*二不同號*/
.lhc_btn_box3{flex-wrap: wrap;justify-content: center;}
.lhc_btn_box3 > div{width: 13.3vw; height: 13.6vw; background: url(../images/module-btn3.png); background-size:100% 100%; display:flex;justify-content: center; align-items: center; margin: 0 0.3vw;}
.lhc_btn_box3 > div.active{background: url(../images/module-btn3a.png);background-size:100% 100%;}
.lhc_btn_box3 > div > img{ width: 3.3vw;margin: 0 1vw;}
/*三位*/
.lhc_btn_box4{margin: auto;width: 100%;display: flex;flex-wrap: wrap;justify-content: center;padding: 0;}
.lhc_btn_box4 > div{background:  url(../images/module-btn1.png); background-size:100% 100%; width: 22%; margin: 0 1%; position: relative; padding-bottom: 3vw;}	
.lhc_btn_box4 > div.active{background:  url(../images/module-btn1a.png);background-size:100% 100%;}
.lhc_btn_box4 > div span{font-size: 2.5vw; display: flex;	justify-content: center; margin-top: -8vw;}
.lhc_btn_box4 > div img{ margin-top: -3vw;}
.info-txt{ font-size: 3vw; font-weight: bold;background: url(../images/list_bg.png) top center / 100% 100%; padding: 0 4vw;display: flex;justify-content: flex-end;color: #fff; text-shadow: -1px 0 #48271f, 0 1px #48271f, 1px 0 #48271f, 0 -1px #48271f;}
.info-txt ul{display: flex;}
.info-txt li{width: 6.7vw;	height: 8.4vw;background: url(../images/next-timebg.png) no-repeat top center / 100%;display: flex; justify-content: center; align-items: center;}
.info-txt li.red{background: url(../images/perbg.png) no-repeat top center / 100%;}
/*二位*/
.lhc_btn_box5{margin: auto;width: 100%;display: flex;flex-wrap: wrap;justify-content: center;padding: 0;}
.lhc_btn_box5 > div{background:  url(../images/module-btn1.png); background-size:100% 100%; width: 22%; margin: 0 1%; position: relative; padding-bottom: 3vw;}	
.lhc_btn_box5 > div.active{background:  url(../images/module-btn1a.png);background-size:100% 100%;}
.lhc_btn_box5 > div span{font-size: 2.5vw; display: flex;	justify-content: center; margin-top: -8vw;}
.lhc_btn_box5 > div img{ margin-top: -3vw;}
/*footer*/
footer { height: 25.3vw;display: flex; align-items: baseline;justify-content: center; padding: 4.5vw 4vw 0; position: fixed; bottom: 0; width: calc(100% - 8VW); background: url(../images/bottom_bg.png) no-repeat top center / 100%;z-index: 2; }
footer button { flex: 1 1 0%; background: transparent; border: none; padding: 0;}
footer button > img{width: 16.4vw;}
footer button span{margin-top: -3vw; display: block;}
footer button:first-child > img,footer button:nth-child(5) > img{width: 22vw;}
footer button:first-child > img.star {width: 10vw; position: absolute; margin-left: -5vw; margin-top: -4vw;}
/*投注倍率*/
.bot_menu_popup { position: fixed; bottom: 23vw; width: 100%; height: 32.6vw; background: url(../images/bottom_popup_bg.png) top center;background-size:100% 100% ; z-index: 90}
.bot_menu_popup .bot_menu_btn { clear: both; display:flex; align-items: center; text-align: center;padding:2vw 6vw; }
.bot_menu_popup .bot_menu_btn div {flex: 1 1 0; height: 12.8vw; display: flex; align-items: center; line-height: 12.8vw; color: #fff; background: url(../images/num_btn_bg.png) no-repeat top center /100%; margin:1vw 2.4vw;}
.bot_menu_popup .bot_menu_btn div.active {background: url(../images/num_btn_bga.png) no-repeat top center /100%;}
.bot_menu_popup .bot_menu_btn > div > img {width: 100%;}
.bot_menu_input {display: flex; align-items: center; padding: 0 8vw;font-size: 4vw;  height: 8.4vw;}
.bot_menu_input input { font-size: 5vw; text-align: center; height: 100%; width: 50%; border: 0;font-weight: bold;padding: 0; color:#fff;border-radius: 0; background:url(../images/inputbg.png) top center /100%; }
.bot_menu_input span{margin:0 2vw; text-shadow: 0px 1px 3px #000; }
.bot_menu_input button { position: relative; width: 15vw; height: 100%; border: 0; font-size: 5vw; background: url(../images/bot_menu_rightbtn.png) no-repeat top center /100%;padding: 0; }
.bot_menu_input span + button{background: url(../images/bot_menu_leftbtn.png)no-repeat top center /100%;}
.bot_menu_input button svg {width: 5vw; margin-top: 1vw; color: #fff;filter: drop-shadow(1px 1px 1px rgba(0,0,0,.8));}
.window_bg { width: 100%; height: 100%; background: rgba(0,0,0,0);position: fixed; top: 0; left: 0;z-index: 89; }
/*跳窗*/
.window_con {position: fixed; z-index: 2;width: 100%; height: 100%; display: flex;align-items: center;top: 0; left: 0;}
.window_con .window_box { position: relative; z-index:99;width: 67.35vw;  padding: 3vw 4vw; margin: 0 auto; height: 37.8vw;background: url(../images/popbg.png) no-repeat; font-weight: bold; background-size: 100%; color: #6a4639;}
.window_con .window_box > div { display: none; text-align: center;}
.window_con .window_box > div dl{width: 90%; margin:5vw auto; }
.window_con .window_box > div dt{background: #675045;color: #decdb3;display: flex;border-radius: 7px 7px 0 0; }
.window_con .window_box > div dt div:first-child{border-right: 1px solid #decdb3;}
.window_con .window_box > div dd{background: #ad9784;color: #6a4639;display: flex;border-radius: 0 0 7px 7px ;border: 1px solid #6a4639;}
.window_con .window_box > div dd div:first-child{border-right: 1px solid #6a4639;}
.window_con .window_box > div h4 {width: 100%;margin-top: -1vw; padding-bottom: 1vw;}
.window_con .window_box > div h4 span{font-size: 4.5vw;}
.window_con .window_box > div h4 > span:nth-child(1) {background: -webkit-gradient(linear,left top,right top,from(#ffffaf),to(#ffcb35));background: linear-gradient(to top,#ffffaf,#ffcb35);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;position: absolute;}
.window_con .window_box > div h4 > span:nth-child(2) {text-shadow:0.1em 0.1em #7a332c; color: transparent;}
.window_con .window_box > div img {width: 100%;}
.window_con .window_box > div h6 { font-size: 6vw;  color: #5b8600;line-height: 7vw; padding-top: 5vw; color: #9c4d35; font-weight: bold; } 
.window_con .window_box > div p { font-size: 3.8vw;  line-height: 12vw; padding: 3vw 0; }
.window_con .window_box > div button { width: 27.2vw; height: 9.6vw; border: none; background: transparent;}
.window_con .window_box > div button img{ width: 100%;}
.window_close p{margin-top:4vw; }
.window_success div { flex: 1 1 0;font-weight: normal;}
.window_clear div,.window_rules,.window_check{ display: flex; align-items: center;}
.window_con .window_box > .window_clear div button{height: 12vw;}
.window_con .window_box > .window_check div button{height: 12vw;}
.window_clear div button,.window_rules div button,.window_check div button{ flex: 1 1 auto;padding:0;}
.window_con .window_box > div.window_rules p{ line-height: 8vw; }
.window_con_bg {width: 100%; height: 100%;background: rgba(0,0,0,.7); position: fixed; top: 0; left: 0;}
/* 玩法介紹 */
.inside_header { width: 100%; position: fixed; top: 0; height: 20vw; justify-content:center; align-items:center; box-sizing:border-box; background: url(../images/indise_header_bg.png) top center no-repeat; background-size: 100% auto; }
.inside_header .winning-info{margin-top: 10.5vw;}
.inside_header .winning-countdown .period {background: transparent; font-size: 3vw; display: inline-block;}
.inside_header .winning-countdown ol {background:#9d0f04;border: 0.5vw solid rgba(0, 0, 0, 0.5);position: initial;	border-radius: 1vw;display: inline-block;padding: 0;margin-right: 2vw;}
.inside_header .winning-countdown ol li span{color: #ffd430;}
.inside_header + main{margin-top: 22vw;margin-bottom: 0vw;}
.inside_header .lhc_back { position: absolute; left: 4vw;top: 1vw; text-decoration: none; color: #fff; }
.inside_header .lhc_back span {display: block; height: 6.5vw; line-height: 6.5vw; font-family: 'Microsoft YaHei',sans-serif;font-weight: bold;color: #004c5e;font-size: 4vw; padding-top: 10.4vw; margin-left: 1.3vw; }
.inside_header .lhc_back span img { width:4vw;  margin-right:1px; display:inline-block; vertical-align: middle; position:relative; z-index:4; top:-2px;}
.inside_header .lhc_tit { text-align: center;font-size: 4vw; line-height: 10vw;font-weight: bold;color: #07e3d9;}
.rules_con > div { width: 90%; margin: 0 auto; }
.howtoplay dt{background: #675045;height: 30px;display: flex;align-items: center;color: #decdb3;}
.howtoplay dd{display: flex;color: #fff; align-items: center;border-bottom: 1px solid #675045;}
.howtoplay dd div{padding: 10px 0; }
.howtoplay dd div+div{ border-left: 1px solid #675045; }
.lottery_rules{padding: 4%; margin: 0 auto;font-size: 3.2vw; line-height: 5vw;padding-bottom: 20px; }	
.lottery_rules h3 { line-height:7vw;padding: 4px 0 4px 15px; font-size: 5vw; color: #fff; display: flex; align-items: center; background: #6a4639; margin-bottom: 2vw; border-radius: 20px; }
.lottery_rules h3::before { content: '';margin-right: 5px;display: inline-block;width: 20px;height: 20px; background: url(../images/star.png);background-size:100% 100%; }
.lottery_rules .introduction h3::after,.howtoplay h3::after { font-weight: 200; margin-left: 7px; color: #810504;}
.lottery_rules .introduction h3::after{ content: 'Introduction'; color: #fff;}
.lottery_rules .introduction h3 + p > span,.lottery_rules .howtoplay h3 + p > span{ font-weight: bold; font-size: 4vw; color: #ffd430;}
.lottery_rules .introduction {padding-bottom: 20px; }
.lottery_rules .introduction p { line-height: 6vw; }
.lottery_rules .howtoplay dd.ddtit { background: rgba(27,48,65,0.4); }	
.howtoplay dl{ border: 1px solid #675045; border-bottom: 0; background: #ad9784;margin-top: 2vw; }
.howtoplay div{ flex: 1 0 70%; align-items: center;box-sizing: border-box; padding: 10px 3px; }
.howtoplay div:first-child{flex: 1 0 30%; text-align: center;}
.howtoplay dd div{box-sizing: border-box; padding: 6px 3px; }
.howtoplay dt div{ text-align: center; }
/*投注记录*/
.lhc_my_bets dt{background: #6a4639; color: #decdb3; display: flex;align-items: center;}
.lhc_my_bets dd{display: flex; color: #fff; align-items: center;border: 1px solid #675045;border-bottom: 0px solid #675045; background: #ad9784;}
.lhc_my_bets dd:last-child{border-bottom: 1px solid #675045;}
.lhc_my_bets div{ font-size: 3.5vw; line-height: 9vw; text-align: center;align-items: center; flex:1 1 0;}
.lhc_my_bets dd:nth-of-type(even){ background:#675045; }
.lhc_my_bets dd > div:nth-child(2) { flex:1 1 0;display: flex; align-items: center; justify-content: center; text-align: center; border-left: 1px solid #675045;border-right: 1px solid #675045;}
.lhc_my_bets dd > div:nth-child(2) div {line-height:4vw; font-size: 3vw;flex: 1 1 0%; padding: 1.5vw 0;}
.lhc_my_bets dd > div:nth-child(2) div:last-child { margin-left: 1vw; }
.lhc_my_bets dd > div:nth-child(2) div:last-child:before { content: '+'; position: absolute; margin-left: -2.4vw; }
.lhc_my_bets dd > div:nth-child(2) div span { color: #fff; display:inline-block; border-radius: 50%; font-size: 2.7vw; font-weight: bold; width:4.2vw; height:4.2vw; text-align: center; margin-bottom: 1vw; }
.lhc_my_bets dd > div:nth-child(2) div.num_red span { background: #e12500; }
.lhc_my_bets dd > div:nth-child(2) div.num_blue span { background:#1a63e7; }
.lhc_my_bets dd > div:nth-child(2) div.num_green span { background: #568600; }
.lhc_my_bets dd > div:nth-child(2) div.num_yellow span { background: #ffa515; }
.lhc_my_bets dd > div:nth-child(2) div.num_brown span { background:#cb755e; }
/*走勢圖*/
.chart { background: rgba(27,48,65,0.4);color: #decdb3;}
.chart h2 { display:none; }
.chart ul { font-size:16px; padding:5px 10px; display:flex; }
.chart ul li { font-weight: bold;text-align:center; margin:1vw; flex:1 1 0%; background:  url(../images/sbtn.png); background-size:100% 100%; color: #fff;height: 8.4vw;line-height: 8.4vw;}
.chart ul li.active { background:  url(../images/sbtna.png);background-size:100% 100%; color: #911204;}
.chart .chart_tit, .chart .lhcchart_totaltit, .chart .lhcchart_tit{ background:#6a4639; display:flex; }
.chart .chart_tit dt, .chart .chart_tit dd, .chart .chart_list dt, .chart .chart_list dd{ min-width: 18px;font-size:11.5px; text-align:center; padding:3.6% 0; border-right:1px solid #675045; flex:1 1 0%; }
.chart .chart_tit dt, .chart .chart_list dt{ padding: 3.6% 0;flex: 1 1 15%;min-width: 80px;}
.chart .chart_tit dd, .chart .lhcchart_tit dd{ flex-direction:column; justify-content:space-evenly; align-items:center; }
.chart .chart_tit dd:last-child, .chart .chart_list dd:last-child{ border-right:none; }
.chart .chart_tit dd, .chart .lhcchart_tit dd{ font-weight:600; }
.chart .chart_tit dd span, .chart .chart_list dd span { padding:0 4px; }
.chart .chart_list, .chart .lhcchart_number, .chart .lhcchart_total, .chart .lhcchart_special { color:#decdb3; border:none; display:flex; }
.chart .chart_red { color:#ffd430; }
.chart .chart_list dt, .chart .lhcchart_number dt, .chart .lhcchart_total dt, .chart .lhcchart_specia, .chart .lhcchart_special dt, .chart .lhcchart_special dd { font-size:12px; }
.chart .chart_list dd span.red { background:#ef0000; color:#fff; border-radius:20px; }
.bg_gray { background:rgba(42,75,102,0.5); }
/*新手教學視窗*/
.new_window  {position: fixed; z-index: 2;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.new_window .new_menubox {z-index: 101; width: 85%; margin: 0 auto; position: relative;}
.new_window .new_menubox .new_menu_title {line-height: 14vw;font-size: 6vw; font-weight: bold; background: url(../images/kind_popup_header.png); background-size: 100% 100%; height: 14vw; text-align: center; }
.new_window .new_menubox .new_menu_title img { width: 30vw; margin: auto; margin-top: 2vw;}
/* .new_window .new_menubox .new_menu_title span { display: inline-block; border-radius: 30px;  box-shadow: 0px 1px 1px 0px #dc882e, inset 0px 1px 1px 0px #b5710b;  background-color: #fdd82f; padding:0 3vw; line-height: 7vw; font-size: 5vw;} */
.new_window .new_menubox .new_menu_title span:nth-child(1) {background: -webkit-gradient(linear,left top,right top,from(#ffffaf),to(#ffcb35));background: linear-gradient(to top,#ffffaf,#ffcb35);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;position: absolute;}
.new_window .new_menubox .new_menu_title span:nth-child(2) {text-shadow:0.1em 0.1em #7a332c; color: transparent;}
.new_window .new_menubox > button { position: absolute; right: 2vw; top: 5vw;border: 0; background: rgba(0,0,0,0); }
.new_window .new_menubox > button img { width: 9vw;  }
.new_window .new_menubox .new_menu_list { -webkit-overflow-scrolling: touch; height: 110vw; overflow-y: auto; background: url(../images/kind_popup_body.png) repeat-y; background-size: 100% auto; text-align: center; z-index: 300; }
.new_window .new_menubox .new_menu_list h6 {margin: 0 auto;}
.new_window .new_menubox .new_menu_list h6 img{width: 20vw;}
.new_window .new_menubox .new_menu_list p {font-size: 3.5vw; color: #675045; letter-spacing: 0.1vw; width: 88%;margin: 0 auto; text-align: center;font-weight: bold; }
.new_window .new_menubox .new_menu_list img { width: 100%; margin: 2vw auto 0; }
.new_window .new_menubox .new_menu_list .step div { display: flex; flex:1 1 0; justify-content: center; }
.new_window .new_menubox .new_menu_list .step div span { display: block; width: 50%; }
.new_window .new_menubox .new_menu_list .step div img { width: 100%; height: auto; }
.new_window .new_menubox .new_menu_list .step div ol { padding-top: 1vw; }
.new_window .new_menubox .new_menu_list .step div li { font-size: 2.8vw; padding-left: 3vw; text-align: left; line-height: 4.5vw; color: #675045;}
.new_window .new_menubox:after { content: ''; display: block; width: 100%; height: 5.2vw; background: url(../images/kind_popup_bottom.png); background-size: 100% 100%;}
.new_window .new_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }
/*loading動畫*/
.loading{width: 100%; height: 100%; background: url(../images/bg.jpg) repeat top center /100%; position: fixed; z-index: 3; display: flex; align-items: center; justify-content: center; top: 0; left: 0;}
.loadbar{width: 84%; margin: auto; text-align: center; border-radius: 15px;background: url(../images/loadingbg.png) repeat top center /100%; padding: 0.5vw;}
.loadimg{width: 84%; position: absolute; display: flex;}
.loadtxt{ width:0%; border-radius: 15px;background: url(../images/loadingbg.jpg) repeat top center /100% 100%;margin-top: -0.05vw;}
/*投注詳情*/
#detail{ -webkit-overflow-scrolling: touch;width: 100%; height: 100%; background: rgba(0,0,0,1); position: fixed;	top: 0;	z-index: 9999;left: 100%;background: url(../images/bg.jpg) repeat;background-size: 100%;color: #fff;overflow-y: scroll;}
#detail .inside_header{	padding: 10vw 7vw 0;position: fixed; top: 0; left: 0;}
#detail .inside_header img { position:absolute; top:0;}
#detail .inside_header nav { position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; }
#detail .inside_header nav .right-menu{ flex:1 1 0%; z-index: 3;}
#detail .inside_header nav .left-menu{flex: 1.5 1 0%; position: absolute; top: 0; left: 3.7vw;z-index: 3;}
#detail .inside_header nav .left-menu img{ width: 5.9vw; height: 5.7vw;position: initial;}
#detail .inside_header nav .title { font-size: 4vw;margin-left: 32vw; margin-top: 1vw; flex: 1 1 0%; text-align: center;color: #6a4639; font-weight: bold;}
#detail .inside_header nav .right-menu{display: flex;}
#detail .inside_header nav .right-menu > img{right: 14vw;}
.detail{padding-top: 25vw; padding-bottom: 5vw; width: 84%; margin: 0 auto;}
.detail dl{margin-bottom: 2vw;}
.detail dl:nth-child(n+2) dd{border: 1px solid #675045;border-bottom: 0;}
.detail dd{display: flex; background: #ad9784;}
.detail div{ font-size: 3.5vw; line-height: 9vw; flex:1 1 25%;padding:0 1vw; display: flex; align-items: center;}
.detail dd > div:nth-child(2) { flex:1 1 75%;}
.detail dd.tit{font-weight: bold; background: #675045;color: #decdb3;}
.detail dl:first-child dd{background: rgba(65,50,27,0.4);}
span.gray_sta,.green_sta,.red_sta{padding:0 1vw; margin: 1vw; margin-left: 0; border-radius: 1vw;line-height: 5vw; color: #fff; }
.gray_sta{background: gray;}
.green_sta{background: green;}
.red_sta{background: red;}
.total div{color: #ffd430;font-size: 4vw; font-weight: bold;}
/*玩法介紹跳窗*/
.infopop  {position: fixed; z-index: 2;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.infopop .new_menubox {z-index: 101; width: 85%; margin: 0 auto; position: relative;}
.infopop .new_menubox .new_menu_title {line-height: 14vw;font-size: 6vw; font-weight: bold; background: url(../images/kind_popup_header.png); background-size: 100% 100%; height: 14vw; text-align: center; }
.infopop .new_menubox .new_menu_title img { width: 30vw; margin: auto; margin-top: 2vw;}
.infopop .new_menubox .new_menu_title span:nth-child(1) {background: -webkit-gradient(linear,left top,right top,from(#ffffaf),to(#ffcb35));background: linear-gradient(to top,#ffffaf,#ffcb35);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;position: absolute;}
.infopop .new_menubox .new_menu_title span:nth-child(2) {text-shadow:0.1em 0.1em #7a332c; color: transparent;}
.infopop .new_menubox > button { position: absolute; right: 2vw; top: 5vw;border: 0; background: rgba(0,0,0,0); }
.infopop .new_menubox > button img { width: 9vw;  }
.infopop .new_menubox .new_menu_list { -webkit-overflow-scrolling: touch; height: auto; overflow-y: auto; background: url(../images/kind_popup_body.png) repeat-y; background-size: 100% auto; text-align: center; z-index: 300; }
.infopop .new_menubox .new_menu_list h6 {margin: 0 auto;}
.infopop .new_menubox .new_menu_list h6 img{width: 20vw;}
.infopop .new_menubox .new_menu_list p {font-size: 3.5vw; line-height: 8vw; padding-top: 1vw; color: #675045; letter-spacing: 0.1vw; width: 88%;margin: 0 auto; text-align: center;font-weight: bold; }
.infopop .new_menubox .new_menu_list img { width: 80%; margin: 2vw auto 4vw; }
.infopop .new_menubox .new_menu_list .step div { display: flex; flex:1 1 0; justify-content: center; }
.infopop .new_menubox .new_menu_list .step div span { display: block; width: 50%; }
.infopop .new_menubox .new_menu_list .step div img { width: 100%; height: auto; }
.infopop .new_menubox .new_menu_list .step div ol { padding-top: 1vw; }
.infopop .new_menubox .new_menu_list .step div li { font-size: 2.8vw; padding-left: 3vw; text-align: left; line-height: 4.5vw; color: #675045;}
.infopop .new_menubox:after { content: ''; display: block; width: 100%; height: 5.2vw; background: url(../images/kind_popup_bottom.png); background-size: 100% 100%;}
.infopop .new_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }
