@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,500,700,900&display=swap&subset=chinese-simplified');
html{ width: 100%; height: 100%;}
body{ overflow-x: hidden;font: 86% 'Noto Sans SC', sans-serif; background:url(../images/bg.png) repeat; background-size: 100%; color:#fff;}
main { margin: auto; margin-top: 108vw; padding-bottom: 20vw;width: calc(100% - 8vw);}
/*loading動畫*/
.loading{width: 100%; height: 100%; background: url(../images/bg.png) repeat top center /100%; position: fixed; z-index: 3; display: flex; align-items: center; justify-content: center; top: 0; left: 0;}
.loadbar{width: 92vw; margin: auto; text-align: center;}
.loadimg{width: 92vw; position: absolute; display: flex;}
.loadtxt{background: url(../images/loadingbg.png) repeat top center /100% 100%; width:0%; line-height: 13vw;}
.loading .logo{width: 32vw; height: 14vw; background: url(../sprites/test.sprite.png) no-repeat 0 -744vw / 100vw; margin: auto auto 2vw;}
/*上方選單*/
header {width: 100%; height: 81.9vw; position: fixed; top: 0; left: 0; z-index: 1; background: url(../sprites/test.sprite.png) no-repeat 0 -561vw / 100vw;}
header nav {width: calc(100% - 8vw); padding: 0 4vw; display:flex;align-items:center; background: url(../sprites/test.sprite.png) no-repeat 0 -672vw / 100vw;height: 17.2vw;}
header nav .left-menu{flex: 1 1 0%;}
header nav .left-menu div{ width: 12vw; height: 12vw; float: left;}
header nav .left-menu div:nth-child(1){ background: url(../sprites/test.sprite.png) no-repeat 0 -427vw / 100vw;}
header nav .left-menu div:nth-child(2){ background: url(../sprites/test.sprite.png) no-repeat 0 -453vw / 100vw;}
header nav .left-menu div:nth-child(3){ background: url(../sprites/test.sprite.png) no-repeat 0 -440vw / 100vw; display: none;}
header nav .title { flex: 1 1 0%; text-align: center;}
header nav .right-menu{ flex:1 1 0%; text-align: right;}
header nav .right-menu > div{width: 12vw; height: 12vw;float: right;background: url(../sprites/test.sprite.png) no-repeat 0 -771vw / 100vw;}
.smenu { width: calc(100% - 4vw); padding: 0 3vw 0 1vw; opacity: 0; position:absolute; right:0; top: 0; z-index:-1; background:url(../sprites/test.sprite.png) no-repeat 0 -1794.1vw / 100vw; min-height: 53.5vw;}
.smenu > p {width: 84.8vw; height: 9vw; margin: 10vw auto 1vw; font-size:4vw ; text-align: center; line-height: 10vw; color: #f9f0e0;font-weight: bold;background:url(../sprites/test.sprite.png) no-repeat 0 -1849vw / 100vw;}
.smenu > p > span{color: #f2d8ab;}
.smenu ul { display:flex;}
.smenu ul li { text-align:center; display:flex; flex: 1 1 0;}
.smenu ul li a{width:100%; font-size: 4vw; text-decoration: none;  color:#f9f0e0;font-weight: bold; }
.smenu ul li:nth-child(1) a div{ width:17vw; height: 17vw; margin:auto; background: url(../sprites/test.sprite.png) no-repeat 0 -924vw / 118vw;}
.smenu ul li:nth-child(2) a div{ width:17vw; height: 17vw; margin:auto; background: url(../sprites/test.sprite.png) no-repeat 0 -942vw / 118vw;}
.smenu ul li:nth-child(3) a div{ width:17vw; height: 17vw; margin:auto; background: url(../sprites/test.sprite.png) no-repeat 0 -960vw / 118vw;}
.smenu ul li:nth-child(4) a div{ width:17vw; height: 17vw; margin:auto; background: url(../sprites/test.sprite.png) no-repeat 0 -978vw / 118vw;}
.smenu ul li a p{ margin-top: -1vw;}
.smenu ul li img { width:17vw;}
/*上方資訊*/
header .winning-info{ width: calc(100% - 8vw); padding: 0 4vw; line-height: 6vw; font-size: 3vw;display: flex; justify-content: space-between;position: relative;z-index: -2;}
header .winning-countdown{display: flex; justify-content: flex-end;}
header .winning-countdown .period{ display: flex; align-items: center;}
header .winning-countdown .period div{ width: 3.8vw; height: 3.8vw; background: url(../sprites/test.sprite.png) no-repeat 0 -1865.8vw / 100vw;}
header .winning-countdown ol li {font-size:4vw; text-align: center; display: flex; align-items: center; }
header .winning-countdown ol li span {font-weight: bold; border: 1px solid #fff4d7; border-radius: 3px; background: #ead497; color: #2b1a3d; margin: 0 2px; letter-spacing: 0; padding: 0 3px;}
/*動畫*/	
header .animation { position: absolute; left: 0; width: 100%; height: 59.2vw;z-index: -3;}
    .npc1,.npc2,.npc3,.npc4,.npc5,.npc1a,.npc2a,.npc3a,.npc4a,.npc5a{height: 100%; position: absolute;}
    /*更衣*/
    .animation .npc1{ width: 24.2vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1050vw / 100vw; left: 0;}
    .animation .npc2{ width: 32vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1170vw / 100vw; left: 15%; z-index: 1;}
    .animation .npc3{ width: 33.6vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1292vw / 100vw; left: calc(50% - 16.8vw); z-index: 2;}
    .animation .npc4{ width: 31.3vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1413vw / 100vw; right: 15%; z-index: 1;}
    .animation .npc5{ width: 32vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1534vw / 100vw; right: 0;}
    /*喝酒*/
    .animation .npc1a{ width: 24.2vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1109vw / 100vw; left: 0;}
    .animation .npc2a{ width: 32vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1230vw / 100vw; left: 15%; z-index: 1;}
    .animation .npc3a{ width: 33.6vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1351vw / 100vw; left: calc(50% - 16.8vw); z-index: 2;}
    .animation .npc4a{ width: 31.3vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1472vw / 100vw; right: 15%; z-index: 1;}
    .animation .npc5a{ width: 32vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1593vw / 100vw; right: 0;}
    .num_btn{position: absolute; left: 0;bottom: 11vw; width: 100%; z-index: 2;display:flex;}
    .num_btn button{flex: 1 1 0; -webkit-animation: Zoom 3s infinite; -moz-animation: Zoom 3s infinite; -o-animation: Zoom 3s infinite; animation: Zoom 3s infinite;}
    @keyframes Zoom { 0% { transform: scale(1);} 50% { transform: scale(1.1);} 100% { transform: scale(1);}}
    .num_btn button{flex: 1 1 0;}
    .num_btn div{color: #fff;font-weight: normal;font-size: 4vw;}
    .num_btn button div:nth-child(1){background: url(../sprites/test.sprite.png)no-repeat 0 -1682.7vw / 100vw;width: 13.6vw;height: 12vw;padding-bottom: 1.6vw; margin: auto; display: flex;justify-content: center; align-items: center; font-size: 4vw;}
    .num_btn button div:nth-child(2){ margin-top: -1.6vw;}
    .num_btn button div.red{ background: url(../sprites/test.sprite.png)no-repeat 0 -1668vw / 100vw;}
    .num_btn button div.blue{ background: url(../sprites/test.sprite.png)no-repeat 0 -1653.5vw / 100vw;}
    .num_btn button div.white{color: #8966ac;}
    /*身體密碼*/
    .body_num{position: absolute;background: #372051; left: -100%; width: 100%; height: 57.2vw; z-index: -3;padding-top: 2vw;}
    .bn_btn{ width: 13vw; height: 9vw; position: absolute; background: url(../sprites/test.sprite.png)no-repeat 0 -13.8vw / 100vw; bottom: 10vw; left: 5vw;}
    /*更衣*/
    .bn_npc1{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 4vw -1050vw / 100vw; left: 0;}
    .bn_npc2{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 2vw -1170vw / 100vw; left: 0;}
    .bn_npc3{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 0vw -1292vw / 100vw; left: 0;}
    .bn_npc4{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 1vw -1413vw / 100vw; left: 0;}
    .bn_npc5{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat -4vw -1534vw / 100vw; left: 0;}
    /*喝酒*/
    .bn_npc1a{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 0 -1109vw / 100vw; left: 0;}
    .bn_npc2a{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 2vw -1230vw / 100vw; left: 0;}
    .bn_npc3a{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 0 -1351vw / 100vw; left: 0;}
    .bn_npc4a{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 0 -1472vw / 100vw; left: 0;}
    .bn_npc5a{ flex:1 1 0; height: 100%; background: url(../sprites/test.sprite.png)no-repeat -3vw -1593vw / 100vw; left: 0;}
    .bn_info{flex:2 1 0;}
    .bn_info > div:first-child{float: left;}
    .bn_name{width: 35vw;background: url(../images/bn_name.png)no-repeat center left / auto 60%; color: #f2dbb2; text-shadow:0px -2px 0 #553b7a, 1px -1px 0 #553b7a, -1px 1px 0 #553b7a, 1px 1px 0 #553b7a, 0px 3px 0px #553b7a; padding:0 0 1vw 5vw; font-size: 5vw;}
    .bn_dimensions{ border-radius: 15px; border: 1px solid rgba(37,23,56,.6); border-bottom: 0; background: rgba(195,149,251,.5); padding: 0 2vw 0.4vw; width: 40vw; text-align: center; font-size: 3vw; letter-spacing: 1px;}
    .bn_number{ width: 13.6vw;height: 11.6vw; padding-bottom: 2vw; display: flex; justify-content: center; align-items: center;font-size: 5vw;}
    .bn_number.red{ background: url(../sprites/test.sprite.png)no-repeat 0 -1668.5vw / 100vw;}
    .bn_number.blue{ background: url(../sprites/test.sprite.png)no-repeat 0 -1653.5vw / 100vw;}
    .bn_number.white{ background: url(../sprites/test.sprite.png)no-repeat 0 -1682.5vw / 100vw;color: #8966ac;}
    .bn_list{clear: both; font-size: 3vw; margin-top: 2vw;}
    .bn_list dl{ width: calc(100% - 4vw);}
    .bn_list dt{background: rgba(195,149,251,.5); color: #42246a; display: flex;align-items: center;-webkit-border-top-left-radius: 15px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;}
    .bn_list dd{display: flex; color: #fff; align-items: center;border-bottom: 1px solid #504075; background: #483168;}
    .bn_list dd:last-child{-webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
    .bn_list div{ text-align: center; align-items: center;}
    .bn_list div:nth-child(1){ flex: 1 1 35%;}
    .bn_list div:nth-child(2){ flex: 1 1 7%;}
    .bn_list div:nth-child(3){ flex: 1 1 19%;}
    .bn_list div:nth-child(4){ flex: 1 1 19%;}
    /*窗簾*/
    .curtain{width: 100%; height: 70.4vw; position: absolute; left: 0; display: flex;top: 14vw;z-index: -2; pointer-events: none;}
    .curtain > div{width: 50%; height: 100%; background: url(../sprites/test.sprite.png)no-repeat 0 -488.8vw / 105vw; display: block; pointer-events: auto; position: absolute;}
    .left_curtain{left: -50%;}
    .right_curtain{right: -50%; -moz-transform:scaleX(-1); -webkit-transform:scaleX(-1); -o-transform:scaleX(-1); transform:scaleX(-1);}
/*下注數*/
.header_bottom{position: absolute; width: 100%; left: 0; bottom: -12vw;padding-bottom: 2vw;background: url(../sprites/test.sprite.png)no-repeat 0 -645vw / 100vw;display: flex; align-content: center;flex-wrap: wrap; pointer-events: none;}
.note {color: #504075; font-size: 3vw; width: 100%; display: flex; justify-content: center; align-items: center;}
.note span { color:#e853ae;}
.note > div.EUSD{width: 4vw; height: 4vw;background: url(../sprites/test.sprite.png)no-repeat 0 -331.5vw / 60vw;}
.note > div.USD{width: 4vw; height: 4vw;background: url(../sprites/test.sprite.png)no-repeat 0 -1115vw / 60vw;}
.note > div.RMB{width: 4vw; height: 4vw;background: url(../sprites/test.sprite.png)no-repeat 0 -1056vw / 60vw;}
.note > div.MOY{width: 4vw; height: 4vw;background: url(../sprites/test.sprite.png)no-repeat 0 -506.5vw / 60vw;}
.note > div.EOS{width: 4vw; height: 4vw;background: url(../sprites/test.sprite.png)no-repeat 0 -322.2vw / 60vw;}
.note > div.ETH{width: 4vw; height: 4vw;background: url(../sprites/test.sprite.png)no-repeat 0 -327vw / 60vw;}
.note > div + span{margin-left: 1.5vw;}
.nownum {font-size: 3vw; height: 5.7vw; display: flex; margin-top: 9vw; margin-bottom: 3vw; justify-content: center; width: 100%;}
/*共用模組*/
.lhc_kind .lhc_btn_box,.lhc_kind .lhc_btn_box2,.lhc_kind .lhc_btn_box3,.lhc_kind .lhc_btn_box4{margin-bottom: 2vw; display:flex; align-items: center;height: 12.5vw; }
.box_title{flex: 1 1 0; background: url(../sprites/test.sprite.png)no-repeat 0 -268.8vw / 112vw;height: 100%; display: flex; justify-content: center; align-items: center; font-size: 4vw;margin-left: -2.8vw;text-shadow:0px -2px 0 #a98546, 1px -1px 0 #a98546, -1px 1px 0 #a98546, 1px 1px 0 #a98546, 0px 2px 0px #a98546;}
.lhc_tab{display:flex; margin-top: 70vw;position: absolute; padding: 0 4vw; width: calc(100% - 8vw);left: 0;background: url(../images/bg.png)no-repeat top center / 100vw;}
.lhc_tab > h6 { flex: 1 1 0%; height: 10vw;font-size: 4vw; padding-bottom: 2vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1768vw / 100vw; position:relative; display:flex;flex-direction:column; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center;  }
.lhc_tab > h6.active{background:  url(../sprites/test.sprite.png)no-repeat 0 -1781vw / 100vw; height: 10.1vw;}
/*兩面*/
.lhc_kind .lhc_btn_box > button { margin-left: 1vw; color: #654a35; flex: 1 1 0%; font-size: 5vw; background: url(../sprites/test.sprite.png)no-repeat 0 -252vw / 100vw; display:flex;flex-direction:column; align-items:center;height: 100%;justify-content: center;  }
.lhc_kind .lhc_btn_box > button.active{background: url(../sprites/test.sprite.png)no-repeat 0 -265.3vw / 100vw; color: #fff;}
/*組合*/
.lhc_kind .lhc_btn_box2 > button { margin-left: -2vw; color: #654a35; flex: 2 1 0%; font-size: 5vw; background: url(../sprites/test.sprite.png)no-repeat 0 -278.5vw / 100vw; display:flex;flex-direction:column; align-items:center;height: 100%;justify-content: center;  }
.lhc_kind .lhc_btn_box2 > button.active{background: url(../sprites/test.sprite.png)no-repeat 0 -292vw / 100vw; color: #fff;}
/*投壺*/
.lhc_kind .lhc_btn_box3{height: auto;flex-wrap: wrap;}
.lhc_kind .lhc_btn_box3 .box_title{width: 12vw; height: 26vw; float: left; -webkit-writing-mode: vertical-lr; writing-mode: vertical-lr;flex: initial;background: url(../sprites/test.sprite.png)no-repeat 0 -202.7vw / 100vw;}
.lhc_kind .lhc_btn_box3 div{display: flex;}
.lhc_kind .lhc_btn_box3 div.tab{width: 100%;height: 9.68vw;background: url(../sprites/test.sprite.png)no-repeat 0 -231.5vw / 101vw;}
.lhc_kind .lhc_btn_box3 div:nth-child(1) button{ font-size: 4vw; border: 1px solid #9975b2;margin-top: 4px; padding-bottom: 4px; width: 100%; }
.lhc_kind .lhc_btn_box3 div:nth-child(1) button:first-child{border-top-left-radius: 10px;}
.lhc_kind .lhc_btn_box3 div:nth-child(1) button:last-child{border-top-right-radius: 10px;}
.lhc_kind .lhc_btn_box3 div:nth-child(1) button.active{background: rgba(113, 74, 152, 0.4);}
.lhc_kind .lhc_btn_box3 > div:nth-child(2){padding-top:2vw;border: 1px solid #caa971; border-top: 0; -webkit-border-bottom-right-radius: 10px;	-webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}
.lhc_kind .lhc_btn_box3 div:nth-child(2) div:nth-child(2){ width: 100%; display: initial; margin: 0 0 1.5vw;}
.lhc_kind .lhc_btn_box3 div:nth-child(2) button{margin-left: 0.7vw; margin-bottom: 1vw; background: url(../sprites/test.sprite.png)no-repeat 0 -305.4vw / 100vw;height: 12.35vw;width: 14.64vw;}
.lhc_kind .lhc_btn_box3 div:nth-child(2) button.active{background: url(../sprites/test.sprite.png)no-repeat 0 -318.7vw / 100vw;}
.lhc_kind .lhc_btn_box3 div button{color: #644089;}
.lhc_kind .lhc_btn_box3 div button.active{color: #fff;}
/*猜衣色*/
.lhc_kind .lhc_btn_box4 .box_title{background: url(../sprites/test.sprite.png)no-repeat 0 -266.5vw / 111vw; flex: 1 1 5vw;}
.lhc_kind .lhc_btn_box4 > button { margin-left: 0.1vw; color: #654a35; flex: 1 1 0%; font-size: 4.5vw; background: url(../sprites/test.sprite.png)no-repeat 0 -332vw / 100vw; display:flex;flex-direction:column; align-items:center;height: 100%;justify-content: center;  }
.lhc_kind .lhc_btn_box4 > button:nth-child(2).active{background: url(../sprites/test.sprite.png)no-repeat 0 -372vw / 100vw; color: #fff;}
.lhc_kind .lhc_btn_box4 > button:nth-child(3).active{background: url(../sprites/test.sprite.png)no-repeat 0 -345.5vw / 100vw; color: #fff;}
.lhc_kind .lhc_btn_box4 > button:nth-child(4).active{background: url(../sprites/test.sprite.png)no-repeat 0 -358.8vw / 100vw; color: #fff;}
/*footer*/
footer { display: flex; align-items: center; padding: 0 4vw; height: 24vw; position: fixed; left: 0; bottom: 0; width: calc(100% - 8VW); background: url(../sprites/test.sprite.png)no-repeat 0 -29.4vw / 100vw; z-index: 2; }
footer button { flex: 1 1 0; background: transparent; border: none;color: #fff7e4; font-size: 4vw; padding: 0;text-shadow:0px -2px 0 #524173, 1px -1px 0 #524173, -1px 1px 0 #524173, 1px 1px 0 #524173, 0px 3px 0px #524173;}
footer button:nth-child(-n+3){margin-left: -1vw;}
footer button:last-child{margin-left: -4vw;}
footer button div{width: 18.7vw; height: 18.7vw;}
footer button span{margin-top: -6vw; display: block;}
footer button:last-child div{width: 45.2vw;margin-top: 5vw;}
footer button:nth-child(1) div{background: url(../sprites/test.sprite.png)no-repeat 0 -111vw / 100vw;}
footer button:nth-child(2) div{background: url(../sprites/test.sprite.png)no-repeat 0 -130.5vw / 100vw;}
footer button:nth-child(3) div{background: url(../sprites/test.sprite.png)no-repeat 0 -150vw / 100vw;}
footer button:nth-child(4) div{background: url(../sprites/test.sprite.png)no-repeat 0 -168.5vw / 100vw;}
/*投注倍率*/
.bot_menu_popup { position: fixed; bottom: 15vw; width: 100%; background: url(../sprites/test.sprite.png)no-repeat 0 -54vw / 100vw; z-index: 90; left: 0;height: 54.4vw;}
.bot_menu_popup .bot_menu_btn { display: flex; align-items: center; text-align: center; padding: 0 4vw; width: calc(100% - 8vw);    margin-top: 12.5vw;}
.bot_menu_popup .bot_menu_btn div { font-size: 5vw; flex: 1 1 0; line-height: 13vw; color:#654a35; background: url(../sprites/test.sprite.png)no-repeat 0 -1714.2vw / 100vw;margin: 0 1.4vw; height: 16.3vw;}
.bot_menu_popup .bot_menu_btn div.active{background: url(../sprites/test.sprite.png)no-repeat 0 -1697vw / 100vw; color: #fff;}
.bot_menu_input {margin-top: 3vw;display: flex; align-items: center; padding: 0 8vw;}
.bot_menu_input input { font-size: 5vw; margin-top: -1VW;    border-radius: 0; text-align: center; height: 9.25vw; width: 26.5vw; border: 0;font-weight: bold; color:#8b6aa6; background:#fff;padding: 0; }
.bot_menu_input button:nth-child(1) {background: url(../sprites/test.sprite.png)no-repeat 2vw -600.3vw / 87vw;}
.bot_menu_input input + button{background: url(../sprites/test.sprite.png)no-repeat 0 -612.5vw / 87vw;}
.bot_menu_input button { width: 15.5vw; height: 11.25vw; }
.bot_menu_input button:last-child{ width: 25.5vw;background: url(../sprites/test.sprite.png)no-repeat 0 -189.4vw / 100vw;}
/* 內頁共用 */
.inside_header { height: 35vw; z-index: 0; }
.inside_header_top{position: absolute; width: 100%; left: 0; background: url(../sprites/test.sprite.png)no-repeat 0 -719vw / 100vw; min-height: 22vw;margin-top: -5vw;z-index: -2;}
.inside_header+main{margin-top: 41vw;}
header.inside_header nav .left-menu div{background: url(../sprites/test.sprite.png) no-repeat 0 -1vw / 100vw;}
/* 玩法介紹 */
.lottery_rules{font-size: 4vw; line-height: 6vw; color: #504075; }	
.lottery_rules h3 { font-size: 5vw; color: #fff; display: flex; background: url(../sprites/test.sprite.png)no-repeat 0 -758.6vw / 100vw;margin: auto; margin-bottom: 2vw; width: 57vw; justify-content: center; align-items: center; height: 10.4vw;text-shadow:0px -2px 0 #a98546, 1px -1px 0 #a98546, -1px 1px 0 #a98546, 1px 1px 0 #a98546, 0px 3px 0px #a98546; }
.lottery_rules .introduction {padding-bottom: 20px; }
.lottery_rules .introduction p { line-height: 7vw; }
.lottery_rules .introduction h3::after,.howtoplay h3::after { font-weight: 200; margin-left: 7px; color: #810504;}
.lottery_rules .introduction h3 + p > span,.lottery_rules .howtoplay h3 + p > span{ font-weight: bold; color: #e853ae;}
.howtoplay dl{ border: 1px solid #504075; border-bottom: 0; margin-top: 2vw; }
.howtoplay dt{background: #504075; height:30px;align-items: center; color:#fff;display: flex;}
.howtoplay dd{display: flex;color: #504075; align-items: center;border-bottom: 1px solid #504075;}
.howtoplay dd div{padding: 10px 0; }
.howtoplay dd div+div{ border-left: 1px solid #504075; }
.howtoplay div{ flex: 1 0 70%; align-items: center;box-sizing: border-box; padding: 10px 3px; }
.howtoplay div:first-child{flex: 1 0 30%; text-align: center;}
.howtoplay dd div{padding: 6px 3px; }
.howtoplay dt div{ text-align: center; }
/*走勢圖*/
.chart { margin: 0 auto; padding-bottom: 4vw;}
.chart_btn ul { font-size:4vw; display:flex; background: url(../sprites/test.sprite.png)no-repeat 0 -402vw / 97vw; height: 11.2vw; margin-bottom: 2vw; }
.chart_btn ul li { font-weight: bold;text-align: center;flex: 1 1 0%;color: #fff;height: 11vw;justify-content: center;align-items: center;display: flex;padding-bottom: 1vw;}
.chart_btn ul li.active { background: url(../sprites/test.sprite.png)no-repeat 0 -393.7vw / 98vw;}
.chart dl:nth-child(even){background: rgba(80,64,117,.1)}
.chart .chart_tit{ background:#504075; display:flex; }
.chart .chart_tit dt, .chart .chart_tit dd, .chart .chart_list dt, .chart .chart_list dd{ font-size:11.5px; text-align:center; padding:3.6% 0.5%; border-right:1px solid #504075; flex:1 1 0%; }
.chart .chart_tit dt, .chart .chart_list dt{ padding:3.6% 2%; flex:1 1 10%; }
.chart .chart_tit dd{ flex-direction:column; justify-content:space-evenly; align-items:center; }
.chart .chart_tit dd:last-child, .chart .chart_list dd:last-child{ border-right:none; }
.chart .chart_tit dd{ font-weight:600; }
.chart .chart_tit dd span, .chart .chart_list dd span { padding:0 4px; }
.chart .chart_list{ color:#504075; border:none; display:flex; }
.chart dl:nth-last-child(-n+2) {background: #504075; color:#fff; }
.chart .chart_list dt{ font-size:12px; }
.chart .chart_list dd span.red { background:#ef0000; color:#fff; border-radius:20px; }
/*投注记录*/
.lhc_my_bets dt{background: #504075; color: #fff; display: flex;align-items: center;}
.lhc_my_bets dd{display: flex; color: #504075; align-items: center;border: 1px solid #504075;border-bottom: 0px solid #504075;}
.lhc_my_bets dd:last-child{border-bottom: 1px solid #504075;}
.lhc_my_bets div{ font-size: 3.5vw; line-height: 9vw; text-align: center;align-items: center;}
.lhc_my_bets div:nth-child(1){ flex: 1 1 30%;}
.lhc_my_bets div:nth-child(2){ flex: 1 1 50%;}
.lhc_my_bets div:nth-child(3){ flex: 1 1 20%;color: #504075;}
.lhc_my_bets dd > div:nth-child(2) { display: flex; align-items: center; justify-content: center; text-align: center; border-left: 1px solid #504075;border-right: 1px solid #504075;}
.lhc_my_bets dd > div:nth-child(2) div {line-height:4vw; font-size: 3vw;flex: 1 1 0%; padding: 1.5vw 0;justify-content: center; align-items: center; display: flex; flex-wrap: wrap;}
.lhc_my_bets dd > div:nth-child(2) div p{width: 100%;display: flex; justify-content: center; align-items: center;}
.lhc_my_bets dd > div:nth-child(2) div p:last-child{color: #e853ae;-webkit-writing-mode: vertical-lr; writing-mode: vertical-lr;}
.lhc_my_bets dd > div:nth-child(2) div span { color: #fff; display:inline-block; border-radius: 50%; font-size: 2.7vw; font-weight: bold; width:4.2vw; height:4.2vw; text-align: center; margin: 1vw 0; }
.lhc_my_bets dd > div:nth-child(2) div.num_red p:nth-child(2) span{ background: #ce2f3b; }
.lhc_my_bets dd > div:nth-child(2) div.num_blue p:nth-child(2) span{ background:#1856c5; }
.lhc_my_bets dd > div:nth-child(2) div.num_white p:nth-child(2) span{ background:#fff; color: #504075; }
.lhc_my_bets > p{color: #504075; margin-bottom: 1vw;}
/*跳窗*/
.window_con {position: fixed; z-index: 2;width: 100%; height: 100%; display: flex;align-items: center;top: 0; left: 0;background: rgba(0,0,0,.7);}
.window_con .window_box { position: relative; z-index:99;width: 75vw;  padding: 3vw 4vw; margin: 0 auto; height: 37.8vw;}
.window_con .window_box > div { display: none; text-align: center;}
.window_con .window_box > div dl{width: 100%; margin:0 auto;}
.window_con .window_box > div dt{background: #e098c2;color: #654485;display: flex; }
.window_con .window_box > div dt div:first-child{border-right: 1px solid #e098c2;}
.window_con .window_box > div dd{color: #fff6e5;display: flex;border: 1px solid #e098c2;}
.window_con .window_box > div dd div:first-child { border-right: 1px solid #e098c2;}
.window_con .window_box > div button { width: 32vw; height: 12.2vw;padding-bottom: 3vw;margin-top: 4vw; color: #6b513b; font-size: 4vw; background: url(../sprites/test.sprite.png) no-repeat 0 -385.5vw / 100vw; border: none; font-weight: bold;}
.window_success div{ flex: 1 1 0; line-height: 4vw; padding: 1vw; }
.window_box > div.window_success > div{padding-top: 0;}
.window_rules p{ padding: 0 4vw;color: #fff6e5;}
.window_box p.poptit{ content: ''; line-height: 10.5vw; display: block; background: url(../sprites/test.sprite.png)no-repeat 0 -1473vw / 84.7vw;color: #e7cd9f;}
div.window_rules::before{ content: ''; height: 6vw; display: block; background: url(../sprites/test.sprite.png) no-repeat 0 -1484vw / 84.7vw;}
.window_box > div::after{ content: ''; height: 6vw; display: block; background: url(../sprites/test.sprite.png) no-repeat 0 -1467vw / 84.7vw;}
.window_box > div > div{background:url(../images/popbg.png); background-size: 100% auto;padding-top: 4vw;}

/*新手教學視窗*/
.new_window  {position: fixed; z-index: 2;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;background: rgba(0,0,0,.7);}
.new_window .new_menubox {z-index: 101; width: 85%; margin: 0 auto; position: relative;}
.new_window .new_menubox .new_menu_title {line-height: 13vw;font-size: 4.5vw; font-weight: bold; background: url(../sprites/test.sprite.png)no-repeat 0 -1667.5vw / 95.9vw; height: 12vw; text-align: center; }
.new_window .new_menubox .new_menu_title img { width: 30vw; margin: auto; margin-top: 2vw;}
.new_window .new_menubox .new_menu_title span:nth-child(1) {color: #e7cd9f;}
.new_window .new_menubox .new_menu_title span:nth-child(2) {text-shadow:0.1em 0.1em #7a332c; color: transparent;}
.new_window .new_menubox > button { width: 12vw; height: 12vw; position: absolute; right: 1vw; top: 1vw;border: 0; background: url(../sprites/test.sprite.png) no-repeat 0 -427vw / 100vw; }
.new_window .new_menubox .new_menu_list { -webkit-overflow-scrolling: touch; height: 110vw; overflow-y: auto; background: url(../images/popbg.png) repeat-y; background-size: 100% auto; text-align: center; z-index: 300; }
.new_window .new_menubox .new_menu_list h6 {margin: 2vw auto; color: #fff; font-size: 5vw; background: url(../sprites/test.sprite.png) no-repeat 0 -758.5vw / 100vw; line-height: 11vw; width: 56.8vw;}
.new_window .new_menubox .new_menu_list p {font-size: 3.5vw; color: #fff6e5; letter-spacing: 0.1vw; width: 88%;margin:  1vw auto 2vw; text-align: center;}
.new_window .new_menubox .new_menu_list .step{margin: 5vw auto 0; border-bottom: 1px solid #482e60; width: 90%; padding-bottom: 5vw;}
.new_window .new_menubox .new_menu_list .step:last-child{border:none;}
.new_window .new_menubox .new_menu_list .step div{height: 55vw;}
.new_window .new_menubox .new_menu_list .step:nth-child(1) div{background: url(../sprites/test.sprite.png) no-repeat 0 -1447.2vw / 170vw;}
.new_window .new_menubox .new_menu_list .step:nth-child(2) div{background: url(../sprites/test.sprite.png) no-repeat 0 -1503.5vw / 170vw;}
.new_window .new_menubox .new_menu_list .step:nth-child(3) div{background: url(../sprites/test.sprite.png) no-repeat 0 -1559.9vw / 170vw;}
.new_window .new_menubox .new_menu_list .step:nth-child(4) div{background: url(../sprites/test.sprite.png) no-repeat 0 -1615.7vw / 170vw;}
.new_window .new_menubox .new_menu_list .step:nth-child(5) div:nth-child(3){background: url(../sprites/test.sprite.png) no-repeat 0 -1672vw / 170vw;height: 56vw;}
.new_window .new_menubox .new_menu_list .step:nth-child(5) div:nth-child(4){background: url(../sprites/test.sprite.png) no-repeat 0 -1728vw / 170vw;height: 56vw;}
.new_window .new_menubox:after { content: ''; display: block; width: 100%; height: 7.2vw; background: url(../sprites/test.sprite.png)no-repeat 0 -1660.5vw / 95.9vw; margin-top: -1px;}
.new_window .new_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }
/*投注詳情*/
#detail{ width: calc(100% - 8vw); padding: 0 4vw;height: 100%; overflow-y: scroll; position: fixed; top: 0; left: 100%; z-index: 0; background: url(../images/bg.png) no-repeat top center / 100%;}
#detail nav { width: calc(100% - 8vw); padding: 0 4vw; display: flex; align-items: center;background: url(../sprites/test.sprite.png) no-repeat 0 -672vw / 100vw;  min-height: 17.2vw; overflow-y: scroll;position: fixed; top: 0;left: 0;}
#detail nav .right-menu{ flex: 1 1 0%; text-align: right;}
#detail nav .left-menu div{background: url(../sprites/test.sprite.png) no-repeat 0 -1vw / 100vw;height: 12vw;}
#detail nav .left-menu{flex: 1 1 0%;}
#detail nav .title { font-size: 4vw;margin-top: 20vw; flex: 1 1 0%; text-align: center;}
.detail{position: absolute;padding: 20vw 4vw 5vw; margin: 0 auto;background: url(../images/bg.png) repeat; background-size: 100%;width: calc(100% - 8vw); left: 0;z-index: -1;}
.detail dt{	text-align: center; margin-bottom: 2vw;color: #504075; font-weight: bold; font-size: 5vw;}
.detail dl{margin-bottom: 2vw;}
.detail dd{display: flex; color: #504075;}
.detail dl:nth-child(n+2) dd{border: 1px solid #504075;border-bottom: 0;}
.detail dl:nth-child(n+2) dd:last-child{border-bottom: 1px solid #504075;}
.detail dl:nth-child(n+2) dd > div:nth-child(1){justify-content: center;}
.detail dl:nth-child(n+2) dd > div:nth-child(2){border-left: 1px solid #504075;}
.detail div{ font-size: 3.5vw; line-height: 9vw; flex:1 1 25%;padding:0 1vw; display: flex; align-items: center;}
.detail dd > div:nth-child(1) {background: #504075; color: #fff;}
.detail dd > div:nth-child(2) {flex:1 1 75%;display: flex;}
.detail dd.tit{color: #504075; font-weight: bold;}
span.gray_sta,.green_sta,.red_sta{padding:0 1vw; margin: 1vw; border-radius: 1vw;line-height: 5vw; }
.gray_sta{background: gray; color: #fff;}
.green_sta{background: #1856c5;color: #fff;}
.red_sta{background: #ce2f3b;color: #fff;}
.total div{color: #ce2f3b;font-size: 4vw; font-weight: bold;}