@font-face {
	font-family:GothamRnd-Bold;
	src: url('../images/GothamRnd-Bold.otf'); /* IE9+ */
	font-family:advanced_led_board-7;
	src: url('../images/advanced_led_board-7.ttf'); /* IE9+ */
}
body,html { width: 100%; overflow-x: hidden;}
body {font: 86% Microsoft YaHei ; font-weight:normal; background:url(../images/bg.png) repeat; background-size: 100%; color:#fff;}
.now{ float: left;justify-content: flex-start;
    align-items: center;}
.now img{width: 3.5vw; z-index: 0; }
main { margin-bottom: 16.5vw; margin-top: 79vw; }
/*main:before {content: ''; position: absolute; width: 100%; height: 100%; top:33vw; left: 0; z-index: -1; background: url(../images/bg_light.png) top center no-repeat; background-size: 100% auto; }
/*上部*/
header { width: 100%; font-size:4vw; min-height:67vw; position: fixed; z-index: 88; left: 0;top: 0; background:url(../images/bg.png) repeat; background-size:100%; padding-top: 9.6vw; }
	header nav { padding:0 3.7vw; height: 12vw; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; }
	header nav .volume,header nav .lhc_tit, header nav .lhc_smenu, header .lhc_number .lhc_numbertxt, header .lhc_number .lhc_numbercon ul, header .lhc_number .lhc_numbercon ol{ display:flex; align-items:center; }
	header nav .lhc_tit { font-size: 4vw; margin-top: -2vw; font-weight: bold; color: #07e3d9; }
	header nav .volume, header nav .lhc_smenu, header nav .left-menu,header nav .right-menu{ flex:1 1 0%; }
	header nav .lhc_smenu img { width:9%; top:1vw; right:3.7vw; z-index:1; }
	header nav .lhc_smenucon { display:none; position:absolute; top:9.5vw; right:0; z-index:9999; background:url(../images/smenu_bg.png) top center no-repeat;  background-size: 100% 100%; }
	header nav .lhc_smenucon p {font-size:3vw ; text-align: center; padding-top: 4.5vw; height: 8.5vw; line-height: 8.5vw; color: #004c5e;font-family: "Microsoft YaHei"; font-weight: bold;}
	header nav .lhc_smenucon p span { color: #fff; padding-right: 1vw; font-family: "advanced_led_board-7"; font-weight: normal;}
	header nav .lhc_smenucon ul { font-size:3.5vw;  color:#3d251c; padding:4vw 1.5vw 1.5vw 3vw; display:flex; }
	header nav .lhc_smenucon ul li { text-align:center; width: 20vw; margin: 2.1vw; display:flex; flex-direction:column; position:relative; background:url(../images/smenu_btn.png); background-size: 100%;}
	header nav .lhc_smenucon ul li div:first-child { height:10vw; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	header nav .lhc_smenucon ul li a {font-size: 3vw; text-decoration: none;  color: #004c5e;padding-top: 1vw; padding-bottom: 2vw; font-family: "Microsoft YaHei";font-weight: bold; }
	header nav .lhc_smenucon ul li img { width:8vw; margin-right:-7.4vw; margin-bottom: 2vw; position:relative; z-index:4; }
	header nav .volume{ margin-left: 10.5vw;}
	header nav .right-menu > img{right: 14vw;}
	header nav .right-menu > h1{margin-left: -5.5vw;font-size: 3VW; margin-top: -2vw;	font-weight: bold; text-align: center; color: #07e3d9;}
	header nav .right-menu > h1 >span{color: #fff;}
	header nav .volume > img ,header nav .left-menu > img,header nav .right-menu > img { width:9%; z-index:1; margin-top:1vw;}
	header nav .volume > img:nth-child(2) { display: none; }
	header img { width:100%; position:absolute; top:0; z-index:-2; }
	
	header .lhc_number { font-family:advanced_led_board-7; font-size:2.9vw; padding:1.5vw 2.8vw; display:flex; justify-content:space-between;z-index: 3; }
	header .lhc_number > div >div:first-child { font-family: Microsoft YaHei; }
	header .lhc_number .lhc_numbercon ul { margin-top: 1vw; }
    header .lhc_number .lhc_numbercon ol { margin-top: 1vw; }
	header .lhc_number .lhc_numbercon .lhc_jend, header .lhc_number .lhc_numbercon ol { justify-content:flex-end; }
	header .lhc_number .lhc_numbercon ul li{ font-size:3.3vw;color:#fff; padding-top: 1vw; width:5.5vw; height:4.5vw; border-radius: 50%; margin: 0 0.6vw; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	header .lhc_number .lhc_numbercon ul li.numred {background:url(../images/numberBgRed.png) 100%;}
	header .lhc_number .lhc_numbercon ul li.numgreen {background:url(../images/numberBgGreen.png) 100%;}
	header .lhc_number .lhc_numbercon ul li.numblue {background:url(../images/numberBgBlue.png) 100%;}
	header .lhc_number .lhc_numbercon ul li:before { content:''; width: 6.5vw;height: 6.5vw; z-index: -1;border-radius: 50%; position: absolute; right: -0.5vw; top: -0.5vw;}
	header .lhc_number .lhc_numbercon ul li:last-child { margin-left: 3vw; }
	header .lhc_number .lhc_numbercon ul li:last-child:after{ content: '+'; position: absolute; left: -2.5vw; }
	header .lhc_number .lhc_numbercon ul li img { width:10vw; position:absolute; top:0; left:0; z-index:-1; }
	header .lhc_number .lhc_numbercon ol li {font-size:5vw; width:5vw; text-align: center;}
	header .lhc_number .lhc_numbercon ol li:last-child { font-size:3.8vw; font-weight:normal; background: none; color: #fff; margin-left: 1.5vw; }
	header .lhc_number .lhc_numbercon .lhc_numbertxt img { width:3vw; padding-right:1px; position:relative; z-index:1; top: 1px; }
	
	header .demo { position: absolute; z-index:-1; top:33.6vw; text-align: center; width: calc(100% - 5.6VW); padding: 0 2.8VW;}
	header .demo img { position: relative;  }

/*下注數*/
.lhc_note {color: #004c5e; font-weight: bold;font-size: 2.6vw; line-height: 4.2vw; padding:0vw 14vw; position: absolute; bottom:0; width: 72vw;}
	.lhc_note span { color:#fff; padding:0 2px; }
	.lhc_note .now span{ margin-left: 4vw; }
	.lhc_note div:nth-child(2){float: right;justify-content: flex-start;
		align-items: center;}
	.lhc_note + article{width:81.6vw;height: 10vw; line-height: 9vw; background: url(../images/popupbg.png) no-repeat top center / 100%;position: absolute;top: 77vw;font-size: 2.5vw;text-align: center;left: 9vw; color: #004c5e;font-weight: bold;}

/*list_正码*/
.lhc_kind { width: 100%; margin:0 auto;}
.lhc_kind:after { content: '';display: block; width: 100%; height: 4vw;  background: url(../images/list_bot.png) bottom right no-repeat;background-size:100% auto;}
main article.lhc_kind:last-child:after {content: ''; display: block; width: 100%; height: 10vw; background: url(../images/last_list_bot.png) bottom right no-repeat; background-size: 100% auto;}
main article:nth-child(3) h2 span{top:11vw;}
.lhc_kind h2 { font-weight: bold; background: url(../images/list_headear.png) top right no-repeat;background-size:100% auto;font-size:3.3vw; line-height: 7vw; color: #07e3d9; text-align:center; position:relative; padding: 6.5vw 0 7.5vw; padding-bottom: 3vw; }
.lhc_kind h2 span { font-size:2.6vw; font-weight:500; position:absolute; top:14vw; left:5vw; color: #fff; letter-spacing:0;}
.lhc_kind h2 + .lhc_btn_box{padding-top: 2vw;}
.lhc_kind .lhc_btn_box,.lhc_kind .lhc_btn_title {padding:0 3.5vw; display:flex; background: url(../images/list_bg.png) top center repeat-y; background-size: 100% auto; }
.lhc_kind .lhc_btn_box > div { width:19%; font-size:5vw;color: #00fff7;  min-height:16vw; margin:.7% .5%;background:  url(../images/btn_bg.png); background-size:100% 100%; position:relative; display:flex;flex-direction:column; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center;  }
	.lhc_kind .lhc_btn_box > div h6 {font-family:'advanced_led_board-7','Microsoft YaHei'; font-weight: bold; }
	.lhc_kind.zodiac .lhc_btn_box > div h6,.lhc_kind.color .lhc_btn_box > div h6,.lhc_kind.head .lhc_btn_box > div h6{font-family:'Microsoft YaHei'; font-weight:bold;    margin-top: -1vw;}
	.lhc_kind .lhc_btn_box > div.red_con h6 { color: #ff0000; }
	.lhc_kind .lhc_btn_box > div.blue_con h6 { color: #005dff; }
	.lhc_kind .lhc_btn_box > div.green_con h6 { color: #03be15; }
	.lhc_kind .lhc_btn_box > div .btnicon,.lhc_kind .lhc_btn_box > div .btntxt {display: none;}
	.sp{font-family:'advanced_led_board-7'; font-size: 2.5vw;}
.lhc_kind .lhc_btn_box > div.red_con.active { background: url(../images/btn_bg_red.png);background-size:100% 100%;}
.lhc_kind .lhc_btn_box > div.blue_con.active { background: url(../images/btn_bg_blue.png);background-size:100% 100%;}
.lhc_kind .lhc_btn_box > div.green_con.active { background: url(../images/btn_bg_green.png);background-size:100% 100%;}
.lhc_kind .lhc_btn_box > div.red_con.active h6 { text-shadow: rgba(145, 24, 0, 0.3) 0px 1px 0px;}
.lhc_kind .lhc_btn_box > div.blue_con.active h6 { text-shadow: rgba(23, 72, 174, 0.3) 0px 1px 0px;}
.lhc_kind .lhc_btn_box > div.green_con.active h6, .lhc_kind.zodiac .lhc_btn_box > div.active h6 { text-shadow: 0px 1px 0px rgba(85, 129, 0, 0.3);}
	.lhc_kind .lhc_btn_box > div.active h6 { color: #fff;}
	.lhc_kind .lhc_btn_box > div.active .btnicon,.lhc_kind .lhc_btn_box > div.active .btntxt {display:inline-flex; font-size:2vw;flex-wrap:wrap-reverse;align-items: center; justify-content:center;}
	.lhc_kind .lhc_btn_box > div.active .btnicon span {  flex-direction:column; width: 3.2vw; height: 3.2vw; line-height: 3.2vw; text-align: center; font-size: 2vw; color: #000;  background: #fff; margin: 0.15vw; margin-top: -0.1vw;border-radius: 50%;}
	.lhc_kind .lhc_btn_box > div.red_con.active .btnicon span {color: #db0606;}
	.lhc_kind .lhc_btn_box > div.blue_con.active .btnicon span {color: #387bf4;}
	.lhc_kind .lhc_btn_box > div.green_con.active .btnicon span,.lhc_kind.zodiac .lhc_btn_box > div.active .btnicon span {color: #4c9c9e;}
/* 生肖 */	
.lhc_kind.zodiac .lhc_btn_box > div {width:24%;position: relative; background:url(../images/btn_bg_four.png); background-size:100% 100%; }
.lhc_kind.zodiac .lhc_btn_box > div > p { position: absolute; top: 1.5vw; left: 1.5vw;font-size: 2vw; }
.lhc_kind.zodiac .lhc_btn_box > div.active {background:url(../images/btn_bg_four_active2.png); background-size:100% 100%; }
	.lhc_kind.zodiac .lhc_btn_box > div.active .btnicon {display:inline-flex; width: 92%; margin-left: 4%; flex-wrap:wrap-reverse;align-items: center; justify-content:center;}
	.lhc_kind.zodiac .lhc_btn_box > div.active > p { color: #fff; }
/* 色波 */
.lhc_kind .lhc_btn_title > div {width: 33%; text-align: center; font-size:3vw;color: #fff; font-weight: normal;line-height: 5.5vw; margin:.7% .5%; }
.lhc_kind .lhc_btn_title > div:before { content: '▾'; margin-right: 2vw; }
.lhc_kind .lhc_btn_title > div:nth-child(1){ background: url(../images/ballTitleRed.png) bottom center no-repeat; background-size: 95%; margin-bottom:-0.7%;}
.lhc_kind .lhc_btn_title > div:nth-child(2){ background: url(../images/ballTitleBlue.png) bottom center no-repeat; background-size: 95%; margin-bottom:-0.7%; }
.lhc_kind .lhc_btn_title > div:nth-child(3){ background: url(../images/ballTitleGreen.png) bottom center no-repeat; background-size: 95%; margin-bottom:-0.7%; }
	.lhc_kind.color .lhc_btn_box > div {width:33%;min-height: 18vw; position: relative; background:url(../images/btn_bg_three.png); background-size:100% 100%; }
	.lhc_kind.color .lhc_btn_box > div h6 { margin-top: -2vw; font-size: 4vw; }
	.lhc_kind.color .lhc_btn_box > div.active .btntxt{font-size: 2vw; line-height: 2vw; word-break: break-all; text-align: center; color: #fff;}
	.lhc_kind.color .lhc_btn_box > div.red_con.active { background: url(../images/btn_bg_three_red.png);background-size:100% 100%;}
	.lhc_kind.color .lhc_btn_box > div.blue_con.active { background: url(../images/btn_bg_three_blue.png);background-size:100% 100%;}
	.lhc_kind.color .lhc_btn_box > div.green_con.active { background: url(../images/btn_bg_three_green.png);background-size:100% 100%;}
	.lhc_kind.color .lhc_btn_box > div.active h6 { padding-top: 2vw; }
/* 單純玩法 */
.lhc_kind .lhc_btn_box > div.numcon p,.lhc_kind:nth-child(5) .lhc_btn_box > div.numcon p{ font-family: 'advanced_led_board-7';}
	.lhc_kind.head .lhc_btn_box > div { width:24%;background:url(../images/btn_bg_four.png); background-size:100% 100%; }
	.lhc_kind .lhc_btn_box > div.numcon h6 { font-size: 5.5vw; }
	.lhc_kind.head .lhc_btn_box > div.numcon h6 { font-size: 5vw; }
	.lhc_kind .lhc_btn_box > div.numcon p { font-size: 2.5vw; }
	.lhc_kind .lhc_btn_box > div.numcon.active {background:  url(../images/btn_bg_active.png); background-size:100% 100%; }
	.lhc_kind .lhc_btn_box > div.numcon.active h6{  font-size: 5.5vw; text-shadow: 0px 1px 0px rgba(85, 129, 0, 0.3);}
	.lhc_kind .lhc_btn_box > div.numcon.active p { color: #fff; }
		.lhc_kind:nth-child(5) .lhc_btn_box > div.numcon p { bottom: 2.5vw;text-align: center;}
		/*.lhc_kind:nth-child(5) .lhc_btn_box > div.numcon h6 { margin-top: -2vw; }*/
		.lhc_kind:nth-child(5) .lhc_btn_box > div.active.numcon h6 { margin-top: -2vw; }
	.lhc_kind.head .lhc_btn_box > div.active { background:url(../images/btn_bg_four_active2.png); background-size:100% 100%; }

/*投注選擇視窗*/
.kind_popup  {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.kind_popup .kind_menubox {z-index: 101; width: 98%; margin: 0 auto; position: relative;}
.kind_popup .kind_menubox .kind_menu_title { background: url(../images/kind_popup_header.png); background-size: 100% 100%; height: 14vw; padding-bottom: 2vw; padding-top: 1vw; font-size: 3.5vw;color: #004c5e;font-weight: bold; text-align: center; }
.kind_popup .kind_menubox .kind_menu_title img { width: 3.5vw; margin-right: 1.5vw; }
.kind_popup .kind_menubox .kind_menu_title span { display: inline-block;  line-height: 7vw; font-size: 3.5vw; font-family:'advanced_led_board-7','Microsoft YaHei'; color: #fff;}
.kind_popup .kind_menubox > button { position: absolute; right: 0vw; top: 0vw;border: 0; background: rgba(0,0,0,0); }
.kind_popup .kind_menubox > button img { width: 9vw;  }
.kind_popup .kind_menubox .kind_menu_list {background: url(../images/kind_popup_body.png) repeat-y; background-size: 100% auto; padding-top: 6.5vw; }
.kind_popup .kind_menubox .kind_menu_list h6 { display: block; width: 91%;position: absolute; top: 13.5vw; left: 4.5%; font-size: 3.5vw; letter-spacing:0.2vw; text-align: center; line-height: 9vw;padding-bottom: 1.5vw; font-weight: normal; background: url(../images/kind_popup_title.png); background-size: 100% 100%;color: #004c5e; font-weight: bold; }
.kind_popup .kind_menubox .kind_menu_list ol {width: 88%; margin: 0 auto; padding: 1%; display: flex; flex-wrap: wrap;}
.kind_popup .kind_menubox .kind_menu_list ol li {font-family:'advanced_led_board-7','Microsoft YaHei';display: flex; flex-direction: column; font-size: 3.8vw; line-height: 5vw; padding:2vw 1vw; color: #fff; padding-bottom: 2vw; flex: 1 1 19%; margin: 1%; align-items: center; justify-content: center; text-align: center; background: url(../images/kind_btn.png); background-size: 100% 100%; font-weight: bold; }
.kind_popup .kind_menubox .kind_menu_list ol li span { font-size: 2.4vw;text-shadow: 0px 1px 1px rgba(71, 115, 0, 0); padding-top: 0.5vw; font-weight: normal; }
.kind_popup .kind_menubox .kind_menu_list ol li.active { background: url(../images/kind_btn_active.png); background-size: 100% 100%; color: #004c5e;  }
.kind_popup .kind_menubox .kind_menu_list p {font-size: 3vw;color: #fff; letter-spacing: 0.1vw; width: 88%;margin: 0 auto; text-align: center; }
.kind_popup .kind_menubox .kind_menu_list p:before { content: '★'; padding-right: 0.3vw; }
.kind_popup .kind_menubox:after { content: ''; display: block; width: 100%; height: 8vw; background: url(../images/kind_popup_bottom.png); background-size: 100% 100%;}
.kind_popup .kind_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }

/*footer*/
footer { position: fixed; bottom: 0; width: 100%; background: url(../images/bottom_bg.png); -webkit-background-size: 100% 100%;z-index: 90; background-size: 100% 100%; }
footer .bottom_btnbox { display: flex; align-items: center; padding: 2% 0 0;}
footer button { background: none; border: 0; flex: 1 1 0%; margin:0; padding-top: 5vw; font-size: 3vw; line-height:7vw; color: rgba(0,76,94,1); position: relative; font-family: "Microsoft YaHei"; font-weight: bold;}
footer button img { width: 5vw; display: block; margin:0 auto;}
footer button:last-child { flex: 1 1 3vw; color: rgba(0,255,255,0.7); margin-top: -4vw;font-size: 3vw; margin-left: 2vw; margin-right: -1vw;text-shadow: 1px 0 0 #62d8d1, 0 0 0 #000;font-weight: normal;}
footer button:first-child { flex: 1 1 4.5vw; color: rgba(0,255,255,0.7); margin-top: -4vw;font-size: 3vw;margin-left: -1.5vw; margin-right: 1.5vw; text-shadow: 1px 0 0 #62d8d1, 0 0 0 #000;font-weight: normal;}
footer button:last-child img ,footer button:first-child > img { width: 6vw; }
footer button:first-child span { position: absolute; top: 4.5vw; right: 5vw;opacity: 1; animation:star 1s infinite;-webkit-animation:star 1s infinite; transform: rotate(0deg); }
footer button:first-child span img { width: 3vw; }
@keyframes star{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
    	opacity: 1;
    }
}
/*投注倍率*/
.bot_menu_popup { position: fixed; bottom: 16.8vw; width: 100%; height: auto; background: url(../images/bottom_popup_bg.png) top center;background-size:100% 100% ; z-index: 90}
.bot_menu_popup .bot_menu_btn { display:flex; align-items: center; text-align: center;padding:5% 3% 0;margin-top:5vw; }
.bot_menu_popup .bot_menu_btn div { font-family: advanced_led_board-7;flex: 1 1 0; width: 14%; height: 15vw; line-height: 16vw; color: #fff; background: url(../images/num_btn_bg.png) center no-repeat; background-size: cover; margin:0;}
.bot_menu_popup .bot_menu_btn div.active{background: url(../images/num_btn_bg_active.png) center no-repeat; background-size: cover;color: rgba(0,76,94,1);}
.bot_menu_input {display: flex; align-items: center; padding: 0 5% 0 7%;font-size: 4vw;line-height: 10vw; height: 10vw; margin-bottom: 6vw; margin-top:4vw; }
.bot_menu_input input { font-size: 5vw; margin-top: -0.5VW; text-align: center; height: 100%; width: 54%; border: 0;font-weight: bold; color: rgba(0,76,94,1); background: transparent;padding: 0;font-family:advanced_led_board-7; }
.bot_menu_input button:last-child:before { content: ''; display: block; width: 5px; height: 100%; position: absolute; left: -5px; top: 0; }
.bot_menu_input button:first-child:before { content: ''; display: block; width: 5px; height: 100%; position: absolute; right: -5px; top: 0; }
.bot_menu_input button { position: relative; color: #fff; font-size: 5vw; width: 10%; height: 100%; padding: 0; border: 0;background: transparent; }
.bot_menu_input button:first-child {margin-left: 10px;}
	.bot_menu_input button svg {width: 5vw;}
	.bot_menu_input button svg path{  color: #004c5e; }
.window_bg { width: 100%; height: 100%; background: rgba(0,0,0,0);position: fixed; top: 0; left: 0;z-index: 89; }

/*跳窗*/
.window_con {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center;top: 0; left: 0;}
.window_con .window_box { position: relative; z-index:99;width: 90%; margin: 0 auto;}
.window_con .window_box > div { display: none; text-align: center;background:url(../images/popbg.png) no-repeat; background-size: 100%;}
.window_con .window_box > div dl{width: 90%; margin:5vw auto; border: 1px solid #2ecbc2;}
.window_con .window_box > div h4 {background:url(../images/popupbg.png); background-size: 100% auto; font-size: 4vw; font-weight: bold; color: #004c5e; letter-spacing: 2px; padding: 1vw 0; border-top-left-radius: 3px; border-top-right-radius: 3px; text-align: center;line-height: 8vw;}
.window_con .window_box > div h6 { font-size: 6vw;  color: #5b8600;line-height: 7vw; padding-top: 5vw; color: #9c4d35; font-weight: bold; } 
.window_con .window_box > div p { font-size: 3.8vw;  color: #fff; line-height: 12vw; padding: 3vw 0; }
.window_con .window_box > div button { margin-bottom: 3vw;margin-top: -3vw; width: 45%; color: #004c5e; font-size: 4vw; padding: 6.5vw 0; background:url(../images/buttonbg.png) no-repeat; background-size:100%;  border: none; font-family: "Microsoft YaHei"; font-weight: bold;}
.window_success dl dt,.window_success dl dd{ display: flex;align-items: center; }
.window_success dl dt{ background-color: #00fff7;}
.window_success dl dd div+div { border-left: .2vw solid #00fff7; }
.window_success div { flex: 1 1 0;font-size: 4vw;  color: #fff; line-height: 4vw; }
.window_success dl dt div { color: #004c5e;}
.window_clear div,.window_rules { display: flex; align-items: center; width: 90%; margin: 0 auto;}
.window_clear div button,.window_rules div button { flex: 1 1 auto;padding:0; margin: 0 3px; }
.window_con .window_box > div.window_rules p{ padding:4vw 5vw; line-height: 8vw; }
.window_con_bg {width: 100%; height: 100%;background: rgba(0,0,0,.7); position: fixed; top: 0; left: 0;}


/* 玩法介紹 */
.inside_header { min-height: 22vw; padding-top: 9.6vw;width: 100%; position: fixed; top: 0; font-size: 4vw; text-align: center; height: 12vw; justify-content:center; align-items:center; box-sizing:border-box; background: url(../images/indise_header_bg.png) top center no-repeat; background-size: 100% auto; }
	.inside_header .lhc_back { position: absolute; left: 4vw;top: 1vw; text-decoration: none; color: #fff; }
	.inside_header .lhc_back span {display: block; height: 6.5vw; line-height: 6.5vw; font-family: "Microsoft YaHei";font-weight: bold;color: #004c5e;font-size: 4vw; padding-top: 10.4vw; margin-left: 1.3vw; }
	.inside_header .lhc_back span img { width:4vw;  margin-right:1px; display:inline-block; vertical-align: middle; position:relative; z-index:4; top:-2px;}
	.inside_header .lhc_tit { text-align: center;font-size: 4vw; line-height: 10vw;font-weight: bold;color: #07e3d9;}
	.rules_con > div { width: 90%; margin: 0 auto; }
	.howtoplay dt{background: #00fff7; height:30px;display: flex;align-items: center; color:#004c5e;}
	.howtoplay dd{display: flex;color: #fff; align-items: center;border-bottom: 1px solid #00fff7;}
		.howtoplay dd div{padding: 10px 0; }
		.howtoplay dd div+div{ border-left: 1px solid #00fff7; }

	.lottery_rules{padding: 4%;padding-top: 25vw; margin: 0 auto;font-size: 3.2vw; line-height: 5vw;padding-bottom: 20px; }	
		.lottery_rules h3 { line-height:7vw;padding: 4px 0 4px 15px; font-size: 5vw; color: #fff; display: flex; align-items: center; background: #004c5e; margin-bottom: 2vw; border-radius: 20px; }
		.lottery_rules h3::before { content: '';margin-right: 5px;display: inline-block;width: 16px;height: 16px; background: url(../images/star.png);background-size:100% 100%; }
		.lottery_rules .introduction h3::after,.howtoplay h3::after { font-weight: 200; margin-left: 7px; color: #fff;}
		.lottery_rules .introduction h3::after{ content: 'Introduction';}	
		.lottery_rules .howtoplay h3::after{ content: 'How to Play'; }
		.lottery_rules .introduction {padding-bottom: 20px; }
		.lottery_rules .introduction p { line-height: 6vw; }	
			.howtoplay dl{ border: 1px solid #00fff7; border-bottom: 0; background: rgba(27,48,65,0.4); }
			.howtoplay div{ flex: 1 0 70%; align-items: center;box-sizing: border-box; padding: 10px 3px; }
			.howtoplay div:first-child{flex: 1 0 30%; text-align: center;}
			.howtoplay dd div{box-sizing: border-box; padding: 6px 3px; }
			.howtoplay dt div{ text-align: center; }

/*投注纪录*/
	.lhc_my_bets{padding-top: 25vw; width: 92%; margin: 0 auto;}
	.lhc_my_bets dt{background: #004c5e; color: #fff; display: flex;align-items: center;}
	.lhc_my_bets dd{display: flex; color: #fff; align-items: center;border: 1px solid #00fff7;border-bottom: 0px solid #00fff7; background: rgba(27,48,65,0.4);}
	.lhc_my_bets dd:last-child{border-bottom: 1px solid #00fff7;}
		.lhc_my_bets div{ font-size: 3.5vw; line-height: 9vw; text-align: center;align-items: center; flex:1 1 0;}
		.lhc_my_bets dd:nth-of-type(even){ background:rgba(42,75,102,0.5); }
		.lhc_my_bets dd > div:nth-child(2) { flex:1 1 0;display: flex; align-items: center; justify-content: center; text-align: center; border-left: 1px solid #00fff7;border-right: 1px solid #00fff7;}
			.lhc_my_bets dd > div:nth-child(2) div {line-height:4vw; font-size: 3vw;flex: 1 1 0%; padding: 1.5vw 0;}
			.lhc_my_bets dd > div:nth-child(2) div:last-child { margin-left: 1vw; }
			.lhc_my_bets dd > div:nth-child(2) div:last-child:before { content: '+'; position: absolute; margin-left: -2.4vw; }
			.lhc_my_bets dd > div:nth-child(2) div span { color: #fff; display:inline-block; border-radius: 50%; font-size: 2.7vw; font-weight: bold; width:4.2vw; height:4.2vw; text-align: center; margin-bottom: 1vw; }
			.lhc_my_bets dd > div:nth-child(2) div.num_red span { background: #e12500; }
			.lhc_my_bets dd > div:nth-child(2) div.num_blue span { background:#1a63e7; }
			.lhc_my_bets dd > div:nth-child(2) div.num_green span { background: #568600; }

/*走勢圖*/
.chart { width: 92%;margin: 0 auto;background: rgba(27,48,65,0.4);color:#fff; padding-top: 25vw;}
	.chart h2 { display:none; }
	.chart ul { font-size:16px; padding:5px 10px; display:flex; }
	.chart ul li { color:#00fff7; text-align:center; padding:6px 4px; margin:5px; border:1px solid #00fff7; border-radius:3px; flex:1 1 0%; }
	.chart ul li.active { background:#004c5e; color:#fff; border:1px solid #00fff7; }
	.chart .chart_tit, .chart .lhcchart_totaltit, .chart .lhcchart_tit, .chart .lhcchart_specialtit { background:#004c5e; border-bottom:1px solid #00fff7; display:flex; }
	.chart .chart_tit dt, .chart .chart_tit dd, .chart .chart_list dt, .chart .chart_list dd, .chart .lhcchart_tit dt, .chart .lhcchart_tit dd, .chart .lhcchart_number dt, .chart .lhcchart_number dd, .chart .lhcchart_totaltit dt, .chart .lhcchart_totaltit dd, .chart .lhcchart_total dt, .chart .lhcchart_total dd, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd, .chart .lhcchart_special dt { font-size:11.5px; text-align:center; padding:3.6% 1%; border-right:1px solid #00fff7; flex:1 1 0%; }
	.chart .chart_tit dt, .chart .chart_list dt, .chart .lhcchart_tit dt, .chart .lhcchart_number dt, .chart .lhcchart_total dt, .chart .lhcchart_totaltit dt, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd:last-child, .chart .lhcchart_special dt, .chart .lhcchart_special dd:last-child  { padding:3.6% 2%; flex:1 1 10%; }
	.chart .chart_tit dd, .chart .lhcchart_tit dd, .chart .lhcchart_specialtit dd { flex-direction:column; justify-content:space-evenly; align-items:center; }
	.chart .chart_tit dd:last-child, .chart .chart_list dd:last-child, .chart .lhcchart_tit dd:last-child, .chart .lhcchart_number dd:last-child, .chart .lhcchart_totaltit dd:last-child, .chart .lhcchart_total dd:last-child, .chart .lhcchart_specialtit dd:last-child { border-right:none; }
	.chart .chart_tit dd, .chart .lhcchart_tit dd, .chart .lhcchart_totaltit dd, .chart .lhcchart_specialtit dd { font-weight:600; }
	.chart .chart_tit dd span, .chart .chart_list dd span { padding:0 4px; }
	.chart .chart_list, .chart .lhcchart_number, .chart .lhcchart_total, .chart .lhcchart_special { color:#fff; border:none; display:flex; }
	.chart .chart_red { color:#ef0000; }
	.chart .chart_list dt, .chart .lhcchart_number dt, .chart .lhcchart_total dt, .chart .lhcchart_specia, .chart .lhcchart_special dt, .chart .lhcchart_special dd { font-size:12px; }
	.chart .chart_list dd span.red { background:#ef0000; color:#fff; border-radius:20px; }
.bg_gray { background:rgba(42,75,102,0.5); }

/*六合彩*/
	.chart .lhcchart_totaltit dt, .chart .lhcchart_tit dt, .chart .lhcchart_specialtit dt, .chart .lhcchart_specialtit dd:last-child { border: none;font-weight:bold; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_tit dd, .chart .lhcchart_number dd { flex:1 1 57%; }
	.chart .lhcchart_tit .lhcchart_txt1 { padding:8px 0 18px; }
	.chart .lhcchart_tit .lhcchart_txt2 div { margin-left:-1px; }
	.chart .lhcchart_tit .lhcchart_txt2, .chart .lhcchart_specialtit .lhcchart_specialtxt { display:flex; justify-content:space-evenly; }
	.chart .lhcchart_tit .lhcchart_txt2 div, .chart .lhcchart_specialtit .lhcchart_specialtxt div { line-height:14px; width:3%; margin:4px 5.3% 0; }
	.chart .lhcchart_number dt, .chart .lhcchart_number dd, .chart .lhcchart_special dd { display:flex; -moz-box-pack:center; justify-content:space-evenly; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dt { display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dd div { font-size:12px; width:9%; margin:0 2.8% 0; display:flex; flex-direction:column; -moz-box-pack:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_number dd div span { text-align:center; line-height:20px; display:flex; flex-direction:column; }
	.chart .lhcchart_number .lhc_rednum, .chart .lhcchart_number .lhc_greennum, .chart .lhcchart_number .lhc_bluenum { color:#fff; line-height:20px; text-align:center; width:20px; height:20px; border-radius:20px; margin:auto 2px; }
	.chart .lhcchart_number .lhc_rednum { background:linear-gradient(to bottom, #ff1e00 0%,#8e0000 100%); border:1px solid #c50000; box-shadow:inset rgba(255, 240, 157, 0.2) 0px 2px 0px; }
	.chart .lhcchart_number .lhc_greennum { background:linear-gradient(to bottom, #51e600 0%,#1f8500 100%); border:1px solid #26a100; box-shadow:inset rgba(181, 255, 159, 0.2) 0px 2px 0px; }
	.chart .lhcchart_number .lhc_bluenum { background:linear-gradient(to bottom, #2dc6ff 0%,#0066d9 100%); border:1px solid #298eff; box-shadow:inset rgba(120, 183, 255, 0.2) 0px 2px 0px; }
	.chart .lhcchart_totaltit dd { color:#fff; flex:1 1 16%; border: none;}
	.chart .lhcchart_total dd { color:#fff; flex:1 1 16%; }
	.chart .lhcchart_specialtit dd:last-child, .chart .lhcchart_special dd:last-child { flex:1 1 7.5%; }
	.chart .lhcchart_specialtit .lhcchart_specialtxt div { width:4%; margin:4px 6.5% 0; }

	.chart .lhcchart_specialtit dd, .chart .lhcchart_special dd { flex:1 1 44.5%; border: none; }
	.chart .lhcchart_special dt { display:flex; flex:1 1 20.8%; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; }
	.chart .lhcchart_special dd { flex:1 1 46.4%; }
	.chart .lhcchart_special dd:last-child { color:#fff; justify-content:center; }
	.chart .lhcchart_special .lhcchart_fontred, .chart .lhcchart_special .lhcchart_fontblue, .chart .lhcchart_special .lhcchart_fontgreen { line-height:14px; width:4%; margin:4px 6.3% 4px; display:flex; flex-direction:column; }
	.chart .lhcchart_special .lhcchart_fontred { color:#ff7979; }
	.chart .lhcchart_special .lhcchart_fontblue { color:#63d8ff; }
	.chart .lhcchart_special .lhcchart_bgred { background:#d10404; }
	.chart .lhcchart_special .lhcchart_bggreen { background:#359817; }
	.chart .lhcchart_special .lhcchart_bgblue { background:#337bfe; }

/*新手教學視窗*/
.new_window  {position: fixed; z-index: 100;width: 100%; height: 100%; display: flex;align-items: center; justify-content: center; top: 0; left: 0;}
.new_window .new_menubox {z-index: 101; width: 98%; margin: 0 auto; position: relative;}
.new_window .new_menubox .new_menu_title { background: url(../images/kind_popup_header.png); background-size: 100% 100%; height: 14vw; padding-top:1vw; padding-bottom: 3VW; font-size: 4.5vw;color: #004c5e;letter-spacing: 2px;font-weight: bold; text-align: center; }
.new_window .new_menubox .new_menu_title img { width: 3.5vw; margin-right: 1.5vw; }
.new_window .new_menubox .new_menu_title span { display: inline-block; border-radius: 30px;  box-shadow: 0px 1px 1px 0px #dc882e, inset 0px 1px 1px 0px #b5710b;  background-color: #fdd82f; padding:0 3vw; line-height: 7vw; font-size: 5vw;}
.new_window .new_menubox > button { position: absolute; right: 0; top: 0;border: 0; background: rgba(0,0,0,0); }
.new_window .new_menubox > button img { width: 9vw;  }
.new_window .new_menubox .new_menu_list { -webkit-overflow-scrolling: touch; height: 110vw; overflow-y: auto; background: url(../images/kind_popup_body.png) repeat-y; background-size: 100% auto; text-align: center; z-index: 300; }
.new_window .new_menubox .new_menu_list h6 {font-size: 4vw; font-family:'advanced_led_board-7','Microsoft YaHei'; display: block;color: #004c5e; width: 91%; letter-spacing:0.2vw; text-align: center; line-height: 9vw;padding-bottom: 0.5vw; font-weight: bold; background: url(../images/kind_popup_title.png); background-size: 100% 100%; margin: 0 auto;}
.new_window .new_menubox .new_menu_list p {font-size: 3.5vw; line-height: 8vw; padding-top: 1vw; color: #fff; letter-spacing: 0.1vw; width: 88%;margin: 0 auto; text-align: center; }
.new_window .new_menubox .new_menu_list img { width: 80%; margin: 2vw auto 4vw; }
.new_window .new_menubox .new_menu_list .step div { display: flex; flex:1 1 0; justify-content: center; }
.new_window .new_menubox .new_menu_list .step div span { display: block; width: 50%; }
.new_window .new_menubox .new_menu_list .step div img { width: 100%; height: auto; }
.new_window .new_menubox .new_menu_list .step div ol { padding-top: 1vw; }
.new_window .new_menubox .new_menu_list .step div li { font-size: 2.8vw; padding-left: 3vw; text-align: left; line-height: 4.5vw; }
.new_window .new_menubox:after { content: ''; display: block; width: 100%; height: 8vw; background: url(../images/kind_popup_bottom.png); background-size: 100% 100%;}
.new_window .new_window_bg {width: 100%; height: 100%; background: rgba(0,0,0,.8);position: fixed; top: 0; left: 0;z-index: 100; }
/*loading動畫*/
.loading{
	width: 100%;
	height: 100%;
	background: #55c6d0;
	position: fixed;
	z-index: 999;	
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
	-webkit-animation: loading 1s forwards;
	-moz-animation: loading 1s forwards;
	-o-animation: loading 1s forwards;
	animation: loading 1s forwards;
	animation-delay: 2.5s;
}
@keyframes loading {
	from { opacity:1;}
	to { opacity:0; z-index: -999;}
}
.loadbar{width: 84%; margin: auto; text-align: center; padding: 3%;}
.limg{width: 84%; position: absolute;}
.limg img{ width: 100%;}
.loadcolor{background-color: #02809d;
	padding: 3% 0;
	border-radius: 30px;
	margin-top: 1%;
	-webkit-animation: loadcolor 2s forwards;
	-moz-animation: loadcolor 2s forwards;
	-o-animation: loadcolor 2s forwards;
	animation: loadcolor 2s forwards;
}
@keyframes loadcolor {
	from { width:0%;}
	to { width:100%;}
}
/*投注詳情*/
#detail{ -webkit-overflow-scrolling: touch;width: 100%; height: 100%; background: rgba(0,0,0,1); position: fixed;	top: 0;	z-index: 9999;left: 100%;background: url(../images/bg.png) repeat;background-size: 100%;color: #fff;overflow-y: scroll;}
#detail .inside_header{position: fixed; top: 0; left: 0;}
#detail .inside_header nav { padding:0 3.7vw; height: 12vw; position:relative; display:flex; -moz-box-pack:center; justify-content:center; -moz-box-align:center; align-items:center; box-sizing:border-box; }
#detail .inside_header nav .right-menu{ flex:1 1 0%; z-index: 3;}
#detail .inside_header nav .left-menu{flex: 1.5 1 0%; position: absolute; top: 0; left: 3.7vw;z-index: 3;}
#detail .inside_header nav .left-menu img{ width: 15.6vw;height: 23.5vw;position: initial;}
#detail .inside_header nav .title { font-size: 4vw;margin-left: 32vw; margin-top: 14vw; flex: 1 1 0%; text-align: center;}
#detail .inside_header nav .right-menu{display: flex;}
#detail .inside_header nav .right-menu > img{right: 14vw;}
.detail{padding-top: 5vw; padding-bottom: 5vw; width: 84%; margin: 0 auto;}
.detail dd > div:nth-child(1){ background:rgba(42,75,102,0.5); }
.detail dl{margin-bottom: 2vw; background: rgba(27,48,65,0.2);}
.detail dd{display: flex; color: #fff;}
.detail dl:nth-child(n+2) dd{border: 1px solid #00fff7;border-bottom: 0;}
.detail dl:nth-child(n+2) dd:last-child{border-bottom: 1px solid #00fff7;}
.detail dl:nth-child(n+2) dd > div:nth-child(1){justify-content: center;}
.detail dl:nth-child(n+2) dd > div:nth-child(2){border-left: 1px solid #00fff7;}
.detail div{ font-size: 3.5vw; line-height: 9vw; flex:1 1 25%;padding:0 1vw; display: flex; align-items: center;}
.detail dd > div:nth-child(2) {flex:1 1 75%;display: flex;}
.detail dd.tit{background: rgba(42,75,102,0.2); color: #00fff7; font-weight: bold;}
.detail dl:last-child dd,.detail dl:last-child dd div:nth-child(2),.detail dl:last-child dd:last-child{border: none;}
span.gray_sta,.green_sta,.red_sta{padding:0 1vw; margin: 1vw; margin-left: 0; border-radius: 1vw;line-height: 5vw; }
.gray_sta{background: gray;}
.green_sta{background: green;}
.red_sta{background: red;}